<% if @ajaxresponse == "Logged in!" %>
location.reload();
<% elsif @ajaxresponse == "Confirm Email" %>
$('#loginupdate').html("Your account needs to be authorised and your email confirmed before you can use it. <a id = 'resendemail' href = '/resend/<%= @user_id.to_s %>' style = 'color:#DA4F49;' data-remote=true>Click here to resend your confirmation link</a>");

$('#resendemail').click(function (e) {
	$('#loginupdate').html("Sending email...");
});

<% else %>
$('#loginupdate').html('<%=  raw(@ajaxresponse) %>');
<% end %>

