<div class = "page_wrapper" style = "max-width:400px;padding:0px;padding-top:0px; box-sizing: border-box;padding-left:10px;padding-right:10px;">
  <div class="shopSaveShareMsg2">
    <div class="shopSaveShareTxt2">
      <ul>
          <li class="selected">
            Please update your password    
          </li>
      </ul>
    </div>
  </div>
  <div class = "dashboarduser contentpane resetpassword" style = "margin-top: 0px;margin-bottom: 40px;">
   <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
      <div class="actions"><%= submit_tag "Update Password", {:style => 'margin-top:20px;border:0px solid white;', :class => 'fa-button'} %></div>
<% end %>
  </div>
</div>