<div class = "page_wrapper" style = "max-width:400px;padding:0px;padding-top:0px; box-sizing: border-box;padding-left:10px;padding-right:10px;">
  <div class="shopSaveShareMsg2">
    <div class="shopSaveShareTxt2">
      <ul>
          <li class="selected">
            Reset password     
          </li>
      </ul>
    </div>
  </div>
  <div class = "dashboarduser contentpane resetpassword" style = "margin-top: -20px;margin-bottom: 40px;">
    <%= form_tag password_resets_path, :method => :post do %>
      <div class="field" style = "margin-bottom:10px;">
      <label for="email">Email</label>
      <%= text_field_tag :email  %>
      </div>
      <div class="actions"><%= submit_tag "Reset Password", {:style => 'margin-top:20px;border:0px solid white;', :class => 'fa-button'} %></div>
    <% end %>
  </div>
</div>