<p>Hi <%= @user.first_name %>,</p>
<p>Say hello to FRNZY, a place to get better deals on products you want. We’re excited to welcome you as the newest member of the FRNZY family and invite you to join in!</p>
<p>If you have any questions we’d love to hear from you. Follow us on Facebook or @jointhefrnzy on Twitter or email us at hello@frnzy.co.uk</p>
<p><a href="http://www.frnzy.co.uk">You can visit FRNZY here</a></p>
<p>Best wishes.</p>
<p>Jez and the FRNZY team.</p>
<p>P.S. You can win a pair of Dr Dre urBeats earphones worth £80 by inviting the most people to join FRNZY in any month! Simply click ‘Invite friends’ in your profile menu and follow the instructions. </p>
<p>Good luck!</p>