<p>Hi,</p>
<p>Thanks for joining FRNZY!</p>
<p><a href = "<%= edit_email_confirm_url(@user.email_confirm_token) %>">Please confirm your registration here</a></p>
<p>Best wishes.</p>
<p>Jez and the FRNZY team.</p>
