<p>Congratulations!</p>
<p><%= @user.first_name.capitalize %> has been using FRNZY, a place to get better deals on products you want and invited you to join.  </p>
<p><a href="http://www.frnzy.co.uk/invite/<%= @referral.referral_code %>">You can join FRNZY for free here</a></p>
<p>If you have any questions we’d love to hear from you. Follow us on Facebook or @jointhefrnzy on Twitter or email us at hello@frnzy.co.uk</p>
<p>Best wishes. </p>
<p>Jez and the FRNZY team.</p>