<p>Hi,</p>
<p><%= @user.first_name.capitalize %> invited you to join a deal for <%= raw @deal.product.name %> on FRNZY. </p>
<p>FRNZY is a place to get exclusive group deals on products you want. Deals are unique to FRNZY and available for a limited time only!</p>
<p><a href="http://www.frnzy.co.uk/invite/<%= @referral.referral_code %>">You can see the deal here</a></p>
<p>Best wishes.</p>
<p>Jez and the FRNZY team.</p>