<p>Hi,</p>
<p><%= @user.first_name %> invited you to want <%= raw @product.name %> on FRNZY. </p>
<p>FRNZY is a place to get exclusive group deals on products you want. The more ‘wants’ a product gets, the bigger the discount we can find you!</p>
<p><a href="http://www.frnzy.co.uk/invite/<%= @referral.referral_code %>">You can see the product here</a></p>
<p>Best wishes.</p>
<p>Jez and the FRNZY team.</p>