You have received the following contact from 
<%= @contactmessage.name %>, 
<%= @contactmessage.email %><br><br>
<h3><%= @contactmessage.subject %></h3>
<%= @contactmessage.body %><br><br>

<br>

<h4>FRNZY</h4>
