<p>Hi <%= @user.first_name.capitalize %>,</p>
<p>Good news! We've created a deal for you on a product you want.</p>
<p><a href = "https://www.frnzy.co.uk/deals/<%= @deal.slug %>">You can see the offer for <%= @deal.product.name %> here</a></p>
<p>Remember, if you invite the most people to a deal and the deal is successful (i.e. enough people join and it reaches tipping point), you will get your product for free!</p>
<p>Best wishes.</p>
<p>Jez and the FRNZY team.</p>   





