<h2>To reset your password, click the link below</h2>

<p><a href = "<%= edit_password_reset_url(@user.password_reset_token) %>">Please click here</a></p>
<p>If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.</p>

<br>

<h4>FRNZY</h4>
