<p>Hi <%= @user.first_name.capitalize %>,</p>
<p>You can win a pair of Dr Dre urBeats earphones by inviting the most people to join FRNZY in any month! Simply click ‘Invite friends’ in your profile menu and follow the instructions.</p>
<p><a href = "https://www.frnzy.co.uk/win_urBeats_by_dre">Find out more here</a></p>
<p>Best wishes.</p>
<p>Jez and the FRNZY team.</p>