<p>Hi <%= @user.first_name.capitalize %>,</p>
<p>You can invite friends directly to any product or deal by sending them a personalised link which credits you with the referral. And as an incentive, whoever refers the most people to a successful deal will get their product free, courtesy of us! </p>
<p><a href = "https://www.frnzy.co.uk">Start inviting friends here</a></p>
<p>Best wishes.</p>
<p>Jez and the FRNZY team.</p>