<p>Hi <%= @user.first_name.capitalize %>,</p>
<p>FRNZY is a brand new community-led marketplace that makes group buying a more social, relevant and rewarding experience for everyone. </p>
<p>Q: Want the chance to get better deals on the products you want?<br>
A: Join the FRNZY!</p>
<p>Q: Want to connect with other likeminded shoppers?<br>
A: Join the FRNZY!</p>
<p>Q: Want to earn rewards for inviting others to join you?<br>
A: Join the FRNZY!</p>
<p><a href = "http://www.frnzy.co.uk/how_it_works">See how it works here</a></p>
<p>Best wishes.</p>
<p>Jez and the FRNZY team.</p>