<p>Hi <%= @user.first_name.capitalize %>,</p>
<p>If you find something online you just can’t live without and would like us to create you an exclusive group deal for it, simply copy and paste the product URL into FRNZY, add a few details and it’ll appear on the homepage for others to want too!</p>
<p><a href = "https://www.frnzy.co.uk/products/new">See how easy it is to add products here </a></p>
<p>Best wishes.</p>
<p>Jez and the FRNZY team.</p>