<p>Hi <%= @user.first_name.capitalize %>,</p>
<p>Did you know you can connect with other likeminded shoppers on FRNZY? And if you discover someone with impeccable taste, you can follow them and they can follow you. It’s a great way to inspire and be inspired.</p>
<p><a href = "https://www.frnzy.co.uk">Find people to follow here</a></p>
<p>Best wishes.</p>
<p>Jez and the FRNZY team.</p>