<p>Hi <%= @user.first_name.capitalize %>,</p>
<p>As the products you want become more popular, we’ll search high and low to find sellers who’ll offer you exclusive group deals. Once we post it on FRNZY you can either join the deal or not, the choice is yours. There’s no obligation to buy and no pressure either.</p>
<p>The success of any deal is dependant on a minimum number of people joining. So if we make you an amazing offer remember to invite your friends, followers and Facebook buddies and share the love!</p>
<p><a href = "https://www.frnzy.co.uk">See our current deals here </a></p>
<p>Best wishes.</p>
<p>Jez and the FRNZY team.</p>