<p>Hi <%= @user.first_name %>,</p>
<p>Thanks for joining this deal for <a href = "http://www.frnzy.co.uk/deals/<%= @deal.slug %>"><%= raw @deal.product.name %></a>. FRNZY is not like other online shopping platforms so there are a few things we should mention:</p>
<p>Deals are exclusive to FRNZY and available for a limited time only.</p>
<p>Because each deal is a reverse auction, competing sellers can actually bid the price down, so your deal can get better even after you join it! If the final deal price is lower than your initial payment, you will be refunded the difference if/when the deal tips.</p>
<p>You can invite anyone to the deal by clicking the invite button on the deal page and if you refer the most people to a deal and the deal tips, you will get your product for free!</p>
<p>You can leave the deal at any time up to 48hrs from the end of the deal (as long as minimum number of buyers has been reached) and will be fully refunded.</p>
<p>Each seller sets a minimum number of buyers needed for the deal to tip and a group discount based on that number. If not enough join the deal then the offer will be withdrawn, you will be fully refunded and your ‘want’ will be returned to FRNZY for a seller to make a new offer.</p>
<p>Any questions please email us at hello@frnzy.co.uk</p>
<p>Best wishes.</p>
<p>Jez and the FRNZY team.</p>
