<p>Hi,</p>
<p>Unfortunately, the exclusive deal you were in for <%= @deallink.deal.product.name %> was unsuccessful due to the minimum number of buyers not being reached in time. We’re really sorry about this.</p>
<p>Of course you will be 100% refunded and your ‘want’ returned to FRNZY for a seller to make a new offer. </p>
<p>Any questions please email us at hello@frnzy.co.uk</p>
<p>
Best wishes.
</p><h4>
Jez and the FRNZY team.</h4>
