<p>Congratulations <%= @user.first_name %>! You are now the proud owner of <%= @deallink.deal.product.name %>.</p>

<p>The winning seller will be shipping your product to you in the next 3-5 days and will email you with confirmation shortly.</p>

<p>They are responsible for all returns and refunds. However, if you are not 100% satisfied with their after sales service please email us at <a href="mailto:hello@frnzy.co.uk">hello@frnzy.co.uk</a> and we will do our best to put things right!</p>

<p>Thanks for using FRNZY!</p>

<p>Jez and the FRNZY team.</p>