
<div class = 'comment' id = "commentid_<%= comment.id %>">


	<div class = "comment_left">
	<% unless comment.user.nil? %>

		<% if comment.user.provider == 'facebook' %>
			<% theproductimageurl = 'https://graph.facebook.com/' + comment.user.uid.to_s + '/picture?type=large' %>
		<% else %>
			<% theproductimageurl = comment.user.photo.url(:extrasmall) %>
		<% end %>

		<%= link_to (image_tag theproductimageurl,{:class=>"frnzy_want_heads"}), comment.user  %>
	<% end %>
	</div>


	<div class = "comment_right">

	<% unless comment.user.nil? %><span class = "comment_username">
		<%if comment.user.role_id == 2 %>	
			<%= comment.user.company %>
		<% elsif comment.user.role_id == 3 %> 
			<%= comment.user.first_name %> <%= comment.user.last_name %>
		<% elsif comment.user.role_id == 1 %> 
			<%= comment.user.first_name %> <%= comment.user.last_name %>
		<% end %></span>
		<br>
	<% end %>
		<span class = "comment_body"><%= comment.comment %><br>
		<span class = "comment_date">
		<% from_time = Time.now  %>
		Posted <%= distance_of_time_in_words(from_time, comment.created_at)  %> ago     
		<% if current_user %>
			<% if (current_user.id == comment.user_id) || (current_user.role_id == 1) %>
				<a data-remote=true href = "/remove_comment/<%= comment.id %>">Delete comment</a>
			<% end %>
		<% end %>
	</div>

	

</div>


