<% title ('FRNZY / ' + params[:query]) %>	
<% set_meta(:title => ('FRNZY / ' + (j params[:query])), :description => ('FRNZY / ' + (j params[:query]))) %>
    
<%= javascript_tag do %>
  window.searchQuery = "<%=j params[:query] %>";
  window.searchCategory = "<%=j params[:qcategory] %>";
<% end %>

<% unless @combinedproductsandtroops.empty? %>
<% if params[:controller] == "search" %>
                 
           

              <div class="shopSaveShareMsg2">
    <div class="shopSaveShareTxt2">
        <ul>
            <li class="selected">
               Search results for <%= params[:query] %>
            </li>
        </ul>
    </div>
</div>

   <% end %>

<div class = 'isotope' id = "fade_on_load" style = "opacity:0;">
		<%= render @combinedproductsandtroops %>	
	</div>
<% else %>

<div class="shopSaveShareMsg2">
    <div class="shopSaveShareTxt2">
        <ul>
            <li class="selected">
                <% if current_user %>
			<span style="font-size: 1.1em">Oops! We don't seem to have what you want, <a class = "add_popup_open"> click here to add <%= @searchquery %></a>.</span>
		<% else %>			
			<span style="font-size: 1.1em">Oops! We don't seem to have what you want, <a data-toggle="modal" href="#myModal">click here to login before you can add <%= @searchquery %></a>.</span>
		<% end %>
            </li>
        </ul>
    </div>
</div>


	
<% end %>
	
<div id = "endlesspagination">
	<%= will_paginate @combinedproductsandtroops, previous_label: h("<"), next_label: h(">") %>
</div>
