
<div class="navbar">
	<div class="navbar-inner">
		<a href="#" class="subbrand">Thank you for completing the transaction</a>
	</div>
</div>


<p id="notice"><%= notice %></p>
<div class = "contentpane">
<p>
Thank you <%= @dealcomplete.user.username.titleize %>.
</p>

<p>
<a class = "btn" href = "/dashboard">Click here to return to your dashboard.</a>
</p>
</div>

