<h1>Listing troopcompletes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Troop</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dealcompletes.each do |troopcomplete| %>
  <tr>
    <td><%= troopcomplete.user_id %></td>
    <td><%= troopcomplete.deal_id %></td>
    <td><%= link_to 'Show', troopcomplete %></td>
    <td><%= link_to 'Edit', edit_troopcomplete_path(troopcomplete) %></td>
    <td><%= link_to 'Destroy', troopcomplete, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Troopcomplete', new_troopcomplete_path %>
