
<% if current_user %>
	<% if current_user.username.include?(@dealcomplete.user.username) %>
		<% if @dealcomplete.transaction_status != 1 %> 


<div class="navbar">
	<div class="navbar-inner">
		<a href="#" class="subbrand">Complete transaction</a>
	</div>
</div>

<p id="notice"><%= notice %></p>

<div class = "contentpane">


<p>
<%= @dealcomplete.user.username.titleize %> has agreed to purchase <%= @dealcomplete.deal.product.name.titleize %> from <%= @dealcomplete.deal.user.username.titleize %>.
</p>

<p>
<a class = "btn btn-danger" href = "/troopcompletes/thankyou/<%= @dealcomplete.id %>">Click here to pay <%= number_to_currency(@dealcomplete.deal.price, :unit => "£") %> via paypal.</a>


</p>




</div>






<% else %> 






<div class="navbar">
	<div class="navbar-inner">
		<a href="#" class="subbrand">Transaction complete, thankyou</a>
	</div>
</div>

<p id="notice"><%= notice %></p>
<div class = "contentpane">

<p>
<%= @dealcomplete.user.username.titleize %> purchased <%= @dealcomplete.deal.product.name.titleize %> from <%= @dealcomplete.deal.user.username.titleize %>.
</p>

<p>
<a class = "btn" href = "/dashboard">Click here to return to your dashboard.</a>
</p>

</div>





<% end %>



<% else %>
This is not your troop to pay for.
<% end %>
<% end %>
