
<% if like = current_user.likes.find_by_product_id(@product.id) %>
		<div class = "product_want_btn frnzyHeadBtn right">
			<a>
				<%= @product.likes.count %>
				<div class="product_want_smltxt">wants</div>
			</a>
		</div>
<% else %>

	<%= form_for current_user.likes.build(:product_id => @product.id), :html => {:class => "unwant-form"+@product.id.to_s() }, :remote => true do |f| %>
		
		<%= f.hidden_field :product_id %>
		<%= f.hidden_field :user_id %>
		<div style = "cursor:pointer;" onclick="$('.unwant-form<%= @product.id %>').submit()" class = "product_want_btn frnzyHeadBtn right">
			<a>
				WANT
				<div class="product_want_smltxt"><%= @product.likes.count %> wants</div>
			</a>
		</div>
	<% end %>
<% end %>





