<% if like = current_user.likes.find_by_product_id(@product.id) %>
	<a href="#">
		<%= @product.likes.count %>
		<div class="product_want_smltxt"> 
			<%= if (@product.likes.count > 1)
				"wants" 
			else
				"want"
			end%>
		</div>
	</a>
<% else %>
	<%= form_for current_user.likes.build(:product_id => @product.id), :html => {:class => "unwant-form"+@product.id.to_s() }, :remote => true do |f| %>
		<%= f.hidden_field :product_id %>
		<%= f.hidden_field :user_id %>
		<%= link_to "#", :onclick=>"$('.unwant-form#{@product.id}').submit()", :class => "" do%>
			WANT
			<div class="product_want_smltxt"><%= @product.likes.count %> wants</div>
		<% end %>
	<% end %>
<% end %>
