if($('.productnumber_<%= @product.id %>').length > 0)
{
	$('.productnumber_<%= @product.id %>').html("<%= escape_javascript render :partial =>'products/product_inner.html.erb', :object => @product, as: :product %>")
}

//$("#like_<%= @product.id %>").html("<%= escape_javascript render('like_button') %>");
if($("#like_p_<%= @product.id %>").length > 0)
{
	$("#like_p_<%= @product.id %>").html("<%= escape_javascript render('like_button_product') %>");
}
