<% title ('FRNZY / ' + @group.name) %>	
<% set_meta(:title => ('FRNZY / ' + @group.name), :description => ('FRNZY / ' + @group.name)) %>
	


<% if cookies[:wanted_filter].present? %>
<% else 
	cookies[:wanted_filter] = {
  :value => '1',
  :expires => 1.year.from_now,
  :path => '/'
}
%>
<% end %>

<% if cookies[:active_filter].present? %>
<% else 
	cookies[:active_filter] = {
  :value => '1',
  :expires => 1.year.from_now,
  :path => '/'
}
%>
<% end %>

<% if cookies[:done_filter].present? %>
<% else 
	cookies[:done_filter] = {
  :value => '1',
  :expires => 1.year.from_now,
  :path => '/'
}
%>
<% end %>

    
<div class="shopSaveShareMsg2 shopSaveShareMsg3">
    <div class="shopSaveShareTxt2">
        <ul>
            <li class="selected">
                <%= @group.name %>
            </li>
        </ul>
    </div>
</div>

    
<% unless @combinedproductsandtroops.empty? %>
<div id="content" class = 'isotopeholder isotopeholderblank'>
<%= render @combinedproductsandtroops %>	
	</div>
	<% else %>
	<div class="contentpane" style = "text-align:center;margin-top:20px;">
<span style="font-size: 1em">Oops! We don't seem to have what you want, <a href = "/products/new"> click here to add the product you were looking for</a>.</span>
	</div>
	<% end %>
     
     
<div id = "endlesspagination">
<%= will_paginate @combinedproductsandtroops, previous_label: h("<"), next_label: h(">") %>
</div>    
	
