<% boxsize = 'small' %>
	
<% if user.provider == 'facebook' %>
	<% theproductimageurl = 'https://graph.facebook.com/'+user.uid.to_s+'/picture?type=large' %>
<% else %>
	<% theproductimageurl = user.photo.url(:extrasmall) %>
<% end %>


<%= link_to (image_tag theproductimageurl,{:class=>"frnzy_want_heads"}), user  %>	