<%if @user.role_id != 1 %> 

<div class = "adminfooter" style = "display:none;">
<!-- merchant view for admin -->
	<%if @user.role_id == 2 %>	
  
         	<div class="user_bottom">
            	<div class="user_bottom_left2">
         			<% unless @merchanttroopssuccess.empty? %>
            			<h4>Successful merchant troops:</h4>
                     <table class="table">
                        <tr>
                           <th>Image</th>
                           <th>Product</th>
                           <th>RRP</th>
                           <th>Group price</th>
                           <th>Saving</th>
                           <th>Group ended</th>
                           <th>Total members</th>
                           <th>View group</th>
                        </tr>
                        <% @merchanttroopssuccess.each do |deal| %>
                           <tr>
                              <td><%= image_tag deal.product.product_image.url(:extrasmall) %></td>
                              <td><%= link_to deal.product.name, deal.product %></td>
                              <td><%= number_to_currency(deal.product.price, :unit => "£") %></td>
                              <td><%= number_to_currency(deal.price, :unit => "£") %></td>
                              <td>
                                 <% if deal.product.price %>
                                    <%= ((1-(deal.price/deal.product.price))*100).round() %>%
                                 <% end %>
                              </td>
                              <td><%= deal.auction_end.to_date %></td>
                              <td><%= deal.end_count %> / <%= deal.troop_limit.round() %></td>
                              <td><%= link_to 'View group', deal_path(deal), :class => "btn btn-danger" %></td> 
                           </tr>
                        <% end %>
                     </table>
                  <% else %>
                  <% end %>

                  <% unless @merchanttroopsfailed.empty? %>
                     <h4> Unsuccessful merchant troops:</h4>
                     <table class="table">
                        <tr>
                           <th>Image</th>
                           <th>Product</th>
                           <th>RRP</th>
                           <th>Group price</th>
                           <th>Saving</th>
                           <th>Group ended</th>
                           <th>Total members</th>
                           <th>View group</th>
                        </tr>
                        <% @merchanttroopsfailed.each do |deal| %>
                           <tr>
                              <td><%= image_tag deal.product.product_image.url(:extrasmall) %></td>
                              <td><%= link_to deal.product.name, deal.product %></td>
                              <td><%= number_to_currency(deal.product.price, :unit => "£") %></td>
                              <td><%= number_to_currency(deal.price, :unit => "£") %></td>
                              <td><%= ((1-(deal.price/deal.product.price))*100).round() %>%</td>
                              <td><%= deal.auction_end.to_date %></td>
                              <td><%= deal.end_count %> / <%= deal.troop_limit.round() %></td>
                              <td><%= link_to 'View group', deal_path(deal), :class => "btn btn-danger" %></td> 
                           </tr>
                        <% end %>
                     </table>
                  <% else %>
                  <% end %>
            	</div>
         	</div>
      	
   <% end %>
   <!-- user view for admin -->
   <%if @user.role_id == 3 %>	
   
      		<div class="user_bottom">
         		<div class="user_bottom_left2">
                  <% #user dashboard %>
                  <h4>Done deals:</h4>
                  <% unless @usertroopscompleted.empty? %>
                     <table class="table">
                        <tr>
                           <th>Image</th>
                           <th>Product</th>
                           <th>Merchant</th>
                           <th>RRP</th>
                           <th>Group price</th>
                           <th>Saving</th>
                           <th>Group ended</th>
                           <th>Total members</th>
                           <th>View group</th>
                        </tr>
                        <% @usertroopscompleted.each do |deal| %>
                           <tr>
                              <td><%= image_tag deal.product.product_image.url(:extrasmall) %></td>
                              <td><%= link_to deal.product.name, deal.product %></td>
                              <td><%= link_to deal.user.username, deal.user %></td>
                              <td><%= number_to_currency(deal.product.price, :unit => "£") %></td>
                              <td><%= number_to_currency(deal.price, :unit => "£") %></td>
                              <td><%= ((1-(deal.price/deal.product.price))*100).round() %>%</td>
                              <td><%= deal.auction_end.to_date %></td>
                              <td><%= deal.end_count %>/<%= deal.troop_limit.round() %></td>
                              <td><%= link_to 'View group', deal_path(deal), :class => "btn btn-danger" %></td>
                           </tr>
                        <% end %>
                     </table>
                  <% else %>
                     This user does not currently have any successful troops.
                     <br><br>
                  <% end %>

                  <% #user dashboard %>
                  <h4>Unsuccessful troops:</h4>
                  <% unless @usertroopsfailed.empty? %>
                     <table class="table">
                        <tr>
                           <th>Image</th>
                           <th>Product</th>
                           <th>Merchant</th>
                           <th>RRP</th>
                           <th>Group price</th>
                           <th>Saving</th>
                           <th>Group ended</th>
                           <th>Total members</th>
                           <th>View group</th>
                        </tr>
                        <% @usertroopsfailed.each do |deal| %>
                           <tr>
                              <td><%= image_tag deal.product.product_image.url(:extrasmall) %></td>
                              <td><%= link_to deal.product.name, deal.product %></td>
                              <td><%= link_to deal.user.username, deal.user %></td>
                              <td><%= number_to_currency(deal.product.price, :unit => "£") %></td>
                              <td><%= number_to_currency(deal.price, :unit => "£") %></td>
                              <td><%= ((1-(deal.price/deal.product.price))*100).round() %>%</td>
                              <td><%= deal.auction_end.to_date %></td>
                              <td><%= deal.end_count %>/<%= deal.troop_limit.round() %></td>
                              <td><%= link_to 'View group', deal_path(deal), :class => "btn btn-danger" %></td> 
                           </tr>
                        <% end %>
                     </table>
                  <% else %>
                     This user does not currently have any Unsuccessful troops.
                     <br><br>
                  <% end %>
               </div>
            </div>
        
   <% end %>

</div>

 <% end %>