   <div class="user_top_left">
      <% if @user.provider == 'facebook' %>
         <% theproductimageurl = 'https://graph.facebook.com/'+@user.uid.to_s+'/picture?type=large' %>
      <div class = "facebookimage" style = "background-image:url('<%= theproductimageurl %>');" ></div>
      <% else %>
         <%= image_tag @user.photo.url(:small) %>
      <% end %>
   </div>

   <div class="header_name">
      <%if @user.role_id == 2 %>	
         <h1 style = "margin-bottom:0px;line-height: 25px;margin-top:12px;"><%= @user.company %></h1>merchant
      <% elsif @user.role_id == 3 %> 
         <h1 style = "margin-bottom:0px;line-height: 25px;margin-top:12px;"><%= @user.first_name %> <%= @user.last_name %></h1>
      <% elsif @user.role_id == 1 %> 
         <h1 style = "margin-bottom:0px;line-height: 25px;margin-top:12px;"><%= @user.first_name %> <%= @user.last_name %></h1>admin
      <% end %>
   </div>

		<!--<p style="font-size:12px;margin-top:5px;margin-bottom:0px;font-style:italic;">FRNZY member since <%# Date.strptime(@user.created_at.to_s,"%Y-%m-%d %H:%M:%S %Z").strftime("%m/%d/%Y") %><br></p>-->
      
   <div class = "profile_actions">
      <% if current_user %>
         <% if current_user == @user %>
            <div style="float: right; padding-top: 0px;">
               <%= link_to 'EDIT ', edit_user_path(@user), :class => "frnzyGrayBtn frnzyHeadBtn profile_circle right static singleLine"  %>    
            </div>
         <% else %>

            <% if Follow.where( :user_id => @user.id, :follower_id => current_user.id ).count == 0 %>
               <div style="float: right; padding-top: 0px;">
                  <%= link_to 'FOLLOW', followuser_path(@user.id), :method => :get, :remote => true, :class =>'product_followme_btn frnzyHeadBtn profile_circle left static singleLineSml' %>
               </div>
            <% else %>
               <div style="float: right; padding-top: 0px;">
               <%= link_to 'FOLLOWING', unfollowuser_path(@user.id), :method => :get, :remote => true, :class =>'product_followingme_btn frnzyHeadBtn profile_circle left static singleLineSml followingblue' %>

               </div>
            <% end %>

         <% end %>
        
      <% else %>

            <a style="float: right; margin-top: 0px !important;" data-toggle="modal" role="button" href="#myModal" class="product_followme_btn frnzyHeadBtn profile_circle link_toeft static singleLineSml">FOLLOW</a>

      <% end %>

      <div class="usersocial">

         <% if Follow.where( :user_id => @user.id ).count > 0 %>
            <a style="float: right; margin-top: 0px;" class="product_follow_btn frnzyHeadBtn profile_circle left static" href="/followers/<%= @user.username %>">
               <%= Follow.where( :user_id => @user.id ).count %>
               <div class="product_want_smltxt">followers</div>
            </a>
         <% else %>
            <a style="float: right; margin-top: 0px;" class="product_follow_btn frnzyHeadBtn profile_circle left static" href="#">
               <%= Follow.where( :user_id => @user.id ).count %>
               <div class="product_want_smltxt">followers</div>
            </a>
         <% end %>

         <% if Follow.where( :follower_id => @user.id ).count > 0 %>
            <a style="float: right; margin-top: 0px;" class="product_follow_btn frnzyHeadBtn profile_circle left static" href="/following/<%= @user.username %>">
               <%= Follow.where( :follower_id => @user.id ).count %>
               <div class="product_want_smltxt">following</div>
            </a>
         <% else %>
            <a style="float: right; margin-top: 0px;" class="product_follow_btn frnzyHeadBtn profile_circle left static" href="#">
               <%= Follow.where( :follower_id => @user.id ).count %>
               <div class="product_want_smltxt">following</div>
            </a>
         <% end %>


         <div class="socialinner">
            <% if @user.url_twitter.nil? %>
               <img class = "fadedRound" src="/images/twitRound.png"/>
            <% else %>
               <% if @user.url_twitter.empty? %>
                  <img class = "fadedRound" src="/images/twitRound.png"/>
               <% else %>
                  <a target="_blank" href="http://<%= @user.url_twitter %>"/><img class = "round" src="/images/twitRound.png"/></a>
               <% end %>	
            <% end %>
         </div>

         <div style = "margin-left:0px !important;" class="socialinner">
            <% if @user.url_facebook.nil? %>
               <img class = "fadedRound" src="/images/fbRound.png"/>
            <% else %>
               <% if @user.url_facebook.empty? %>
                  <img class = "fadedRound" src="/images/fbRound.png"/>
               <% else %>
                  <a target="_blank" href="http://<%= @user.url_facebook %>"/><img class = "round" src="/images/fbRound.png"/></a>
               <% end %>
            <% end %>	
         </div>

         <!-- <div class="socialinner">
            <% if @user.url_web.nil? %>
               <img class = "fadedRound" src="/webuser.png"/>
            <% else %>
               <% if @user.url_web.empty? %>
                  <img class = "fadedRound" src="/webuser.png"/>
               <% else %>
                  <a target="_blank" href="http://<%= @user.url_web %>"/><img src="/webuser.png"/></a>
               <% end %>
            <% end %>	
         </div> -->

      </div>

</div>
   <script>
   $('.followingblue').hover(
   function() {
   $( this ).html('UNFOLLOW');
   }, function() {
   $( this ).html('FOLLOWING');
   }
   );
   </script>
	