<% if session[:registerstatus] == 1 %>
$('.removemeonregister').remove();
$('#new_user').remove();
$('#successtext').html('Your account needs to be authorised and email verified before you can use it. Please check your email and click the confirmation link. <br/><br/>Thank you.').css({'font-weight':'normal','line-height':'1.25em','margin-bottom':'40px','font-size':'1.25em'});
$('#registerupdate').html('');
<% else %>
$('#registerupdate').html('<%= @user.errors.full_messages.first %>');
<% end %>