<link rel="stylesheet" href="/adminbootstrap/bootstrap.min.css" />

<div class = "boostrap_admin_menu">

<% title ('FRNZY / Dashboard') %>	
<% set_meta(:title => ('FRNZY / Dashboard'), :description => ('FRNZY / Dashboard')) %>
    

<% if current_user %>
<% #this is the users dashboard %>
<% #this is the users dashboard %>
<% #this is the users dashboard %>
<% #this is the users dashboard %>

<div class="navbar admin_nav">
	<div class="navbar-inner">
		<a href="#" style = "text-decoration:none !important;"  class="subbrand">
      <% if current_user.role_id == 1 %>
      Admin dashboard for <%= @user.username %>
      <% end %>
      <% if current_user.role_id == 2 %>
      Merchant dashboard for <%= @user.username %>
      <% end %>
      <% if current_user.role_id == 3 %>
      User dashboard for <%= @user.username %>
      <% end %>
    </a>
    
    <%= render 'shared/admin_menu' %>
    

    <% if current_user %>
      <% if (current_user.role_id != 1) %>
        <% if current_user.username.include?(@user.username) %>
          <%= link_to 'Edit your profile', edit_user_path(@user), :class => "btn" %>
          <%= link_to 'View your profile', @user, :class => "btn" %>
        <% end %>
      <% end %>
    <% end %>

	</div>
</div>


<% #user dashboard %>
<% #user dashboard %>
<% #user dashboard %>
<% #user dashboard %>

<% if (current_user.role_id == 3) %>

  <ul class="nav nav-tabs" id="myTab">
    <li class = "active"><a href="#groups">Groups</a></li>
    <li><a href="#done_deals">Done deals</a></li>
    <li><a href="#transactions">Transactions</a></li>
  </ul>


  <div class="tab-content">
    <div class="tab-pane active" id="groups">
      <% unless @usertroopslive.empty? %>
        <h4>Live user groups: </h4>
        <table class="table">
          <tr>
          <th>Image</th>
          <th>Product</th>
          <th class = "nomobile">RRP</th>
          <th class = "nomobile">Group price</th>
          <th class = "nomobile">Saving</th>
          <th class = "nomobile">Group ends</th>
          <th class = "nomobile">Members</th>
          <th>View group</th>
        </tr>
        <% @usertroopslive.take(3).each do |deal, i| %>
            <tr>
            <td class = 'roundmesmall'><%= image_tag deal.product.product_image.url(:extrasmall) %></td>
            <td><%= link_to deal.product.name, deal.product %></td>
            <td class = "nomobile"><%= number_to_currency(deal.product.price, :unit => "£") %></td>
            <td class = "nomobile"><%= number_to_currency(deal.price, :unit => "£") %></td>
          <td class = "nomobile">

           <% if deal.price && deal.product.price %>
            <%= ((1-(deal.price/deal.product.price))*100).round() %>%
          <% end %>

      </td>
          <td class = "nomobile">
            <% if deal.status == '1' %>
              <div class = "troop_status_1<%= deal.id %>  ">
              <p>
                  <div id = "defaultCountdown<%= deal.id %>"></div>
              </p>
              <script>
              $(document).ready(function(){
              troop_end = new Date(<%= deal.auction_end.to_i %> * 1000); 
              $('#defaultCountdown<%= deal.id %>  ').countdown({until: troop_end, serverSync: function() { return new Date('<%=DateTime.now.to_s("dddd, dd MMMM yyyy HH:mm:ss")%>'); }, onExpiry: troop_end_action}); 
              function troop_end_action() { 
              $('.troop_status_1<%= deal.id %>').hide();
              }
              });
              </script>
              <br>
              </div>
            <% end %>
          </td>
          <td class = "nomobile"><%= "#{deal.trooplinks.count}" %> / <%= deal.troop_limit.round() %></td>
          <td><%= link_to 'Active troop', deal_path(deal), :class => "btn btn-danger" %></td> 
          </tr>
        <% end %>
        </table>
      <% else %>
      No Groups.
      <% end %>
  </div>



    <div class="tab-pane" id="done_deals">
    <% #user dashboard %>
    <% unless @usertroopscompleted.empty? %>

    <h4>Successful groups you were a member of:</h4>
    <table class="table">
      <tr>
      	<th>Image</th>
        <th>Product</th>
        <th class = "nomobile">Merchant</th>
        <th class = "nomobile">RRP</th>
        <th class = "nomobile">Group price</th>
        <th class = "nomobile">Saving</th>
        <th> class = "nomobile"Group ended</th>
        <th> class = "nomobile"Total members</th>
        <th>&nbsp;</th>
        
        
      </tr>
    <% @usertroopscompleted.each do |deal| %>
      <tr>
      <td class = 'roundmesmall'><%= image_tag deal.product.product_image.url(:extrasmall) %></td>
        <td><%= link_to deal.product.name, deal.product %></td>
        <td class = "nomobile"><%= link_to deal.user.username, deal.user %></td>
        <td class = "nomobile"><%= number_to_currency(deal.product.price, :unit => "£") %></td>
        <td class = "nomobile"><%= number_to_currency(deal.price, :unit => "£") %></td>
    	<td class = "nomobile"><%= ((1-(deal.price/deal.product.price))*100).round() %>%</td>
    	<td class = "nomobile"><%= deal.auction_end %></td>
    <td class = "nomobile"><%= deal.end_count %>/<%= deal.troop_limit.round() %></td>
    <td><%= link_to 'Done deal', deal, :class => "btn" %>
    </td> 
    </td> 

    </tr>
    <% end %>
    </table>

    <% else %>
    You have no done deals.
    <% end %>
    </div>





    <div class="tab-pane" id="transactions">
      <% #user dashboard %>
      <% unless @usersorders.empty? %>
        <h4>Your transactions:</h4>
        <table class="table">
          <tr>
          	<th>Date</th>
            <th>Product</th>
            <th class = "nomobile">Paypal email</th>  
            <th class = "nomobile">Transaction id</th>  
            <th>Type</th>  
            <th>Total</th>  
          </tr>
          
          <% @usersorders.each do |order| %>
            <tr>
            	<td><%= order.created_at %></td>
            	<td><%= order.deal.product.name %></td>
              <td class = "nomobile"><%= order.paypal_email %></td>
              <td class = "nomobile"><%= order.transactionid %></td>
            	<td><% if order.order_type == 0 %>Purchase<% end %><% if order.order_type == 1 %>Refund<% end %></td>
            	<td><%= number_to_currency(order.total, :unit => "£") %></td>
          	</tr>
        	<% end %>
        </table>
      <% else %>
      You have no transactions.
      <% end %>
    </div>

<% end %>





<% #merchant dashboard %>
<% #merchant dashboard %>
<% #merchant dashboard %>
<% #merchant dashboard %>


<% if (current_user.role_id == 2) %>

	<ul class="nav nav-tabs" id="myTab">
    <li class = "active"><a href="#groups">Active groups</a></li>
		<li><a href="#donedeals">Done deals</a></li>
		<li><a href="#failedgroups">Failed groups</a></li>
	</ul>

	
	<div class="tab-content">
    <div class="tab-pane active" id="groups">
			<% unless @merchanttroopslive.empty? %>

				<h4>Live merchant groups: </h4>
				<table class="table">
  				<tr>
  				<th>Image</th>
   				<th>Product</th>
    			<th class = "nomobile">RRP</th>
    			<th class = "nomobile">Group price</th>
    			<th class = "nomobile">Saving</th>
    			<th class = "nomobile">Group ends</th>
    			<th class = "nomobile">Members</th>
    			<th>View group</th>
				</tr>
				
				<% @merchanttroopslive.take(3).each do |deal, i| %>
  					<tr>
  					<td class = 'roundmesmall'><%= image_tag deal.product.product_image.url(:extrasmall) %></td>
   					<td><%= link_to deal.product.name, deal.product %></td>
    				<td class = "nomobile"><%= number_to_currency(deal.product.price, :unit => "£") %></td>
    				<td class = "nomobile"><%= number_to_currency(deal.price, :unit => "£") %></td>
					<td class = "nomobile"><%= ((1-(deal.price/deal.product.price))*100).round() %>%</td>
					<td class = "nomobile">
    				
    				<% if deal.status == '1' %>
						<div class = "troop_status_1<%= deal.id %>	">
						<p>
  							<div id = "defaultCountdown<%= deal.id %>"></div>
						</p>
						<script>
						$(document).ready(function(){
						troop_end = new Date(<%= deal.auction_end.to_i %> * 1000); 
						$('#defaultCountdown<%= deal.id %>	').countdown({until: troop_end, serverSync: function() { return new Date('<%=DateTime.now.to_s("dddd, dd MMMM yyyy HH:mm:ss")%>'); }, onExpiry: troop_end_action}); 
						function troop_end_action() { 
						$('.troop_status_1<%= deal.id %>').hide();
						}
						});
						</script>
						<br>
						</div>
					<% end %>

					</td>
					
					
					<td class = "nomobile"><%= "#{deal.trooplinks.count}" %> / <%= deal.troop_limit.round() %></td>
					<td><%= link_to 'Active troop', deal_path(deal), :class => "btn btn-danger" %></td> 
					</tr>
				<% end %>
				</table>

			<% else %>
			No Groups.
			<% end %>
			
  </div>


  <div class="tab-pane" id="donedeals">

    <% unless @merchanttroopssuccess.empty? %>
    <h4>Successful merchant troops:</h4>
    <table class="table">
      <tr>
      	<th>Image</th>
        <th>Product</th>
        <th class = "nomobile">RRP</th>
        <th class = "nomobile">Group price</th>
        <th class = "nomobile">Saving</th>
        <th class = "nomobile">Group ended</th>
        <th class = "nomobile">Total members</th>
        <th>View members</th>
      </tr>
    <% @merchanttroopssuccess.each do |deal| %>
      <tr>
      <td class = 'roundmesmall'><%= image_tag deal.product.product_image.url(:extrasmall) %></td>
        <td><%= link_to deal.product.name, deal.product %></td>
        <td class = "nomobile"><%= number_to_currency(deal.product.price, :unit => "£") %></td>
        <td class = "nomobile"><%= number_to_currency(deal.price, :unit => "£") %></td>
    	<td class = "nomobile">

       <% if deal.price && deal.product.price %>
          <%= ((1-(deal.price/deal.product.price))*100).round() %>%
        <% end %>

      </td>
    	<td class = "nomobile"><%= deal.auction_end %></td>
    	<td class = "nomobile"><%= deal.end_count %> / <%= deal.troop_limit.round() %>
    </td>
    <td><%= link_to 'View members', deal_path(deal), :class => "btn btn-danger" %>
    </td> 
    </tr>
    <% end %>
    </table>
    <% else %>
    No done deals.
    <% end %>

  </div>


  <div class="tab-pane" id="failedgroups">

    <% unless @merchanttroopsfailed.empty? %>
    <h4>Unsuccessful merchant troops:</h4>
    <table class="table">
      <tr>
      	<th>Image</th>
        <th>Product</th>
        <th class = "nomobile">RRP</th>
        <th class = "nomobile">Group price</th>
        <th class = "nomobile">Saving</th>
        <th class = "nomobile">Group ended</th>
        <th class = "nomobile">Total members</th>
        <th>View group</th>
      </tr>
    <% @merchanttroopsfailed.each do |deal| %>
      <tr>
      <td class = 'roundmesmall'><%= image_tag deal.product.product_image.url(:extrasmall) %></td>
        <td><%= link_to deal.product.name, deal.product %></td>
        <td class = "nomobile"><%= number_to_currency(deal.product.price, :unit => "£") %></td>
        <td class = "nomobile"><%= number_to_currency(deal.price, :unit => "£") %></td>
    	<td class = "nomobile">

        <% if deal.price && deal.product.price %>
          <%= ((1-(deal.price/deal.product.price))*100).round() %>%
        <% end %>


      </td>
    	<td class = "nomobile"><%= deal.auction_end %></td>
    	<td class = "nomobile"><%= deal.end_count %> / <%= deal.troop_limit.round() %>
    </td>
    <td><%= link_to 'View group', deal_path(deal), :class => "btn btn-danger" %>
    </td> 
    </tr>
    <% end %>
    </table>
    <% else %>
    No Groups.
    <% end %>

  </div>

</div>

<% end %>
    

<% if (current_user.role_id == 1) %>
<div class = "dashboarduser contentpane">
<div style="padding:0px !important;width:636px !important;" class="product_bottom product_bottom_left_column">
			
<div class="product_bottom_left">
Total number of products: <%= Product.where("isenabled = ?", '1').count %><br>	
Total number of shopping list items: <%= Like.count %><br>
Total number of Active troops: <%= Deal.where("status = ? AND isenabled = ?", '1', '1').count %><br>
Total number of done deals: <%= Troopcomplete.count %><br>
Total number of completed done deals: <%= Troopcomplete.where("transaction_status = ?", '1').count %><br>
Total number of uncompleted done deals: <%= Troopcomplete.where("transaction_status != ?", '1').count %><br>
Total value of all done deals: <%= number_to_currency(Troopcomplete.joins(:deal).sum(:price), :unit => "£") %><br><br>

Total number of users: <%= User.where("role_id = ?", '3').count %><br>
Total number of active users: <%= User.where("role_id = ? AND isenabled = ?", '3', '1').count %><br>
Total number of merchants: <%= User.where("role_id = ?", '2').count %><br>
Total number of active merchants: <%= User.where("role_id = ? AND isenabled = ?", '2', '1').count %><br>
<br>			
</div>

</div>

<div class="product_bottom product_bottom_right_column">
<div class="contenttop">Total revenue earned from troops:</div>

<div class="product_bottom_left">

<p>

<%= number_to_currency(Troopcomplete.where("transaction_status = ?", '1').joins(:deal).sum(:price), :unit => "£") %>

</p>

</div>
</div>

</div>

<% end %>

<% else %>
Please sign in to access your dashboard.
<% end %>


</div>

