<div class = "page_wrapper" style = "max-width:500px;padding:20px;padding-top:0px; box-sizing: border-box;">

   <% title ('FRNZY / Edit ' + @user.username) %>  
   <% set_meta(:title => ('FRNZY'), :description => ('FRNZY')) %>

   <%= form_for(@user, :html => { :multipart => true }) do |f| %>
         
         <div class="shopSaveShareMsg2">
          <div class="shopSaveShareTxt2">
              <ul>
                  <li class="selected">
                     Editing <%= @user.first_name %> <%= @user.last_name %>        
                  </li>
              </ul>
          </div>
         </div>

         <% if @user.errors.any? %>
            <div id="error_explanation">
               <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
               <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
               </ul>
            </div>
         <% else %>           
         <% end %>

         <% if @user.provider != 'facebook' %>

            <div class="frnzyFrmGrp_res">
          
               <div class="frnzyFrmRight" style = "text-align:center;">
                  <div class="editProfileImg">
                     <%= image_tag @user.photo.url(:small), :class => "sideimage" %>
                  </div>
                  <label for="photo">Image</label>
                  <%= f.file_field :photo %>
               </div>
            </div>

         <% end %>

            <% if @user.provider == 'facebook' %>
               <% theproductimageurl = 'https://graph.facebook.com/' + @user.uid.to_s + '/picture?type=large' %>

               <div class="frnzyFrmGrp_res">
               <div class="form_heading">
                  Avatar (facebook)
               </div>
               <div class="frnzyFrmRight">
                  <div class="editProfileImg">
                     <%= image_tag theproductimageurl, :class => "sideimage" %>
                  </div>
               </div>
            </div>

         <% end %>


         <div class="frnzyFrmGrp_res">
            <div class="form_heading" style = "width:100%;margin-top:15px;">
               Profile
            </div>
            <div class="frnzyFrmRight">
               <div class="field">
                  <%#= f.label :first_name %>
                  <%= f.text_field :first_name,{placeholder: "first name"} %>
               </div>
               <div class="field">
                  <%#= f.label :last_name %>
                  <%= f.text_field :last_name,{placeholder: "last name"} %>
               </div>
               <div class="field">
                  <%#= f.label :username %>
                  <%= f.text_field :username,{placeholder: "username"} %>
               </div>
               <div class="field">
                  <%#= f.label :company %>
                  <%= f.text_field :company,{placeholder: "company"} %>
               </div>

               <div class="field">
                  <%#= f.label :house_number %>
                  <%= f.text_field :house_number,{placeholder: "house number"} %>
               </div>
               <div class="field">
                  <%#= f.label :address %>
                  <%= f.text_field :address,{placeholder: "address"} %>
               </div>
               <div class="field">
                  <%#= f.label :address_2 %>
                  <%= f.text_field :address_2,{placeholder: "address line 2"} %>
               </div>
               <div class="field">
                  <%#= f.label :postcode %>
                  <%= f.text_field :postcode,{placeholder: "postcode"} %>
               </div>
               <div class="field">
                  <%#= f.label :city %>
                  <%= f.text_field :city,{placeholder: "city"} %>
               </div>
               <div class="field">
                  <%#= f.label :country %>
                  <%= f.text_field :country,{placeholder: "country"} %>
               </div>

               <!-- <div class="field">
                  <%#= f.label :location_id %>
                  <%= collection_select(:user, :location_id, @locations, :id, :region, {:prompt => false })  %>
               </div> -->
            </div>
         </div>
         <div class="frnzyFrmGrp_res">     
            <div class="form_heading" style = "width:100%;margin-top:15px;">
               Connections
            </div>
            <div class="frnzyFrmRight">
               <div class="field">
                  <%#= f.label :url_web %>
                  <%= f.text_field :url_web,{placeholder: "your website URL"} %>
               </div>
               <div class="field">
                  <%#= f.label :url_twitter %>
                  <%= f.text_field :url_twitter,{placeholder: "your twitter URL"} %>
               </div>
               <div class="field" style = "margin-bottom:10px;">
                  <%#= f.label :url_facebook %>
                  <%= f.text_field :url_facebook,{placeholder: "your facebook URL"} %>
               </div>

               <% if current_user %>
                  <% if current_user.role_id == 1 %>
                        <%#= f.label :role_id %>
                        <%= collection_select(:user, :role_id, @roles, :id, :role_type, {:prompt => false })  %><br>
                  <% end %>
               <% end %>
            </div>
         </div>
         
         <div class="frnzyFrmGrp_res">     
            <div class="form_heading">
            </div>
            <div class="frnzyFrmRight">
               <div class="actions">
                  <%= f.submit 'Submit', {:style => 'margin-top:20px;', :class => 'fa-button'} %>  
               </div>
            </div>
         </div>

      <% end %> 
 
</div>




