<h2>Listing user profiles</h2>
<br>
<table class="table">
  <tr>
    <th>Username</th>
     <th>User / Merchant</th>
    <th></th>
  </tr>


<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.role.role_type %></td>
    <td><%= link_to 'View profile', user, :class => "btn" %></td>
  </tr>
<% end %>
</table>