<% title ('FRNZY / New user') %>	
<% set_meta(:title => ('FRNZY'), :description => ('FRNZY')) %>



<div class="navbar">
	<div class="navbar-inner">
		<a href="#" class="subbrand">Join</a>
	</div>
</div>





<div style="padding:0px !important;width:636px !important;" class="product_bottom product_bottom_left_column">
<div class="product_bottom_left">
<%= form_for @user do |f| %>

<%= f.label :email %>
<%= f.text_field :email %>


<%= f.label :username %>
<%= f.text_field :username %>

<%= f.label :first_name %>
<%= f.text_field :first_name %>
<%= f.label :last_name %>
<%= f.text_field :last_name %>

<%= f.label :location_id %>
<%= collection_select(:user, :location_id, @locations, :id, :region, {:prompt => false })  %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>


  <div class="field">
  <label for="photo">Image</label>
    <%= f.file_field :photo %>
  </div> 

  
  <div class="field">
    <%= f.label :role_id %>
    <%= collection_select(:user, :role_id, @roles, :id, :role_type, {:prompt => false })  %>
  </div>
<br>
  <p>By joining you agree to our <a href = '/pages/terms-and-conditions'>Terms and conditions</a> and <a href = '/pages/privacy-and-cookies'>Privacy Policy</a></p>

<%= f.submit 'Join', :class => 'btn btn-danger' %>
<% end %>		
</div>
</div>






<% if @user.errors.any? %>



<div class="product_bottom product_bottom_right_column norightmarginpelase">
<div class="contenttop"><%= pluralize(@user.errors.count, "error") %> prohibited this user<br>from being saved:</div>
<div class="product_bottom_left">			
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>			
</div>		
</div>


<% end %>		





