<% title ('FRNZY / ' + @user.username) %>	
<% set_meta(:title => ('FRNZY'), :description => ('FRNZY')) %>


<div class = "page_wrapper">

<% if @user.isenabled == 1 %>
	
   <div class="user_top" style="">	
      <%= render 'userheader' %>
   </div>

   <div style="clear:both"></div>

   <!-- Admin views -->
   <% if current_user %>
         <% if current_user == @user %>
         <div class = "profile_filter">

            <!-- Only show dropdown if there are items present -->
            <select class = "yourprofilefilter">
              <option value="all">Recently Added</option>
              <option value="wanted">My Shopping List</option>
              <option value="deals">My Feed FRNZY</option>
              <option value="donedeals">Done Deals</option>
            </select> 

         </div>
         <div style="clear:both"></div>
      <% end %>
   <% end %>

   <div class="user_bottom isotope" id="fade_on_load" style="padding-top: 15px;padding-bottom:0px !important;max-width: 1000px !important;margin-left: 0px !important;opacity:0;">

      <% if current_user %>
         <% if current_user == @user %>
            <%# users own profile view %>
            <% unless @yourstream.empty? %>
               <%= render partial: @yourstream,locals: {showRemove: true} %>
            <% end %>
         <% else %>
            <% unless @combinedproductsandtroops.empty? %>
               <%= render partial: @combinedproductsandtroops,locals: {showRemove: false} %>
            <% end %> 
         <% end %>
      <% else %>
         <% unless @combinedproductsandtroops.empty? %>
            <%= render partial: @combinedproductsandtroops,locals: {showRemove: false} %>
         <% end %>   
      <% end %>
   </div>

   <!-- Admin views -->
   <% if current_user %>
      <% if current_user.role_id == 1 %>
         <%= render 'useradmin' %>
      <% end %>
   <% end %>

<% else %>

   <div style="text-align:center;">Sorry this user profile is not currently available</div>

<% end %>

</div>
