<link rel="stylesheet" href="/adminbootstrap/bootstrap.min.css" />

<div class = "boostrap_admin_menu">

<% title ('FRNZY / Users') %>	
<% set_meta(:title => ('FRNZY / Users'), :description => ('FRNZY / Users')) %>


<% if current_user %>
<% if current_user.role_id == 1 %>
<div class="navbar admin_nav">
	<div class="navbar-inner">
		<a href="#" class="subbrand">Users</a>
		<%= render 'shared/admin_menu' %>


	</div>
</div>


<%= form_tag admin_users_path, :class => 'navbar-form', :method => 'get' do %>
  <p style = "text-align:center;">
    <%= hidden_field_tag :direction, params[:direction] %>
	<%= hidden_field_tag :sort, params[:sort] %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search users", :class => "btn", :name => nil %>
    
    <% if params[:search].nil? %>
	<% else %>
	<a class = "btn" href = "/admin_users">Clear</a>
	
	<% end %>


  </p>
<% end %>


<table class = "table" id="admin_users">

  <tr>
    <th class = "nomobile"><%= sortable "created_at" %></th> 

    <th class = "nomobile">Image</th>
    <th><%= sortable "email" %></th>
    <th class = "nomobile">Confirmed</th>
    <th class = "nomobile"><%= sortable "first_name", "Firstname" %></th>
    <th class = "nomobile"><%= sortable "last_name", "Lastname" %></th>
    <th class = "nomobile"><%= sortable "username" %></th> 
    <th class = "nomobile"></th>
    <th></th>
    <th></th>
    <th class = "nomobile"></th>
  </tr>
<% @users.each do |user| %>
  <tr
<%if (user.isenabled == 0) %>
class = 'error'
<% end %>
>


<% if user.provider == 'facebook' %>
			
<% theproductimageurl = 'https://graph.facebook.com/'+user.uid.to_s+'/picture?type=large' %>

<% else %>
			
<% theproductimageurl = user.photo.url(:small) %>

<% end %>
    <td class = "nomobile"><%= user.created_at.strftime("%d/%m/%y %H:%M") %></td>

	<td class = 'nomobile roundmesmall'><%= image_tag theproductimageurl %></td>

    <td><%= user.email %></td>
    <td class = "nomobile"><% if user.provider == 'facebook' %>			
Facebook
<% else %>		
<%= user.email_confirmed %>
<% end %></td>
    <td class = "nomobile"><%= user.first_name %></td>
    <td class = "nomobile"><%= user.last_name %></td>
    <td class = "nomobile"><%= user.username %></td>
    <td class = "nomobile"><%= link_to 'View', user, :class => "btn btn-mini" %></td>
    <td><%= link_to 'Edit', edit_user_path(user.id), :class => "btn btn-mini" %></td>
    
    
          
    
    <td><%= link_to 'Authorize',  user_path(user, :user => { :isenabled => 1}), :method => :put, :class => "btn btn-mini", :confirm => "Are you sure?" %></td>
    
    
    
    <td class = "nomobile"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure, this will remove all associated records?' }, :class => "btn btn-mini btn-danger" %></td>
  </tr>
<% end %>
</table>


<%= will_paginate @users, previous_label: h("<"), next_label: h(">") %>



<% #link_to 'New User', new_user_path %>

<% else %>

You do not have access rights to this page
<% end %>
<% else %>

Please sign in to view this page
<% end %>  

</div>