<link rel="stylesheet" href="/adminbootstrap/bootstrap.min.css" />

<div class = "boostrap_admin_menu">

<% title ('FRNZY / Referrals') %>	
<% set_meta(:title => ('FRNZY / Referrals'), :description => ('FRNZY / Referrals')) %>


<% if current_user %>
	<% if current_user.role_id == 1 %>
		<div class="navbar admin_nav">
			<div class="navbar-inner">
			    <a href="/admin_referrals" class="subbrand">Referrals</a>
			    <%= render 'shared/admin_menu' %>
			</div>
		</div>




		<table class = "table" id="admin_referrals">

			<tr>
			    <th>User</th>
			    <th>
			    <% 
			    	#sortable "Product / Deal / FRNZY" 
			    %>
			    Product / Deal / FRNZY</th>
			    <th>Accepted Refferals</th>
			</tr>

			<% @referrals.each do |ref| %>
				<% if ref.user %>
					<tr>
						<td><a href="?user=<%=ref.user.id%>"><%= ref.user.first_name %></a></td>
						<td>
							<% if ref.product then %>
								PRODUCT: <strong><a href="?product=<%= ref.product.id%>"><%= ref.product.name %></a></strong>
							<% elsif ref.deal then %>
								DEAL: <strong><a href="?troop=<%= ref.deal.id %>"><%= ref.deal.product.name %></a>
							<% else %>
								FRNZY
							<% end %>
						</td>
						<td><%= ref.accepted_count %></td>
					</tr>
				<% end %>
			<% end %>
		</table>
	<% else %>
		You do not have access rights to this page
	<% end %>
<% else %>
	Please sign in to view this page
<% end %>  
</div>