
<div id = "invite_inline" style = "float:left;width:100%;">

	<div class = "share_step share_step_1">
		<h2 style = "display:none;"><strong><%= raw @product.name %></strong></h2>
		<div class="invite_social_circles">
			<div class="inviteModalBtn invite_gplus">
				<a target = "_blank" href="https://plus.google.com/share?url=<%= url_encode("http://www.frnzy.co.uk/invite/" + @referral.referral_code) %>"><img src="/images/gPlusRound.png" /></a>
			</div>
			<div class="inviteModalBtn invite_facebook">
				<!-- <a target = "_blank" href="http://www.facebook.com/sharer/sharer.php?u=<%= url_encode("http://www.frnzy.co.uk/invite/" + @referral.referral_code) %>"><img src="/images/fbRound.png" /></a> -->
				<a target = "_blank" href="https://www.facebook.com/dialog/feed? app_id=296020077168171&display=popup&caption=<%= url_encode("Check out this " + @product.name + " on FRNZY. If you want too, we can all get an exclusive group discount! #jointhefrnzy #FRNZY") %>&link=<%= url_encode("http://www.frnzy.co.uk/invite/" + @referral.referral_code) %>&redirect_uri=<%= url_encode("http://www.frnzy.co.uk/invite/" + @referral.referral_code) %>"><img src="/images/fbRound.png" /></a>
			</div>
			<div class="inviteModalBtn invite_twitter">
				<a target = "_blank" href="http://twitter.com/home?status=<%= url_encode("Check out this product on #FRNZY http://www.frnzy.co.uk/invite/" + @referral.referral_code + ". If others want it too, we could all get an exclusive group discount!") %>"><img src="/images/twitRound.png" /></a>
			</div>
			<div class="inviteModalBtn invite_pintrest">
				<a target = "_blank" href="http://pinterest.com/pin/create/button/?url=<%= url_encode("http://www.frnzy.co.uk/invite/" + @referral.referral_code) %>&media=<%= @product.product_image.url(:square) %>&description=Check out this <%= raw @product.name %> on FRNZY. If you want too, we can all get an exclusive group discount! #jointhefrnzy #FRNZY"><img src="/images/pinRound.png" /></a>
			</div>
		</div>
	</div>

	<div class = "share_step share_step_2">
				<h2><strong>or</strong></h2>

		Enter email addresses below to send them an email.
		<br/><br/>
		<%= form_tag invite_email_path, :method => :post , :remote => true, :id => "InviteEmailForm" do %>
			<%= hidden_field_tag(:referral_id, @referral.id) %>
			<div class="field">
				<%= text_field_tag :email, params[:email], :placeholder => "Email Address 1", :autocomplete=>"off" %>
			</div>
			<div class="field">
				<%= text_field_tag :email2, params[:email2], :placeholder => "Email Address 2", :autocomplete=>"off" %>
			</div>
			<div class="field">
				<%= text_field_tag :email3, params[:email3], :placeholder => "Email Address 3", :autocomplete=>"off" %>
			</div>
			<div class="field">
				<%= text_field_tag :email4, params[:email4], :placeholder => "Email Address 4", :autocomplete=>"off" %>
			</div>
			<br/>
			<div class="actions"><%= submit_tag "Send", :class => "invite_send" %></div>
			<div class="message"></div>
		<% end %>
	</div>

	<div class = "share_step share_step_3">
				<h2><strong>or</strong></h2>

		Copy and paste the following link:
		<br/>
		<div>
			<strong>http://www.frnzy.co.uk/invite/<%= @referral.referral_code %></strong>
		</div>
	</div>

</div>

