<% if current_user.role_id == 1 %>
    <a class = "btn" href = "/admin_users">Users</a>
    <a class = "btn" href = "/admin_merchants">Merchants</a>
    <a class = "btn" href = "/admin_products">Products</a>
    <a class = "btn" href = "/admin_deals">Deals</a>
    <a class = "btn" href = "/admin_categories">Categories</a>
    <a class = "btn" href = "/admin_referrals">Referrals</a>
    <!-- <a class = "btn" href = "/admin_locations">Locations</a> -->
<% end %>
