	<div class="navbar navbar-fixed-bottom bottomnav">
	   <div class="navbar-inner floatingmenu">
		   <div class="container footercenter">
            <a href="/how_it_works">How it works</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
				<a href = '/pages/contact-us/'>Contact Us</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href = '/pages/terms-and-conditions'>Terms and Conditions</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href = '/pages/privacy-and-cookies'>Privacy and Cookies Policies</a>
		   </div>
		</div>
	</div>