<div id = "invite_inline" style = "float:left;width:100%;max-width:350px;">

	<a class="invite_popup_close fa-button" style = "float:right;margin-top:-10px;margin-right:-10px;" ><i class="fa fa-close" style = "width:14px;"></i></a></a>

	<div class = "share_step share_step_1">
		<h2 style = "display:none;margin-top: -30px;margin-bottom: 30px;font-weight: normal;color: #00b3f7;font-size: 21px;line-height: 1.2em;width: 90%;margin-left: 0%;text-align:left;">
			Invite your friends, followers and Facebook buddies to join this deal!
		</h2>	
		<div class="invite_social_circles">
			<div class="inviteModalBtn invite_gplus">
				<a target = "_blank" href="https://plus.google.com/share?url=<%= url_encode("http://www.frnzy.co.uk/invite/" + @referral.referral_code) %>"><img src="/images/gPlusRound.png" /></a>
			</div>
			<div class="inviteModalBtn invite_facebook">
				<!-- <a target = "_blank" href="http://www.facebook.com/sharer/sharer.php?u=<%= url_encode("http://www.frnzy.co.uk/invite/" + @referral.referral_code) %>"><img src="/images/fbRound.png" /></a> -->
				<a target = "_blank" href="https://www.facebook.com/dialog/feed? app_id=296020077168171&display=popup&caption=<%= url_encode("Check out this exclusive group deal for" + @deal.product.name + " on FRNZY. But hurry, it’s only available for a limited time!")%>&link=<%= url_encode("http://www.frnzy.co.uk/invite/" + @referral.referral_code) %>&redirect_uri=<%= url_encode("http://www.frnzy.co.uk/invite/" + @referral.referral_code) %>"><img src="/images/fbRound.png" /></a>
			</div>
			<div class="inviteModalBtn invite_twitter">
				<a target = "_blank" href="http://twitter.com/home?status=<%= url_encode("Check out this exclusive group deal on #FRNZY http://www.frnzy.co.uk/invite/" + @referral.referral_code + ". But hurry, it’s only available for a limited time!") %>"><img src="/images/twitRound.png" /></a>
			</div>
			<div class="inviteModalBtn invite_pintrest">
				<a target = "_blank" href="http://pinterest.com/pin/create/button/?url=<%= url_encode("http://www.frnzy.co.uk/invite/" + @referral.referral_code) %>&media=<%= @deal.product.product_image.url(:square) %>&description=Check out this <%= raw @deal.product.name %> on FRNZY. If you want too, we can all get an exclusive group discount! #jointhefrnzy #FRNZY"><img src="/images/pinRound.png" /></a>
			</div>
		</div>
	</div>

	<div class = "share_step share_step_2">
				<h2><strong>or</strong></h2>

		Enter email addresses below to send them an email.
		<br/>
		<%= form_tag invite_email_path, :method => :post , :remote => true, :id => "InviteEmailForm" do %>
			<%= hidden_field_tag(:referral_id, @referral.id) %>
		<%= text_field_tag :email, params[:email], :placeholder => "Email Address 1", :autocomplete=>"off" %>
				<%= text_field_tag :email2, params[:email2], :placeholder => "Email Address 2", :autocomplete=>"off" %>
				<%= text_field_tag :email3, params[:email3], :placeholder => "Email Address 3", :autocomplete=>"off" %>
				<%= text_field_tag :email4, params[:email4], :placeholder => "Email Address 4", :autocomplete=>"off" %>
			<div class="actions" style = 'display:none;'><%= submit_tag "Send", :class => "invite_send" %></div>

			<div style = "width:100%;float:left;">
				<a href="#" class="fa-button inviteButton_clicker" style = "position:relative;margin-top:10px;margin-bottom:0px;width: 120px;margin-left:-60px;left:50%;">
					<i class="fa fa-envelope-o "></i>Send
				</a>
			</div>
			<div class="message" style = "float: left;width: 100%;"></div>
		<% end %>
	</div>

	<div class = "share_step share_step_3">
				<h2><strong>or</strong></h2>

		Copy and paste the following link:
		<br/>
		<div>
			<strong>www.frnzy.co.uk/invite/<%= @referral.referral_code %></strong>
		</div>
	</div>

</div>

