<% session[:return_to] = request.url %>



<!-- Modal login ONLY if not logged in -->
<div id="register_popup" style = "display:none;">

	<div style = "float:left;width:100%;">
		<a class="register_popup_close fa-button" style = "position: absolute;top: 0px;right: 0px;" ><i class="fa fa-close" style = "width:14px;"></i></a></a>
	</div>

	<h3 style="display:none;margin:20px !important; text-align:center; font-weight: bold;font-size: 1.5em;" id="successtext">Welcome to FRNZY!</h3>

	<% unless current_user %>
	<div class="removemeonregister">
		  <div style  = "max-width:280px; width: 90%; margin:2.5em auto 0;">
		  	<a href="/auth/facebook" id="sign_in"><img style = "width:100%;" src = "/images/signin-facebook-large.png" /></a>
		  </div>
		<div style="text-align:center;font-weight:bold;margin-top:10px;">OR</strong></div>
	</div>



	<% end %>

	<div id = "registerupdate"></div>
	<% @user = User.new %>
	<%= form_for @user, :remote => true do |f| %>
		<%= f.text_field :email, :placeholder => 'Email' %><br/>
		<%= f.text_field :username, :placeholder => 'Username' %><br/>
		<%= f.text_field :first_name, :placeholder => 'First name' %><br/>
		<%= f.text_field :last_name, :placeholder => 'Last name' %><br/>
		<%= f.password_field :password, :placeholder => 'Password' %><br/>
		<%= f.password_field :password_confirmation, :placeholder => 'Confirm password' %><br/>
		<div class="field" style = "display:none;">
			<label for="photo">Image</label>
			<%= f.file_field :photo %><br />
		</div> 
		<div class="field" style="display:none">
		 	<%= f.label :role_id %>
			<select id="user_role_id" name="user[role_id]">
			<option value="2">merchant</option>
			<option value="3" selected="selected">user</option></select>
		</div> 

		<div class="removemeonregister" style = "width: 60px; margin:auto; padding-bottom: 70px;display:none;">
			<%= f.submit 'JOIN', :class => 'frnzyHeadBtn static join_troop_btn singleLine registerButton', :style => "padding: 25px 11px 35px 10px !important; font-size: 18px !important;" %>
		</div>	

		<div style = "width:100%;">
			<a href="#" class="fa-button registerButton_clicker" style = "position: relative;margin-top: 20px;margin-bottom: 0px;width: 90px;margin-left: -45px;left: 50%;text-align: center;">
				Join
			</a>
		</div>

	<% end %>  	

	<div class = "removemeonregister" style="padding-top:10px;padding-bottom:0px;margin-bottom:0px; text-align: center;width:100%;float:left;"><p>By joining you agree to our <a href = '/pages/terms-and-conditions'>Terms and Conditions</a> and <a href = '/pages/privacy-and-cookies'>Privacy Policy</a></p></div>

</div>


  







<%# Share Modal %>
<div class="ShareModal" id = "generate_share">
</div>



<%# Invite Modal %>
<div id="invite_popup">
	<div class="invite_holder">		
	</div>
</div>




<%# Add product Modal %>
 <% @product = Product.new %>
 <% @categories = Category.all %>
<div id="add_popup" style = "display:none;">
	<div class="add_holder allowbig">	
<div class = "responsive_add_wizard">
	<script>
		$('.navbar').addClass('overide_margin_bottom');
	</script>
	<a class="add_popup_close fa-button" style = "position: absolute;top: 0px;right: 0px;" ><i class="fa fa-close" style = "width:14px;"></i></a></a>

	<% if current_user %>		

		<div class="add_product_name wizard_box" style="clear: both">
			<div class = "circle_half_wrapper">
			<div class="add_product_circle blue">
				<h2>Please enter the full name of the product</h2>
			</div>
			</div>
			<div class="add_product_title_frm">
				<%= form_tag(product_duplicate_path, method: "get", remote: true) do %>
					<%= text_field_tag :name, nil, :placeholder => "Product Name",:required => true %>
					<div class="add_product_btn" style = "display:none;">
						<%= submit_tag("NEXT", class: 'add_product_next_step add_product_next_step_1') %>
					</div>

					<div style = "width:100%;">
						<a href="#" class="fa-button add_product_clicker_1" style = "margin-top:20px;margin-bottom:0px;width: 100px;position:relative;margin-left:-50px;left:50%;">
							Next
						</a>
				    </div>


				<% end %>
			</div>
  
		</div>
		<div class="add_product_similar wizard_box" style="display:none">
			
			<div class = "circle_half_wrapper">
				<div class="add_product_circle blue">
				<h2>Is your product already listed on FRNZY?</h2>
			</div>
			</div>

			<div class="add_product_title_frm">
			
				<div style = "margin-top:10px;" class="add_product_product_title"></div>
					
					<a href="#" class="fa-button product_not_similar_clicker" style = "margin-top:10px;margin-bottom:10px;position:relative;margin-left:-110px;left:50%;width:220px;">
						<i class="fa fa-exclamation-circle"></i>My product is not listed
					</a>

			</div>

			<div class="similar_products_list">
			</div>

			<div class="clearfix"></div>
			
			<a href="#" class="fa-button product_not_similar_clicker" style = "margin-top:10px;margin-bottom:0px;position:relative;margin-left:-110px;left:50%;width:220px;">
				<i class="fa fa-exclamation-circle"></i>My product is not listed
			</a>

		</div>
		<div class="add_product_url wizard_box" style="display:none">
			<div class = "circle_half_wrapper">
				<div class="add_product_circle pink">
				<h2>Please enter the URL of the product</h2>
			</div>
			</div>
			<div class="add_product_url_frm">
				<div class="add_product_product_title"></div>
				<%= form_tag(scrape_url_images_path, method: "get", remote: true, :id => "scrape_form" ) do %>
					<%= text_field_tag :url, nil, :placeholder => "http://www...",:required => true %>
					<div class="add_product_btn" style = "display:none;">
						<%= submit_tag("NEXT", class: 'add_product_next_step add_product_next_step_2') %>
					</div>

					<div style = "width:100%;">
						<a href="#" class="fa-button add_product_clicker_2" style = "margin-top:20px;margin-bottom:0px;width: 100px;position:relative;margin-left:-50px;left:50%;">
							Next
						</a>
					</div>

				<% end %>
				<div class="add_product_url_loading" style="display:none">
					We're looking for your product<br/>
					<i class="fa fa-spinner fa-pulse" style = "color:#ff1f88;font-size:40px;margin-top:15px;"></i>
				</div>
				<% content_for :script do %>
				  <script type="text/javascript">
				    $('.add_product_url form').on('submit', function(){
				    	$('.add_product_url_loading').show();
				    	$('.add_product_clicker_2').hide();
				    	$('.add_product_url_frm input[type="submit"]').hide();
				    	$('.add_product_url .add_product_error').hide();

						if(window.frnzyAnim)
						{
							clearInterval(window.frnzyAnim);
						}
					    (function(){
						    var circle1 = $('.add_product_anim_1').css('visibility','hidden');
						    var circle2 = $('.add_product_anim_2').css('visibility','hidden');
						    var circle3 = $('.add_product_anim_3').css('visibility','hidden');
						    var circle4 = $('.add_product_anim_4').css('visibility','hidden');
						    var circle5 = $('.add_product_anim_5').css('visibility','hidden');
						    var status = -1;

						    window.frnzyAnim = setInterval(function(){
						    	status++;
						    	switch(status)
						    	{
						    		case 0:
					    				circle4.animate({opacity: 0},500, function(t){
					    					$(this).css({'visibility':'hidden'});
					    				});		
						    			circle1.css({'visibility':'visible', 'opacity':0}).animate({opacity: 1.0},500);
						    			break;
						    		case 1:
					    				circle5.animate({opacity: 0},500, function(t){
					    					$(this).css({'visibility':'hidden'});
					    				});		
						    			circle2.css({'visibility':'visible', 'opacity':0}).animate({opacity: 1.0},500);
						    			break;
					    			case 2:
					    				circle3.css({'visibility':'visible', 'opacity':0}).animate({opacity: 1.0},500);
						    			break;
						    		case 3:
						    			circle4.css({'visibility':'visible', 'opacity':0}).animate({opacity: 1.0},500);
						    			circle1.animate({opacity: 0},500, function(t){
						    				$(this).css({'visibility':'hidden'});
						    			});
						    			break;
					    			case 4:
						    			circle5.css({'visibility':'visible', 'opacity':0}).animate({opacity: 1.0},500);
						    			circle2.animate({opacity: 0},500, function(t){
						    				$(this).css({'visibility':'hidden'});
						    			});
						    			break;
					    			case 5:
					    				circle3.animate({opacity: 0},500, function(t){
					    					$(this).css({'visibility':'hidden'});
					    				});
					    				status = -1;
						    			break;
					    			default:
					    				status = -1;
						    	}
						    },250)
					    })();
				    });
				  </script>
				<% end %>
			</div>
			<div class="add_product_error" style="display:none">

			</div>
		</div>
		<div class="add_product_image wizard_box" style="display:none">
			<div class = "circle_half_wrapper">
				<div class="add_product_circle green">
				<h2>Please select a photo of your product</h2>
			</div>
			</div>
			<div class="add_product_url_frm">
				<div class="add_product_product_title"></div>
				<div class="add_product_product_url"></div>
			</div>
			
		</div>
		<div class="add_product_confirm wizard_box" style="<%= 'display:none' if @product.errors.any? == false %>">
			<div class = "circle_half_wrapper">
				<div class="add_product_circle yellow">
				<h2>Choose a category and add your product</h2>
			</div>
			</div>
			<div class="add_product_selected_img"></div>
			<div class="add_product_frm">
				<%= form_for(@product, :html => { :multipart => true }) do |f| %>
				   <% if @product.errors.any? %>
				      <div id="error_explanation">
				         <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
				         <ul>
				            <% @product.errors.full_messages.each do |msg| %>
				               <li><%= msg %></li>
				            <% end %>
				         </ul>
				      </div>
				   <% end %>
				  
				   <div>
						<div class="field">
							 <%= f.text_field :name %>
						</div>
						<div class="field">
							 <%= f.text_field :product_url %>
						</div>

				      <div class="field" style="float: left;width: 100%;">
				      	 <% options = @categories.unshift Category.new(id: 0, name: 'Select a category') %>
				         <%= f.collection_select :category_id, options, :id, :name  %>
				      </div>

						<%= f.hidden_field :image_url %>				
						<%= f.hidden_field :slug, :value => SecureRandom.hex(10) %>
						<%= f.hidden_field :user_id, :value => current_user.id %>

						<div class="add_product_btn" style = "display:none;">
							<%= f.submit "Add to FRNZY", :class => "add_product_next_step_3", :style => ""  %>
						</div>

						<div style = "width:100%;">
							<a href="#" class="fa-button add_product_clicker_3" style = "margin-top:20px;margin-bottom:0px;width: 150px;margin-left:-75px;left:50%;position:relative;">
								<i class="fa fa-plus-circle"></i>Add to FRNZY
							</a>
						</div>

				   </div>

				<% end %>
			</div>
		</div>
	<% else %>
			<div style="padding-top:16px;" class = "close_on_click">
				<h2>Please <a href = "#" class = "open_login">sign in</a> to<br>add a product</h2>
			</div>
	<% end %>  
	<script>
		//$('.frnzyFeedback').hide();
	</script>

</div>

</div>

</div>
