<div class="ShareCenter">
	<div class="ShareModalBtn share_gplus">
		<a target = "_blank" href="https://plus.google.com/share?url=http://www.frnzy.co.uk/<%= ( "deals/" + @deal.id.to_s ) %>"><img src="/images/gPlusRound.png" /></a>
	</div>

	<div class="ShareModalBtn share_facebook">
		<a target = "_blank" href="http://m.facebook.com/sharer.php?u=http://www.frnzy.co.uk/<%= ( "deals/" + @deal.id.to_s ) %>"><img src="/images/fbRound.png" /></a>
	</div>

	<div class="share_share ShareModalBtn">
		SHARE
	</div>
	<div class="ShareModalBtn share_twitter">
		<a target = "_blank" href="https://twitter.com/intent/tweet?text=Check%20out%20this%20deal%20for%20<%= raw @deal.product.name %>%20on%20%23FRNZY.%20http://www.frnzy.co.uk/<%= ( "deals/" + @deal.id.to_s ) %>"><img src="/images/twitRound.png" /></a>
	</div>

	<div class="ShareModalBtn share_pintrest">
		<a target = "_blank" href="http://pinterest.com/pin/create/link/?url=http://www.frnzy.co.uk/<%= ( "products/" + @deal.product.id.to_s ) %>"><img src="/images/pinRound.png" /></a>
	</div>
</div>




