

    <!-- Zetta Menu 2 -->
  <ul onClick="" class="zetta-menu zm-response-simple zm-full-width zm-effect-fade">



<!-- Multilevel Dropdown Menu -->
      <li style = "text-align :left;" id = "products_menu">

        <a id = "menu_open_button" ><i id = "product_icon" class="fa fa-bars"></i>Products<i class="zm-caret fa fa-angle-down"></i></a>
        <a style = "display:none;" id = "menu_close_button" ><i id = "product_icon" class="fa fa-close" style = "" ></i>Products<i class="zm-caret fa fa-angle-down"></i></a>


      <ul class="w-300 set_document_height" style = "overflow:auto;">

             <h3 style = "margin-bottom:10px;">Search for products and deals</h3>

        <li class="zm-search zm-search-mobile">
     
    

          <form action = "/search/">
            <%= text_field_tag :query, params[:query], {:class => "searchtext", :style=>"width:100%;", :placeholder=>"Product name" }%>
            <label for="search-1" class="fa fa-search"></label>
          </form>


    </li>


        <h3 style = "margin-bottom:10px;margin-top:10px;">Browse by category</h3>

   <div class = "maseplese">

       <li class = "menu_half">
                              <a href="/categories/arts-&amp;-entertainment">Arts &amp; Entertainment</a>

     
                                  <li class = "menu_half">

                              <a href="/categories/clothes-shoes-&amp;-jewellery">Clothes, Shoes &amp; Jewellery</a>


                           </li>
                         
                           </li>
                                  <li class = "menu_half">

                              <a href="/categories/electricals-&amp;-computers">Electricals &amp; Computers</a>


                           </li>
                                  <li class = "menu_half">

                              <a href="/categories/toys-children-&amp;-baby">Toys, Children &amp; Baby</a>


                           </li>
                                  <li class = "menu_half">

                              <a href="/categories/car-&amp;-motorbike">Car &amp; Motorbike</a>


                           </li>
                                  <li class = "menu_half">

                              <a href="/categories/photography">Photography</a>


                           </li>
                                  <li class = "menu_half">

                              <a href="/categories/health-&amp;-beauty">Health &amp; Beauty</a>


                           </li>
                                  <li class = "menu_half">

                              <a href="/categories/home-gardens-pets-&amp;-DIY">Home, Gardens, Pets &amp; DIY</a>


                           </li>
                                  <li class = "menu_half">

                              <a href="/categories/audio-&amp;-phones">Audio &amp; Phones</a>


                           </li>
                                  <li class = "menu_half">

                              <a href="/categories/food-&amp;-drink">Food &amp; Drink</a>


                           </li>
  

    <li class = "menu_half">

                              <a href="/categories/sports-&amp;-leisure">Sports &amp; Leisure</a>


                           </li>

                           </div>

        <li class="menu_footer">
          <a href="/pages/contact-us/">Contact</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/pages/terms-and-conditions">Terms and Conditions</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/pages/privacy-and-cookies">Privacy Policy</a>
        </li>

      </ul>
    </li>
    <!-- /Multilevel Dropdown Menu -->

      <!-- Simple Item -->
    <li class="lessthan450 zm"><a class = "add_popup_open" hrecirclef="#"><i class="fa fa-plus-circle"></i>Add</a></li>
    <!-- /Simple Item -->


      <!-- User Login -->
    <li style = "display:none;" class="lessthan450  zm-content"><a><i class="zm-single-icon fa fa-plus-circle"></i></a>
      <div class="w-350">
        <h3>Add a product to FRNZY</h3>
        <form action="">
          <input placeholder="Product name" name="name" type="text">
          <input placeholder="Product url" name="url" type="text">
          <input class="zm-button" type="submit" value="Add">
        </form>
      </div>
    </li>
    <!-- /User Login -->

    <!-- Logo -->
    <li class="zm-logo"><a href="/"><img title="zettaMenu logo image" src="/images/logo.png" alt=""></a></li>
    <!-- /Logo -->

    <!-- Simple Item -->
    <li style = "display:none;" class="zm"><a href="#"><i class="fa fa-home"></i>Active</a></li>
    <!-- /Simple Item -->

  <!-- User Login -->
      
      <% unless current_user %>



    <li style = "" class="zm-content zm-right-item zm-right-align" id = "profile_menu">

      <a id = "profile_menu_open_button"><i class="zm-single-icon fa fa-user login_icon"></i></a>
      <a style = "display:none;" id = "profile_menu_close_button"><i class="zm-single-icon fa fa-close login_icon"></i></a>

        <div class="w-300 login_menu">
          <h3>Sign in to FRNZY!</h3>


          <%= form_tag sessions_path, :remote => true do %>
            <div id = "loginupdate"></div>
            <input id="email" name="email" placeholder="Email"type="text">
            <input id="password"  placeholder="Password" name="password" type="password">
            <input class="fa-button" type="submit" value="Sign in">
         <% end %>



          <% session[:return_to] = request.url %>
          <!-- Modal login ONLY if not logged in -->
        
        <div style = "text-align:center;" class = "forgot_and_register">

          <p style="margin-top:20px;"><%= link_to "Forgotten password?", new_password_reset_path %><br>Not a member yet? <a class = "register_popup_open" href="#" style = "text-decoration:underline;">Get started</a></p>
        
        </div>
            <!-- <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button> -->
         
       
          
          <script>
            $(document).ready(function(){
              $('.NotAmember a').on('click', function(e){
                e.preventDefault();

                $('#myModal').modal('hide');
                setTimeout(function(){
                  $('#myModalRegister').modal('show');
                }, 300);
                return false;
              });
            });
          </script>





 <div style = "text-align:center;font-weight:bold;margin-top:10px;">OR</div>
 
        <div style  = "margin-top:5px;width:250px; margin:0pt auto;"><a href="/auth/facebook" id="sign_in"><img src = "/images/signin-facebook-large.png" /></a></div>

        </div>

      <% else %>

        <li style = "" class="zm-content zm-right-item zm-right-align" id = "profile_menu">
          <a id = "profile_menu_open_button"><i class="zm-single-icon fa fa-user login_icon"></i></a>
          <a style = "display:none;" id = "profile_menu_close_button"><i class="zm-single-icon fa fa-close login_icon"></i></a>

          <ul class="w-200 profiledropdown">


                  <div class="menu_profile_image">
                    <div>
                      <% if current_user.provider == 'facebook' %>
                         <% theproductimageurl = 'https://graph.facebook.com/'+current_user.uid.to_s+'/picture?type=large' %>
                      <div class = "facebookimage" style = "background-image:url('<%= theproductimageurl %>');" ></div>
                      <% else %>
                         <%= image_tag current_user.photo.url(:small) %>
                      <% end %>
                   </div>
                 </div>






            <li style = "margin-top: 0px;"><a class = "add_popup_open" href="#"><i class="fa fa-plus-circle fa-fw"></i> Add product</a></li>
            <li style = "margin-top: 0px;">
              <%= link_to '/invite/home', :class => "", :remote => true do %>
                <i class="fa fa-user-plus"></i>
                Invite Friends
              <% end %>
            </li>
            <li style = "margin-top: 0px;">
              <%= link_to current_user, :class => "" do %>
                <i class="fa fa-user"></i>
                View profile
              <% end %>
            </li>
            <li style = "margin-top: 0px;"><a href="/win_urBeats_by_dre"><i class="fa fa-headphones fa-fw"></i> WIN urBeats</a></li>
            <li style = "margin-top: 0px;"><a href="/dashboard"><i class="fa fa-tachometer fa-fw"></i> Dashboard</a></li>
            <li style = "margin-top: 0px;"><a href="/how_it_works"><i class="fa fa-question-circle fa-fw"></i> How it works</a></li>



            <li style = "margin-top: 0px;"><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Sign out</a></li>
          </ul>
        </li>


       <% if current_user.role_id == 1 %>


        <li style = "" class="lessthan450 zm-content zm-right-item zm-right-align" id = "admin_menu">
          <a id = "admin_menu_open_button"><i class="zm-single-icon fa fa-cog login_icon fa-fw"></i></a>
          <a style = "display:none;" id = "admin_menu_close_button"><i class="zm-single-icon fa fa-close login_icon fa-fw"></i></a>

          <ul class="w-200 admindropdown" style = "text-align:left;">
            <li style = "margin-top: 0px;"><a href = "/admin_orders">View all transactions</a></li>
            <li style = "margin-top: 0px;"><a href = "/admin_users">Manage users (<%= @users_new_count %>)</a></li>
            <li style = "margin-top: 0px;"><a href = "/admin_merchants">Manage merchants (<%= @merchants_new_count %>)</a></li>
            <li style = "margin-top: 0px;"><a href = "/admin_products">Manage products (<%= @products_new_count %>)</a></li>
            <li style = "margin-top: 0px;"><a href = "/admin_deals">Manage deals (<%= @deals_new_count %>)</a></li>
            <li style = "margin-top: 0px;"><a href = "/admin_categories">Manage categories</a></li>
            <li style = "margin-top: 0px;"><a href = "/admin_pages">Edit pages</a></li>
            <li style = "margin-top: 0px;"><a href = "/admin_referrals">View Referrals</a></li>
            <li style = "margin-top: 0px;"><%= link_to 'Edit admin profile', edit_user_path(current_user) %></li>
          </ul>
        </li>

        <% end %>


      <% end %>








     

    
    <!-- Search Place -->
    <li class="zm-search zm-right-item" style = "display:none;">
      <form action="">
        <input id="search-2" name="search" type="search">
        <label for="search-2" class="fa fa-search"></label>
      </form>
    </li>
    <!-- /Search Place --> 



    <li class="lessthan450 zm-right-item zm-right-align "><a href="/how_it_works"><i class="fa fa-question-circle"></i>How it works</a></li>


  </ul>
  <!-- /Zetta Menu 2 -->


