

    <!-- Zetta Menu 2 -->
  <ul onClick="" class="zetta-menu zm-response-simple zm-full-width zm-effect-fade">

    <!-- Links -->
   <li style = "display:none;" class="zm-content-full"><a><i class="fa fa-bars"></i>Products<i class="zm-caret fa fa-angle-down"></i></a>
      <div>
        <div class="zm-row">
          <div class="zm-col c-3">
            <ul>
              <h3>Heading Title</h3>
              <li><a href="#">HTML5</a></li>
              <li><a href="#">CSS3</a></li>
              <li><a href="#">JS</a></li>
              <li><a href="#">PHP</a></li>
              <li><a href="#">WordPress</a></li>
              <li><a href="#">jQuery</a></li>
            </ul>
          </div>
          <div class="zm-col c-3">
            <ul>
              <h3>Heading Title</h3>
              <li><a href="#">HTML5</a></li>
              <li><a href="#">CSS3</a></li>
              <li><a href="#">JS</a></li>
              <li><a href="#">PHP</a></li>
              <li><a href="#">WordPress</a></li>
              <li><a href="#">jQuery</a></li>
            </ul>
          </div>
          <div class="zm-col c-3">
            <ul>
              <h3>Heading Title</h3>
              <li><a href="#">HTML5</a></li>
              <li><a href="#">CSS3</a></li>
              <li><a href="#">JS</a></li>
              <li><a href="#">PHP</a></li>
              <li><a href="#">WordPress</a></li>
              <li><a href="#">jQuery</a></li>
            </ul>
          </div>
          <div class="zm-col c-3">
            <ul>
              <h3>Heading Title</h3>
              <li><a href="#">HTML5</a></li>
              <li><a href="#">CSS3</a></li>
              <li><a href="#">JS</a></li>
              <li><a href="#">PHP</a></li>
              <li><a href="#">WordPress</a></li>
              <li><a href="#">jQuery</a></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <!-- /Links -->

<!-- Multilevel Dropdown Menu -->
      <li style = "text-align:left;"><a><i class="fa fa-bars"></i>Deals<i class="zm-caret fa fa-angle-down"></i></a>
      <ul class="w-350">
        <h3 style = "margin-bottom:10px;">Categories</h3>
        <li><a href="#">Arts & Entertainment</a></li>
        <li><a href="#">Electricals & Computers</a></li>
        <li><a href="#">Clothes, Shoes & Jewellery</a></li>
        <li><a href="#">Sports & Leisure</a></li>
        <li><a href="#">Toys, Children & Baby</a></li>
        <li><a href="#">Car & Motorbike</a></li>
        <li><a href="#">Photography</a></li>
        <li><a href="#">Health &Beauty</a></li>
        <li><a href="#">Home, Gardens, Pets & DIY</a></li>
        <li><a href="#">Audio & Phones</a></li>
        <li><a href="#">Food & Drink</a></li>

      </ul>
    </li>
    <!-- /Multilevel Dropdown Menu -->


    <!-- Content Dropdown + Grid -->
    <li style = "display:none;" class="zm-content-full zm-grid"><a><i class="fa fa-bars"></i>Products<i class="zm-caret fa fa-angle-down"></i></a>
      <div>
        <div class="zm-row">
          <div class="zm-col c-1"><div class="zm-grid-wrapper">
            <center>One</center>
          </div></div>
          <div class="zm-col c-11"><div class="zm-grid-wrapper">
            <center>Eleven</center>
          </div></div>
        </div>
        <div class="zm-row">
          <div class="zm-col c-10"><div class="zm-grid-wrapper">
            <center>Ten</center>
          </div></div>
          <div class="zm-col c-2"><div class="zm-grid-wrapper">
            <center>Two</center>
          </div></div>
        </div>
        <div class="zm-row">
          <div class="zm-col c-3"><div class="zm-grid-wrapper">
            <center>Three</center>
          </div></div>
          <div class="zm-col c-9"><div class="zm-grid-wrapper">
            <center>Nine</center>
          </div></div>
        </div>
        <div class="zm-row">
          <div class="zm-col c-8"><div class="zm-grid-wrapper">
            <center>Eight</center>
          </div></div>
          <div class="zm-col c-4"><div class="zm-grid-wrapper">
            <center>Four</center>
          </div></div>
        </div>
        <div class="zm-row">
          <div class="zm-col c-5"><div class="zm-grid-wrapper">
            <center>Five</center>
          </div></div>
          <div class="zm-col c-7"><div class="zm-grid-wrapper">
            <center>Seven</center>
          </div></div>
        </div>
        <div class="zm-row">
          <div class="zm-col c-1"><div class="zm-grid-wrapper">
            <center>One</center>
          </div></div>
          <div class="zm-col c-1"><div class="zm-grid-wrapper">
            <center>One</center>
          </div></div>
          <div class="zm-col c-1"><div class="zm-grid-wrapper">
            <center>One</center>
          </div></div>
          <div class="zm-col c-1"><div class="zm-grid-wrapper">
            <center>One</center>
          </div></div>
          <div class="zm-col c-1"><div class="zm-grid-wrapper">
            <center>One</center>
          </div></div>
          <div class="zm-col c-1"><div class="zm-grid-wrapper">
            <center>One</center>
          </div></div>
          <div class="zm-col c-1"><div class="zm-grid-wrapper">
            <center>One</center>
          </div></div>
          <div class="zm-col c-1"><div class="zm-grid-wrapper">
            <center>One</center>
          </div></div>
          <div class="zm-col c-1"><div class="zm-grid-wrapper">
            <center>One</center>
          </div></div>
          <div class="zm-col c-1"><div class="zm-grid-wrapper">
            <center>One</center>
          </div></div>
          <div class="zm-col c-1"><div class="zm-grid-wrapper">
            <center>One</center>
          </div></div>
          <div class="zm-col c-1"><div class="zm-grid-wrapper">
            <center>One</center>
          </div></div>
        </div>
        <div class="zm-row">
          <div class="zm-col c-2"><div class="zm-grid-wrapper">
            <center>Two</center>
          </div></div>
          <div class="zm-col c-2"><div class="zm-grid-wrapper">
            <center>Two</center>
          </div></div>
          <div class="zm-col c-2"><div class="zm-grid-wrapper">
            <center>Two</center>
          </div></div>
          <div class="zm-col c-2"><div class="zm-grid-wrapper">
            <center>Two</center>
          </div></div>
          <div class="zm-col c-2"><div class="zm-grid-wrapper">
            <center>Two</center>
          </div></div>
          <div class="zm-col c-2"><div class="zm-grid-wrapper">
            <center>Two</center>
          </div></div>
        </div>
        <div class="zm-row">
          <div class="zm-col c-4"><div class="zm-grid-wrapper">
            <center>Four</center>
          </div></div>
          <div class="zm-col c-4"><div class="zm-grid-wrapper">
            <center>Four</center>
          </div></div>
          <div class="zm-col c-4"><div class="zm-grid-wrapper">
            <center>Four</center>
          </div></div>
        </div>
        <div class="zm-row">
          <div class="zm-col c-2"><div class="zm-grid-wrapper">
            <center>Two</center>
          </div></div>
          <div class="zm-col c-7"><div class="zm-grid-wrapper">
            <center>Seven</center>
          </div></div>
          <div class="zm-col c-3"><div class="zm-grid-wrapper">
            <center>Three</center>
          </div></div>
        </div>
        <div class="zm-row">
          <div class="zm-col c-4"><div class="zm-grid-wrapper">
            <center>Four</center>
          </div></div>
          <div class="zm-col c-1"><div class="zm-grid-wrapper">
            <center>One</center>
          </div></div>
          <div class="zm-col c-5"><div class="zm-grid-wrapper">
            <center>Five</center>
          </div></div>
          <div class="zm-col c-2"><div class="zm-grid-wrapper">
            <center>Two</center>
          </div></div>
        </div>
      </div>
    </li>
    <!-- /Content Dropdown + Grid -->




    <!-- Logo -->
    <li class="zm-logo"><a href="#"><img style = "width:228px;" title="zettaMenu logo image" src="/images/logo.png" alt=""></a></li>
    <!-- /Logo -->

    <!-- Simple Item -->
    <li style = "display:none;" class="zm"><a href="#"><i class="fa fa-home"></i>Active</a></li>
    <!-- /Simple Item -->

  <!-- User Login -->
    <li class="zm-content zm-right-item zm-right-align"><a><i class="zm-single-icon fa fa-user"></i></a>
      <div class="w-350">
        <h3>User Login</h3>
        <form action="">
          <input placeholder="Login" name="login" type="text">
          <input placeholder="Password" name="password" type="password">
          <input class="zm-button" type="submit" value="Sign in">
        </form>
      </div>
    </li>

  
    
    
    <!-- Search Place -->
    <li class="zm-search zm-right-item">
      <form action="">
        <input id="search-2" name="search" type="search">
        <label for="search-2" class="fa fa-search"></label>
      </form>
    </li>
    <!-- /Search Place -->
  </ul>
  <!-- /Zetta Menu 2 -->


