<div class="scrape_image_found">
	<img src="<%= image %>" alt="" style="width: 100%;" data-host="<%= @url %>" />
	<!-- <div style="position: absolute; bottom: 5px; background: rgba(0,0,0,0.8); padding: 5px; color: white"><%= @url.host %></div> -->
</div>