if(window.frnzyAnim)
{
	clearInterval(window.frnzyAnim);
}
<% if @error != nil %>
	$('.add_product_url .add_product_error').text('<%= @error %>').show();
	$('.add_product_url_loading').hide();
	$('.add_product_url_frm input[type="submit"]').show();
	$('.add_product_clicker_2').show();

<% else %>
	<% if @imglist.count > 0 %>

		//$('.add_holder').addClass('allowbig');
			$('.add_product_url_frm').hide();

		$('.scrape_image_found').off('click');
		$('.add_product_image .add_product_photos_found').remove();
		$('.add_product_url').hide();
		$('.add_product_product_url').text('<%= @url %>');
		var images = [];
		<% @imglist.each do |image| %>
			images.push("<%= escape_javascript(render 'scrape/image_found', :image => image)%>");
		<% end %>
		var imageListHtml = $('<div />').addClass('add_product_photos_found');
		imageListHtml.html(images);
		$('.add_product_image').show().append(imageListHtml);
		
		$('.scrape_image_found').on('click', function(){
			$('.add_product_confirm').find('#product_product_url').val($(this).find('img').data('host'));
			$('.add_product_confirm').find('#product_image_url').val($(this).find('img').attr('src'));
			var img = $('<img src="' + $(this).find('img').attr('src') + '"/>');

			$('.add_product_selected_img').html(img);
			
			$('.add_product_image').hide();
			$('.add_product_confirm').show();
			$('.add_product_url_frm').show();
			
			//$('.add_holder').removeClass('allowbig');


		});
	<% else %>
		$('.add_product_url .add_product_error').text('Error: No images found..').show();
	<% end %>
<% end %>