<link rel="stylesheet" href="/adminbootstrap/bootstrap.min.css" />
<div class = "boostrap_admin_menu" style="width:100%;box-sizing: border-box;">

<% title ('FRNZY / Orders') %>	
<% set_meta(:title => ('FRNZY / Orders'), :description => ('FRNZY / Orders')) %>


<div class="navbar admin_nav">
	<div class="navbar-inner">
		<a href="#" class="subbrand">Transactions</a>	
		<%= render 'shared/admin_menu' %>

	</div>
</div>






<%= form_tag admin_orders_path, :class => 'navbar-form', :method => 'get' do %>
  <p style = "text-align:center;">
    <%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Find by transaction id", :class => "btn", :name => nil %> 
	<% if params[:search].nil? %>
	<% else %>
	<a class = "btn" href = "/admin_orders">Clear</a>
	<% end %>
 </p>
<% end %>








<table class="table">
  <tr>
  	<th class = "nomobile">ID</th>
  	<th class = "nomobile"><%= sortable "created_at", "Date" %></th>
  	<th class = "nomobile"><%= sortable "user_id", "User" %></th>
    <th>Product</th>
   
    <th class = "nomobile">Transaction ID</th>

    <th class = "nomobile"><%= sortable "paypal_email", "Paypal email" %></th>  
    <th class = "nomobile"><%= sortable "order_type", "Type" %></th>  
     <th>Amount</th>  
     <th></th>
  </tr>
  
<% @orders.each do |order| %>
  <tr>
	<td class = "nomobile"><%= order.id %></td>
	<td class = "nomobile"><%= order.created_at.to_date %></td>
	<td class = "nomobile"><%= link_to order.user.username, order.user %></td>
	<td>
	
	
	<%= order.deal.product.name %> 
		
	
	</td>
	
	<td class = "nomobile"><%= order.transactionid %></td>
	<td class = "nomobile"><%= order.paypal_email %></td>
	<td class = "nomobile"><% if order.order_type == 0 %>Purchase<% end %><% if order.order_type == 1 %>Refund<% end %></td>

	<%
	if order.order_type == 0
	@whichway = -1;
	end
	if order.order_type == 1
	@whichway = 1;
	end
	%>

	
	<td><%= number_to_currency((order.total*(@whichway)), :unit => "£") %></td>







	<td><%= link_to 'View', order.deal, :class => 'fa-button' %><td>


	</tr>
	

	<% end %>
	
	
	</table>





<%= will_paginate @orders, previous_label: h("<"), next_label: h(">") %>
</div>
