<div style="max-width: 1000px;width: 100%;margin:0pt auto;margin-top:10px;" class = "responsive_dre_wrapper" >

	<div style="background:#e4edf1;overflow: hidden;">
		
	
		<div class = "responsive_dre dre_section1">
			<div class = "win_ur_beats">
				<h1 style="">Win urBeats<br/>by Dre</h1>
				<p style="">when you invite the most people <br/> to FRNZY in any month*.</p>
			</div>
		</div>

		<div class = "responsive_dre dre_section2">
			<div>
				<p>Simply click <span style="text-decoration:underline">Invite friends</span> in your profile menu and follow the instructions. </p><p>Good luck, and let the FRNZY begin!
				</p>

				<div class = "inviter" style="background: url('/images/win/button.png') no-repeat; height: 23px; width: 200px;padding: 9px 40px 11px 25px;font-size: 15px;margin-top: 40px;margin-left: 0px;">
					<% if current_user %>
						<a href="/invite/home" class="" data-remote="true" style="color: white">
							INVITE YOUR FRIENDS NOW
						</a>
					<% else %>
						<a href="#myModal" role="button" data-toggle="modal" style="color: white">
							INVITE YOUR FRIENDS NOW			
						</a>
					<% end %>
				</div>
			</div>
		</div>

		<div class = "responsive_dre dre_section3">
			<div style="background: url('/images/win/beats_by_dre.png'); height: 340px; width: 278px; float:right;">
			</div>
		</div>




	</div>

	<div style="clear:both;text-align:center; padding-top:20px;">
		<span style="color: #676767; font-size: 12px; line-height: 12px">*Your referrals must join the website for you to be eligible and are calculated within each calendar month period. Winners will be notified by email.</span><br/>
		<a href="/pages/competition-terms-and-conditions" style="color: #e83087; font-size: 12px;	">Terms and Conditions apply</a>
	</div>

</div>
<script>
	$(document).ready(function () {
		$('#hide_beats').remove();	
	})
</script>