<div class = "page_wrapper" style = "max-width:500px;padding:20px;padding-top:0px; box-sizing: border-box;">

<% if current_user %>
<% if current_user.role_id == 1 %>

	<% title ('FRNZY / Edit ' + @page.title) %>	
	<% set_meta(:title => ('FRNZY / ' + @page.title), :description => ('FRNZY / ' + @page.title)) %>

       <%= form_for(@page) do |f| %>
         
         <div class="shopSaveShareMsg2">
          <div class="shopSaveShareTxt2">
              <ul>
                  <li class="selected">
                     Editing <%= @page.title %>       
                  </li>
              </ul>
          </div>
         </div>

         <% if @page.errors.any? %>
            <div id="error_explanation">
               <h2><%= pluralize(@page.errors.count, "error") %> prohibited this user from being saved:</h2>
               <ul>
                  <% @page.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
               </ul>
            </div>
         <% else %>           
         <% end %>

        <div class="frnzyFrmGrp_res">
            <div class="frnzyFrmRight">
               <div class="field">
                  <%#= f.label :first_name %>
                  <%= f.text_area :content,{placeholder: "content"} %>
               </div>
               <div class="field">
                  <%#= f.label :last_name %>
                  <%= f.text_field :slug,{placeholder: "slug"} %>
               </div>
               <div class="field">
                  <%#= f.label :username %>
                  <%= f.text_field :title,{placeholder: "title"} %>
               </div>
               <div class="field">
                  <%#= f.label :company %>
                  <%= f.text_field :metadescription,{placeholder: "meta-description"} %>
               </div>

               <div class="field">
                  <%#= f.label :house_number %>
                  <%= f.text_field :metatitle,{placeholder: "meta-title"} %>
               </div>
               <div class="field">
                  <%#= f.label :address %>
                  <%= f.text_field :metakeyword,{placeholder: "meta-keywords"} %>
               </div>
              
            </div>
         </div>

         <div class="frnzyFrmGrp_res">     
            <div class="form_heading">
            </div>
            <div class="frnzyFrmRight">
               <div class="actions">
                  <%= f.submit 'Submit', {:style => 'margin-top:20px;', :class => 'fa-button'} %>  
               </div>
            </div>
         </div>

      <% end %> 

<% end %>
<% end %>
 
</div>



















