<div style="" class="how_it_works">
	<div class = "howitworks_inner">

<h1>Our group buying platform connects you with other shoppers for unique deals on any product you want. Here's how it works.</h1>

</div>



<div class="how_it_works--circles_responsive">
	<div class = "">

	<div class="how_it_works--circle_box circle_1">
		<div class="how_it_works--image"><img src = "/images/how/step1_lrg.png" /></div>
		<div class="how_it_works--bubble_responsive">Pick the product you want to buy from any website </div>
	</div>

	<div class="how_it_works--circle_box circle_2">
		<div class="how_it_works--image"><img src = "/images/how/step2_lrg.png" /></div>
		<div class="how_it_works--bubble_responsive">Copy and paste the product URL (web address) into FRNZY </div>
	</div>

	<div class="how_it_works--circle_box circle_3">
		<div class="how_it_works--image"><img src = "/images/how/step3_lrg.png" /></div>
		<div class="how_it_works--bubble_responsive">Likeminded shoppers, who want the same product as you, join you on FRNZY</div>
	</div>

	<div class="how_it_works--circle_box circle_4">
		<div class="how_it_works--image"><img src = "/images/how/step4_lrg.png" /></div>
		<div class="how_it_works--bubble_responsive">We contact sellers and negotiate a unique, time-limited discount for you based on the number of ‘wants’</div>
	</div>

	<div class="how_it_works--circle_box circle_5">
		<div class="how_it_works--image"><img src = "/images/how/step5_lrg.png" /></div>
		<div class="how_it_works--bubble_responsive">If the price is right for you, join the deal. If not, there’s no obligation to buy</div>
	</div>

	<div class="how_it_works--circle_box circle_6">
		<div class="how_it_works--image"><img src = "/images/how/step6_lrg.png" /></div>
		<div class="how_it_works--bubble_responsive">Once the deal is done, the seller will deliver the product directly to you</div>
	</div>
</div>
</div>




<div class="how_it_works--recomendation-container">
	<h2>What people are saying about us</h2>
	<ul>
		<li>
			<div class="how_it_works--user-img">
				<img src="/images/how/user1.png" />
			</div>
			<div class="text_container">
				<div class="how_it_works--stars five_stars"></div><p>“Great deal, worth waiting for. Thanks FRNZY!”</p><span>Clare W. Berkshire</span>
			</div>
		</li>
		<li>
			<div class="how_it_works--user-img">
				<img src="/images/how/user2.png" />
			</div>
			<div class="text_container">
				<div class="how_it_works--stars four_stars"></div><p>“Loved the service. Will buy again from you guys”</p><span>Tom S. London</span>
			</div>
		</li>
		<li>
			<div class="how_it_works--user-img">
				<img src="/images/how/user3.png" />
			</div>
			<div class="text_container">
				<div class="how_it_works--stars three_stars"></div><p>“Will definitely recommend to friends”</p><span>Sara L. London</span>
			</div>
		</li>
		<li>
			<div class="how_it_works--user-img">
				<img src="/images/how/user4.png" />
			</div>
			<div class="text_container">
				<div class="how_it_works--stars five_stars"></div><p>“FRNZY gets me what I want, at a great price... genius!”</p><span>Adam W. Derby</span>
			</div>
		</li>
	</ul>
</div>
<div class="how_it_works--social-cotainer">

	<div class = "howitworks_inner">

	<h1>We're social too!</h1>
	<div class="how_it_works--social-img"><img src="/images/how/social.png"/></div>
	<h3>When it comes to getting great deals the more the merrier, so with FRNZY you can invite others to join you and share any product or deal with your friends, followers and Facebook buddies.</h3>
</div>

</div>

</div>
<script>
(function(){
	$('.how_it_works--play-video').on('click', function(){
		alert('Video coming soon!')
	});
   	//$('.frnzyFeedback').hide();
	$('div.how_it_works').parent().css('max-width','');
	//$('body').css('padding-bottom','40px');
})();
</script>