<% title ('FRNZY / ' + @page.title) %>	
<% set_meta(:title => ('FRNZY / ' + @page.title), :description => ('FRNZY / ' + @page.title)) %>


<% if @page.slug == 'contact-us' %>


<div class = "page_wrapper" style = "max-width:500px;padding:20px;padding-top:0px; box-sizing: border-box;">

       <% session[:return_to] = request.url %>
		<% @contactmessage = Contactmessage.new %>
		<%= form_for @contactmessage, :url => contactmessager_path, :remote => true do |f| %>
         
         <div class="shopSaveShareMsg2">
          <div class="shopSaveShareTxt2">
              <ul>
                  <li class="selected">
                    Contact us     
                  </li>
              </ul>
          </div>
         </div>

         <% if @page.errors.any? %>
            <div id="error_explanation">
               <h2><%= pluralize(@page.errors.count, "error") %> prohibited this user from being saved:</h2>
               <ul>
                  <% @page.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
               </ul>
            </div>
         <% else %>           
         <% end %>

        <div class="frnzyFrmGrp_res">
            <div class="frnzyFrmRight">
            	<div class = "ajaxformerrors contacterrors" style = "display:none;">&nbsp;</div>
            	<div class="field">
                  <%#= f.label :company %>
                  <%= f.text_field :name,{placeholder: "name"} %>
               </div>
               <div class="field">
                  <%#= f.label :username %>
                  <%= f.text_field :subject,{placeholder: "subject"} %>
               </div>
               <div class="field">
                  <%#= f.label :last_name %>
                  <%= f.text_field :email,{placeholder: "email"} %>
               </div>
               <div class="field">
                  <%#= f.label :first_name %>
                  <%= f.text_area :body,{placeholder: "message"} %>
               </div>
               
            </div>
        </div>


         <div class="frnzyFrmGrp_res">     
            <div class="form_heading">
            </div>
            <div class="frnzyFrmRight">
               <div class="actions">
                  <%= f.submit 'Submit', {:style => 'margin-top:20px;', :class => 'fa-button'} %>  
               </div>
            </div>
         </div>

      <% end %> 

 
</div>



<% else %>





<div class = "page_wrapper page_wrapper_text">

<div class="shopSaveShareMsg2">
    <div class="shopSaveShareTxt2">
        <ul>
            <li class="selected">
                <%= @page.title %>
            </li>
        </ul>
    </div>
</div>


<div style="padding:0px !important;" class="product_bottom product_bottom_left_column">
	<div class="product_bottom_left">

		

		<%= raw @page.content %>



	</div>
	</div>
</div>




		<% end %>	



