<link rel="stylesheet" href="/adminbootstrap/bootstrap.min.css" />

<div class = "boostrap_admin_menu">

<% title ('FRNZY / Pages') %>	
<% set_meta(:title => ('FRNZY / Pages'), :description => ('FRNZY / Pages')) %>

<% if current_user %>
<% if current_user.role_id == 1 %>
<div class="navbar admin_nav">
	<div class="navbar-inner">
		<a href="#" class="subbrand">Pages</a>
		
		<%= link_to 'New Page', new_page_path, :class => "btn btn-danger" %><br>

    	<%= render 'shared/admin_menu' %>


	</div>
</div>



<table class = "table" id="admin_users">

  <tr>
    <th>Title</th>
    <th class = "nomobile">Slug</th>
    <th class = "nomobile">Metatitle</th>
    <th class = "nomobile">Metakeyword</th>
    <th></th>
    <th></th>
    <th class = "nomobile"></th>
  </tr>
<% @pages.each do |page| %>
  <tr>

    <td><%= page.title %></td>

    <td class = "nomobile"><%= page.slug %></td>
    <td class = "nomobile"><%= page.metatitle %></td>
    <td class = "nomobile"><%= page.metakeyword %></td>
    <td><%= link_to 'Show', page, :class => "btn btn-mini" %></td>
    <td><%= link_to 'Edit', edit_page_path(page), :class => "btn btn-mini" %></td>
    <td class = "nomobile"><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
      </tr>
<% end %>
</table>




<% else %>

You do not have access rights to this page
<% end %>
<% else %>

Please sign in to view this page
<% end %>  

</div>