/*------------------------------------ Desktop CSS ---------------------------------------------*/

/* A lOT OF THIS IS REDUNDANT IT IS THE CODE SAVED FROM THE ORIGNAL SLIDE OUT MENU */
/* I NEED TO PICK OUT THE BITS I WANT MOVE OVER AND DELETE THE REST */

.menucircle{
	border-radius:50%;
	width:50%;
}

.webapplinksexpandermain{position: relative;}
.overlapblackbg{
	left:0;
	z-index:100;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	display:none;
	background-color:rgba(0, 0, 0, 0.45);
	cursor:pointer;}
	
.overlapblackbg.open{
	display:block;
	}
.webapplinks{
	font-family:"robotomedium", Arial, Helvetica, sans-serif;
	color:#000;
	position:relative;
	font-size:15px;
	padding:0px;
	margin:0px;
	width:100%;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	margin:0pt auto;
}
.webapplinks-list {
	text-align:left;
	margin:0 auto 0 auto;
	width:100%;
	display: table;
	padding:0px;
	max-width: 1024px;
}
.webapplinks-list li{
	text-align:center;
	display: table-cell; 
	white-space: nowrap;}
.webapplinks-list li a .fa{
	display: inline-block;
	font-size:15px;
	line-height:inherit;
	margin: 0 8px 0 0px;
	width:25px;
	text-align:left;}

.webapplinks-list li ul li a .fa.fa-angle-double-right{ font-size:12px; margin: 0 3px 0 -4px;}
.webapplinks-list li a .arrow:after {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid #fff;
    content: "";
    float: right;
    height: 0;
    margin: 0 0 0 9px;
    position: absolute;
    text-align: right;
    top: 22px;
    width: 0;}

.webapplinks-list li a {
	border-bottom:none;
	display:block;
	background-color:transparent;
	color:#777777;
	padding:0px 10px 0px 10px; line-height:40px;
	text-decoration:none; 
	font-size:16px;
	
	}
.webapplinks-list:first-child a{-webkit-border-radius:2px 0px 0px 0px; -moz-border-radius:2px 0px 0px 0px; border-radius:2px 0px 0px 0px;}
.webapplinks-list:last-child a{-webkit-border-radius:2px 0px 0px 0px; -moz-border-radius:2px 0px 0px 0px; border-radius:2px 0px 0px 0px;}
.webapplinks-list li a:hover .arrow:after{ border-top-color:#fff}
.webapplinks-list li a.active .arrow:after{ border-top-color:#fff}
.webapplinks-list li:hover>a .arrow:after{ border-top-color:#fff}

/*For megamenu desktop */
.webapplinks-list li .megamenu{white-space:normal}
.webapplinks-list li:hover .megamenu{display:block;}
.megamenu{
	width:92% !important;
	left:0px;
	display:none;
	position:absolute;
	top:49px;
	color:#000;
	z-index:1000;
	margin:0px;
	padding:4% !important;
	background-color:#fafafa;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.4s, opacity 0.4s;
	-ms-transition: -ms-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;	
	font-size:14px !important;
	border:1px solid #fafafa;
	margin-left:-1px;
	margin-top:-10px;
	}
.megamenu ul{
	width:23%;
	float:left;
	
	font-size:13px;
	margin:0% 1%;
	padding:0px;
	}
.megamenu ul li.title{
	border-bottom:0px solid #CCC;
	font-size:14px;
	padding:7px 5px 7px 5px;
	
	font-size:18px;
	margin-bottom:7px;

	  width: 100%;

  
  letter-spacing: 1px;
  color: #666;



	}
.megamenu li{
	display:block;
	text-align:center;
	white-space:nowrap;
	text-align:left;
	}
.megamenu li a{
	line-height:18px;
	border-right:none;
	text-align:left;
	padding:7px 8px;
	background:#fff !important;
	background-image:none !important;
	color: #666666 !important;
	border-right: 0 none !important;
	font-size:14px !important;
	margin-bottom:5px;
	}

/*Form for desktop */
.halfdiv{
	width:35%;
	right:0px !important;
	left:auto;}

/* Submenu CSS */
.webapplinks-submenu {
	display:none;
	position:absolute;
	top: 48px;
	z-index:1000;
	margin:0px;
	padding:4px;
	min-width:200px;
	border:solid 1px #eeeeee;
	background-color:#fff;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.4s, opacity 0.4s;
	-ms-transition: -ms-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);}

.webapplinks-submenu li a {
	background:#fff !important;
	background-image:none !important;
	color: #666666 !important;
	border-right: 0 none !important;
	text-align:left;
	display:block;
	line-height:22px;
	padding:6px 12px;
	text-transform:none; 
	
	font-size:14px;
	letter-spacing:normal;
	border-right:0px solid;}

.webapplinks-submenu li{position:relative; margin:0px; padding:0px; }
.webapplinksexpandermain{display:none;}
.webapplinks-list li:hover .webapplinks-submenu{display:block;}
.webapplinks-list .webapplinks-submenu .webapplinks-submenu-sub{ min-width:220px; position:absolute; left:100%; top:0; display:none; margin:0px; padding:0px; -moz-box-shadow:0 3px 10px rgba(0, 0, 0, 0.16); -webkit-box-shadow:0 3px 10px rgba(0, 0, 0, 0.16); box-shadow:0 3px 10px rgba(0, 0, 0, 0.16);}
.webapplinks-list .webapplinks-submenu li:hover .webapplinks-submenu-sub{display:block; list-style:none; padding:4px; border:solid 1px #eeeeee; background-color:#fff;}
.webapplinks-list .webapplinks-submenu li:hover .webapplinks-submenu-sub{display:block;}
.webapplinks-list .webapplinks-submenu .webapplinks-submenu-sub .webapplinks-submenu-sub-sub{ min-width:220px; position:absolute; left:100%; top:0; display:none; margin:0px; padding:0px;-moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19); -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19);	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19);}
.webapplinks-list .webapplinks-submenu .webapplinks-submenu-sub li:hover .webapplinks-submenu-sub-sub{display:block; list-style:none; padding:4px; border:solid 1px #eeeeee; background-color:#fff;}
.webapplinks-submenu li{position:relative; padding:0px; margin:0px; display:block;}
.webapplinks-click{display:none;}

/* Default Theme */ 
.webapplinks-list li:hover>a{background-color:#fafafa !important; }
.webapplinks-list li a:hover {background-color:#fafafa !important; border-radius:2px;}
.webapplinks-submenu li:hover>a{background-color:#fafafa !important;  color:#666 !important;}
.webapplinks-list li a.active{background:#7b7b7b !important; color:#666666 !important;}
.webapplinks-submenu li a:hover {background:#f2f2f2 !important; border-radius:0px!important; color:#666666 !important;}
.mobileheader{ display:none  !important; }
.subheader{ display:none  !important; }
.megamenu ul li a{ color:#666 !important;}



/* Menu Form Stylings ------------------------------- */
.group {
	position: relative;
	margin-bottom:27px;
}
.form-main{ padding-top:0px; }
input {
	font-size:14px;
	padding:0;
	height:39px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
}
input:focus {
	outline: none;
}

textarea {
	font-size:14px;
	/*padding: 10px 10px 10px 10px;*/
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
	
}
textarea:focus {
	outline: none;
}

label {
	color: #999;
	font-size:15px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
	
}

textarea:focus ~ label, textarea:valid ~ label {

}

input:focus ~ label, input:valid ~ label {


}


.bar {
	position: relative;
	display: block;
	width: 100%;
}
.bar:before, .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #3f51b5;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}
.bar:before {
	left: 50%;
}
.bar:after {
	right: 50%;
}
input:focus ~ .bar:before, input:focus ~ .bar:after {
	width: 50%;
}
textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
	width: 50%;
}

.highlight {
	position: absolute;
	height: 60%;
	width: 100%;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}
input:focus ~ .highlight {
	-webkit-animation: stylinginput 0.3s ease;
	-moz-animation: stylinginput 0.3s ease;
	animation: stylinginput 0.3s ease;
}

textarea:focus ~ .highlight {
	-webkit-animation: stylinginput 0.3s ease;
	-moz-animation: stylinginput 0.3s ease;
	animation: stylinginput 0.3s ease;
}
textarea:focus ~ .highlight {
	-webkit-animation: stylinginput 0.3s ease;
	-moz-animation: stylinginput 0.3s ease;
	animation: stylinginput 0.3s ease;
}

.buttondiv01{width:49%; float:left; margin-left:1%;}
.buttondiv01 .subbutton{ font-size:17px; text-transform:uppercase; width:100%; border:solid 0px; background-color:#3f51b5; height:35px; margin:0 !important; padding:0px !important; color:#fff; border-radius:2px; cursor:pointer; }
.buttondiv02{width:49%; float:left; margin-right:1%;}
.buttondiv02 .subbutton{ font-size:17px; width:100%; text-transform:uppercase; border:solid 0px; background-color:#3f51b5; height:35px; margin:0 !important; padding:0px !important; color:#fff; border-radius:2px; cursor:pointer; }


@-webkit-keyframes stylinginput{
 from {
background:#5264AE;
}
to {
	width: 0;
	background: transparent;
}
}
@-moz-keyframes stylinginput {
 from {
background:#5264AE;
}
to {
	width: 0;
	background: transparent;
}
}
@keyframes stylinginput {
 from {
background:#5264AE;
}
to {
	width: 0;
	background: transparent;
}
}

/*==========================End Form Style===========================================*/
.login_button{

  color: #cccccc;
  padding: 10px;
  width: 60px;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-align: center;
  background: white;
  width: 100%;
  cursor:pointer;
}

/*Menu DropEft CSS*/
.dropeft{
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	z-index: 0;
	
}
.water {
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.14);
	-webkit-border-radius:100%; -moz-border-radius:100%; border-radius:100%;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
.drop-animate{
	-webkit-animation: dropper 0.65s linear;
	-moz-animation: dropper 0.65s linear;
	-ms-animation: dropper 0.65s linear;
	-o-animation: dropper 0.65s linear;
	animation: dropper 0.65s linear;
}
 @-webkit-keyframes dropper {
	100% {
	opacity: 0;
	-webkit-transform: scale(2.5);
	}
}
@-moz-keyframes dropper {
	100% {
	opacity: 0;
	-moz-transform: scale(2.5);
	}
}
@-o-keyframes dropper {
	100% {
	opacity: 0;
	-o-transform: scale(2.5);
	}
}
@keyframes dropper {
 100% {
	opacity: 0;
	transform: scale(2.5);
	}
}

/*End DropEft CSS*/





@media only screen and (min-width:901px) and (max-width:1023px) {
	.webapplinks-list li a{ padding-left:0px !important; padding-right:0px !important; }
	.webapplinks-list li a .arrow:after{ border:none !important;}
	.webapplinks{ font-size:13px !important;}
	.webapplinks-list li a .fa{ margin-right:1px !important;}
	.megamenu ul li.title{ font-size:14px !important;}
	.webapplinks-list {
		max-width: 450px;
		margin-top: -5px;
		margin-bottom: 30px;
	}
	.logo {
	  padding-bottom: 30px !important;
	}
	.webapplinks{
		display:none !important;
	}
}

@media only screen and (min-width:1024px) and (max-width:1365px) {
	.webapplinks-list li a{ padding-left:0px !important; padding-right:0px !important; }
	.webapplinks-list li a .arrow:after{ border:none !important; }
	.webapplinks{ font-size:14px !important; }
	.webapplinks-list li a .fa{ margin-right:3px !important; }
	.megamenu ul li.title{ font-size:15px !important; }
	.webapplinks{display:none !important;}
	.logo {
		padding-bottom: 30px !important;
	}
}

.webapplinks-list {
	max-width: 450px;
	margin-top: -5px;
	margin-bottom: 30px;
}

@media only screen and (min-width:1366px)  {
	.webapplinks-list li a{padding-left:0px !important; padding-right:0px !important;}
	.webapplinks-list {
		max-width: 450px;
		margin-top: -5px;
  		margin-bottom: 30px;
	}
	.webapplinks{display:none !important;}
	.logo {
	  padding-bottom: 30px !important;
	}
}



/*------------------------------------ Mobile CSS ---------------------------------------------*/

@media only screen and (max-width: 900px) {

	.megamenu{
		background-color:#fff !important;
		margin-top:0px;
	}

	.mobileheader{position:relative; display:block !important; min-height:150px; width:240px; background:#444444 !important;border-bottom:10px solid #555555;}
	.username{ display:block; padding:100px 0px 0px 20px; color:#fff;  font-size:15px; text-align:left;}
	.useremail{ display:block; padding:2px 0px 0px 20px; color:#fff;  font-size:13px; text-align:left;}
	.roundedicon{ display:block; width:57px  !important; height:57px  !important; -webkit-border-radius:100%  !important; -moz-border-radius:100% !important; border-radius:100%  !important; position:absolute; bottom:56px; left:20px; padding:0px !important; z-index:1000; background:url(../images/userimg.png) top center no-repeat; }
	.subheader{ display:block !important; border-top:solid 1px #e8e8e8; padding:10px 0 8px 20px; text-align:left !important; background-color:#fff !important; color:#999999; font-family:'robotomedium'; font-size:15px; }
	.mobile-sub li a .fa{margin: 0 14px 0 0px !important;}	

	.webapplinks-submenu li:hover>a{ background-color:#7b7b7b !important; color:#fff !important;}
	.webapplinks .webapplinks-list li a.active{background-color:rgba(0,0,0,0.1) !important;  color:#666 !important;}
	.webapplinks .webapplinks-list li a:hover{background-color:rgba(0,0,0,0.1) !important;  color:#666 !important;}	

	.webapplinks-list li:hover .webapplinks-submenu{display:none ;}
	.webapplinks-list li:hover .webapplinks-submenu .webapplinks-submenu-sub{display:none;}
	.webapplinks-list .webapplinks-submenu .webapplinks-submenu-sub li:hover .webapplinks-submenu-sub-sub{display:none; list-style:none; padding:4px; border:solid 1px #eeeeee; background-color:#fff;}
	.webapplinks-list li:first-child a{-webkit-border-radius:0px 0px 0px 0px; -moz-border-radius:0px 0px 0px 0px; border-radius:0px 0px 0px 0px;}
	.webapplinks-list li:last-child a{-webkit-border-radius:0px 4px 0px 0px; -moz-border-radius:0px 0px 0px 0px; border-radius:0px 0px 0px 0px; border-right:0px solid;}

	.webapplinkscontainer{
		overflow: hidden;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		min-height:800px;
	}
		
	.webapplinksexpandermain{
		display:block !important;
		z-index:2; 
		top:0;
		right:0;
		left:0;}

	/* Mobile click to drop arrow */
	.webapplinks-click {
		position:absolute;
		top:0;
		right:0;
		display:block;
		cursor:pointer;	 
		z-index:100;
		width:100%;
		padding:13px 0px;}

	.webapplinks-click i{
		display:block;
		height:23px;
		width:25px;
		margin-right:12px;
	    margin-top:0px;
		background-size:25px;
		float:right;
		color:#AAB1B8;
		font-size:18px;
		}

	.webapplinks-rotate{
		-webkit-transform:rotate(180deg) !important;
		-moz-transform:rotate(180deg) !important;
		-ms-transform:rotate(180deg) !important;
		-o-transform:rotate(180deg) !important;
		transform:rotate(180deg) !important;}

	/*2nd UL Style*/
	.webapplinks-submenu-sub{
		width:100% !important;
		position:static !important;
		left:100% !important;
		top:0 !important;
		display:none;
		margin:0px !important;
		padding:0px !important;
		border:solid 0px !important;
		}
	.webapplinks-submenu-sub li{
		margin:0px 0px 0px 0px !important;
		padding:0px;
		position:relative;
		}
	.webapplinks-submenu-sub a{
		display:block;
		padding:10px 25px 10px 25px;
		border-bottom:solid 1px #ccc;
		font-weight:normal;
		}
	.webapplinks-submenu-sub li a.active{color:#000 !important;}
	.webapplinks-submenu-sub li:hover>a{ background-color:#333333 !important; color:#fff;}

	.webapplinks-submenu-sub-sub{
		width:100% !important;
		position:static !important;
		left:100% !important;
		top:0 !important;
		display:none;
		margin:0px !important;
		padding:0px !important;
		border:solid 0px !important;}
		
	.webapplinks-submenu-sub-sub li{margin:0px 0px 0px 0px !important;}
	.webapplinks-submenu-sub-sub a{
		display:block;
		color:#000;
		padding:10px 25px;
		background:#000 !important;
		border-bottom:solid 1px #ccc;
		font-weight:normal;
		}
	.webapplinks-submenu-sub-sub li a.active{ color:#000 !important;}
	.webapplinks-submenu-sub-sub li:hover>a{ background-color:#606060 !important; color:#fff;}
	.webapplinks{position: relative;}


	.webapplinks .webapplinks-list{
		height:100%;
		overflow-y:auto;
		display:block !important;}
		
	.webapplinks .webapplinks-list li{
		display:block;
		float:none;
		border-right:none;
		background-color:#fff;
		position:relative;
		white-space:inherit;
		min-width:219px;}
		
	.webapplinks .webapplinks-list li a{
		padding:12px 32px 12px 17px;
		font-size:15px;
		text-align:left;
		border-right:solid 0px;
		background-color:#fafafa;
		color:#666;
		line-height:25px;
		border-bottom:none !important;}
		
	.webapplinks .webapplinks-list li a .fa{font-size: 17px; color:#737373;}
	.webapplinks .webapplinks-list li a .arrow:after{ display:none !important; }
	.webapplinks .webapplinks-list li ul li a .fa.fa-caret-right{ font-size:12px !important; color:#8E8E8E; }

	.mobile-sub .webapplinks-submenu{
		display:none;
		position:relative !important;
		top:0px;
		background-color:#fff;
		border:solid 1px #fff;}
		
	.mobile-sub .webapplinks-submenu li a{
		line-height:20px;
		height:36x;
		background-color:#fff !important;
		padding-left:18px;
		border-bottom:1px solid #fff !important;
		font-size: 15px !important;
		color:#8E8E8E;}
		
	.mobile-sub .webapplinks-submenu li a:hover{background-color:rgba(0,0,0,0.1) !important;  color:#666 !important; }
	.mobile-sub .webapplinks-submenu li:hover>a{ background-color:rgba(0,0,0,0.1) !important;  color:#666 !important; }
	.mobile-sub .webapplinks-submenu li .webapplinks-submenu-sub li a{line-height:20px; height:36x; background-color:#fff !important; border-bottom:solid 1px #fff !important; padding-left:28px;}
	.mobile-sub .webapplinks-submenu li .webapplinks-submenu-sub li .webapplinks-submenu-sub-sub li a{line-height:20px; height:36x; background-color:#fff !important; border-bottom:solid 1px #fff !important; padding-left:38px;} 
	.mobile-sub .webapplinks-submenu li .webapplinks-submenu-sub li .webapplinks-submenu-sub-sub li a:hover{background-color:rgba(0,0,0,0.1) !important;  color:#666 !important;} 

	.mrginleft{
		margin-left: 240px;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;}

	.webapplinks-list .megamenu{
		background-color:#fff;
		display:none;
		position:relative !important;
		top:0px;
		padding:0px;
		border:solid 0px;}
		
	.webapplinks-list li:hover .megamenu{display:none; position:relative !important; top:0px; }

	.megamenu ul{
		width:100% !important;
		margin:0px;
		padding:0px;
		font-size:13px !important;
		}
	.megamenu ul li a{
		padding:9px 14px !important;
		line-height:normal !important;
		font-size:14px !important;
		background-color:#fff !important;}
		
	.megamenu ul li a:hover{background-color:#000000 !important; }

	.megamenu ul li.title{
		color:#999999;
		margin:0px;
		font-size:15px;
		padding:9px 13px !important;
		border-bottom:0px solid #fff;
		background-color:#fff !important;}
		
	.form-main{ padding:25px 15px; }	
	.buttondiv01{ margin-bottom:28px; }
	.buttondiv02{ margin-bottom:28px; }
	.halfdiv{ width:100%; display:block;}
	.menu_form{ padding:15px 15px 63px 15px; background-color: #1a1a1a; }
	.menu_form input[type="button"]{ width:46%; }
	.menu_form input[type="submit"]{ width:46%; }	
	.menu_form textarea{min-height:100px;}

	.webapplinks {
		width:0px;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		margin: 0;
		background-color: #fafafa;
		border-radius:0px;
		z-index:1000;
	}

	/*Nav Expanding Open Effect*/
	.webapplinks.open {
		width:240px;
	}
	 
	.webapplinks.close{
	}
	 
	.webapplinkscontent{z-index:12;}
	 
	/* Navigation arrow Animation */
	.animated-arrow {
		position: absolute;
		left:0; top:0;}
		
	.animated-arrow{
		cursor:pointer;
		padding:10px 35px 16px 0px;
		margin:28px 0px 0px 20px !important;
		}
	.animated-arrow span, .animated-arrow span:before, .animated-arrow span:after {
		cursor: pointer;
		height: 2px;
		width: 23px;
		background-color:#bbb;
		position: absolute;
		display: block;
		content: '';}
		
	.animated-arrow span:before{
		top: -6px;	}
		
	.animated-arrow span:after {
		bottom: -6px;}
		
	.animated-arrow span, .animated-arrow span:before, .animated-arrow span:after{
		transition: all 500ms ease-in-out;}
		
	.animated-arrow.open span{
		background-color: transparent;}
		
	.animated-arrow.open span:before, .animated-arrow.active span:after{
		top:6px;}
		
	.animated-arrow.open span:before {
		transform: rotate(45deg);
		-moz-transform:  rotate(45deg);
		-ms-transform:  rotate(45deg);
		-o-transform:  rotate(45deg);
		-webkit-transform:  rotate(45deg);
		bottom:0px;	}
		
	.animated-arrow.open span:after {
		transform: rotate(-45deg);
		-moz-transform:  rotate(-45deg);
		-ms-transform:  rotate(-45deg);
		-o-transform:  rotate(-45deg);
		-webkit-transform:  rotate(-45deg);
		}

	.megamenu ul li.title{ color:#666 !important; }
	.webapplinks-submenu{ padding:0px !important; }
	.subheader { border-color:rgba(0, 0, 0, 0.20) !important;}
	.webapplinks-list:last-child a{ border-radius:0 !important;}
	.webapplinks-click i{color:rgba(0, 0, 0, 0.30) !important; }
	.pop-up a span{ display:none !important; }
	.buttoncolor{padding-top:19px !important; padding-bottom:19px !important;}
	.pop-up li{ width:25% !important; }
	.pop-up{ height:191px; width:86%;}

	#isotope_products{
		background: #ffffff;
		margin-top: 0px;
	}

}


