<div class = "shopping_cart_row">
<div class = "shopping_cart_image"><%= image_tag cart_item.item.product.product_image.url(:small) %></div>
<div class = "shopping_cart_name"><%= raw cart_item.item.product.name %></div>
<div class = "shopping_cart_total"><%= number_to_currency((cart_item.item.price * cart_item.quantity) , { :unit => "£"}) %></div>
</div>