<div class = "page_wrapper">

    <div class="shopSaveShareMsg2">
        <div class="shopSaveShareTxt2">
            <ul>
                <li class="selected">
                    FRNZY checkout
                    <% begin %>
                        <%# render @cart.cart_items.first.item.product.user %>
                    <% else  %>
                    <% ensure  %>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>

    <div class = "contentpanepage cart">
        
        <div class = "checkoutsmallprint">By using our checkout you are only committing to purchase this product if the deal is successful. If the deal is not successful you will be immediately refunded. <br/>Thank you.
        </div>

        <div class = "product_cart">
            
            <div class = "shopping_cart">
                <div class = "shopping_cart_contents">
                    <%= render :partial => 'cart_item', :collection => @cart.cart_items %>
                </div>
            </div>

            <div class = "shopping_cart_buttons">

                <% if current_user %>
                    <%= link_to (image_tag "/images/paypalcheckout.png"), {:controller => 'paypal_express', :action => 'checkout'}, :class=>""   %>
                    <%# link_to "Refund with paypal", {:controller => 'paypal_express', :action => 'refund'}, :class=>"paypalwhite"   %>
    	
                <% else %>
    	           Please sign in first.
    	        <% end %>
            </div>
        </div>
    </div>

</div>

