<%# fix gap and then remove this code %>
<%# deal.popularity = (deal.trooplinks.count) %>
<%# deal.save %>

<%# 
	if deal.status == '1' 
		if deal.trooplinks.count > 1 
			boxsizetroop = 'small'
		elsif deal.trooplinks.count > 0 
			boxsizetroop = 'small'
		elsif deal.trooplinks.count == 0 
			boxsizetroop = 'small'
		end 
	else 
		if deal.end_count > 1 
			boxsizetroop = 'small'
		elsif deal.end_count > 0 
			boxsizetroop = 'small'
		elsif deal.end_count == 0 
			boxsizetroop = 'small'
		end 
	end
	if boxsizetroop == 'large'
		theproductimageurl = deal.product.product_image.url(:largebox)
	elsif boxsizetroop  == 'medium'
		theproductimageurl = deal.product.product_image.url(:small)
	elsif boxsizetroop  == 'small'
		theproductimageurl = deal.product.product_image.url(:small)
	end 
%>
<% 
	boxsizetroop = 'large'
	theproductimageurl = deal.product.product_image.url(:medium)
%>

<div class = "frnzy_item width2 height2 shakeme<%= deal.id %> troopstatus_<%= deal.status %> popularity_<%= deal.popularity %>">
					

	<div class = "product_image" style = "opacity:1 !important;">
		<% if deal.status != '2' %>
			<%= link_to (image_tag theproductimageurl), deal %>
		<% else %>
			<%= image_tag theproductimageurl %>
		<% end %>
	</div>


	<div style="width: 340px; margin: auto" class = "frnzyTimer" id="frnzyTimer_<%= deal.id %>">
		<div id="countdown_timer" class="countdown_timer"></div><!-- Countdown values -->
		          
		<div id="countdown_clock" class="countdown_clock">
		          
		  <canvas class="circular_countdown_ends" width="60" height="60"></canvas>
		  <canvas class="circular_countdown_days" width="60" height="60"></canvas>
		  <canvas class="circular_countdown_hours" width="60" height="60"></canvas>
		  <canvas class="circular_countdown_minutes" width="60" height="60"></canvas>
		  <canvas class="circular_countdown_seconds" width="60" height="60"></canvas>
		       
		</div>
	</div>

	<div class = "currentrooperslarge">
		<% deal.trooplinks.take(8).each do | trooplink | %>
			<%= render trooplink.user %>
		<% end %>
		<% if deal.trooplinks.count > 8 %>
			+ <%= deal.trooplinks.count - 8 %>
		<% end %>
	</div>
	
	<% content_for :script do %>
		<script>
			$(document).ready(function($){
				var endDate = new Date(<%= deal.auction_end.to_i * 1000%>);
				var settings = {};

				settings.until = endDate;

				if(endDate < new Date()){
					//This one has expired - set the rings to be gray...
					// settings.strokeEndsColor = 'rgba(0,0,0,0.06)';
					// settings.strokeDaysColor = 'rgba(0,0,0,0.06)';
					// settings.strokeHoursColor = 'rgba(0,0,0,0.06)';
					// settings.strokeMinutesColor = 'rgba(0,0,0,0.06)';
					// settings.strokeSecondsColor = 'rgba(0,0,0,0.06)';
					settings.strokeEndsColor = 'rgba(240,240,240,1.0)';
					settings.strokeDaysColor = 'rgba(240,240,240,1.0)';
					settings.strokeHoursColor = 'rgba(240,240,240,1.0)';
					settings.strokeMinutesColor = 'rgba(240,240,240,1.0)';
					settings.strokeSecondsColor = 'rgba(240,240,240,1.0)';
				}
				else{
					settings.strokeEndsBackgroundColor = 'rgba(0,0,0,0.06)';
					settings.strokeEndsColor = 'rgba(0,0,0,0.25)';//'rgba(255,199,0,1)';
					settings.strokeDaysBackgroundColor = 'rgba(0,0,0,0.06)';
					settings.strokeDaysColor = 'rgba(0,0,0,0.25)';//'rgba(3,164,0,1)';
					settings.strokeHoursBackgroundColor = 'rgba(0,0,0,0.06)';
					settings.strokeHoursColor = 'rgba(0,0,0,0.25)';//'rgba(255,31,136,1)';
					settings.strokeMinutesBackgroundColor = 'rgba(0,0,0,0.06)';
					settings.strokeMinutesColor = 'rgba(0,0,0,0.25)';//'rgba(0,179,247,1)';
					settings.strokeSecondsBackgroundColor = 'rgba(0,0,0,0.06)';
					settings.strokeSecondsColor = 'rgba(0,0,0,0.25)';//'rgba(244,0,0,1)';
				}
				console.log(settings);
			    $('#frnzyTimer_<%= deal.id %>').circularCountdown(settings);

				<% if deal.status == '2' %>
					<%# Done Deal %>
					$('#frnzyTimer_<%= deal.id %>').find('.ends').html("<em>DONE</em>deal");
				<% end %>
			});
		</script>
	<% end %>

	<div class = "product_header product11_header<%= deal.id %>">
		<% if deal.status == '2' %>
			<div style = "font-size:12px;line-height:17px;"><%= deal.end_count %> members saved <span style = "font-weight:bold;display:inline !important;"><%= ((1-(deal.price/deal.troop_rrp))*100).round() %>%</span> on <%= raw deal.product.name %></div>
		<% end %>
				
		<% if deal.status == '1' %>
			<div class = "product_header<%= deal.id %>" style = "height:85px;">
				<div style="font-size:12px;line-height:16px;color:#555555 !important;">
					<% if deal.trooplinks.count >= deal.troop_limit %>
		 					
						<span style = "color:#DA4F49 !important;font-weight:bold;display:inline !important;">Troop active</span> Save <span style = "font-weight:bold;display:inline !important;"><%= ((1-(deal.price/deal.troop_rrp))*100).round() %>%</span> on <%= raw deal.product.name %>. Offer ends in...
					<% else %>
						 Save <span style = "font-weight:bold;display:inline !important;"><%= ((1-(deal.price/deal.troop_rrp))*100).round() %>%</span> on <%= raw deal.product.name %> if <%= (deal.troop_limit - deal.trooplinks.count).to_i %> more people join within...
					<% end %>
				</div>
			</div>
		<% end %>
	</div>

	<div class = "product_footer">		
		<div class = "three_buttons_deal">
			<div style="margin:0;padding:10px !important;display:inline"><input type="hidden" value="✓" name="utf8"></div>
			<% if deal.status != '2' %>
				<% if current_user %>
					<% if deal.status != '2' %>
						<%= link_to share_deal_path(deal), :class => "product_share_btn deal_btn frnzyHeadBtn left", :remote => true do %>
						SHARE
							<div class="product_want_smltxt">deal</div>
						<% end %>
						<% if current_user.role_id == 1 || current_user.role_id == 2  %>
							<%= link_to deal, :class=> "join_troop_btn deal_btn frnzyHeadBtn right" do %>
								<%= deal.trooplinks.count %>/<%= deal.troop_limit.round() %>
								<div class="product_want_smltxt">joined</div>
							<% end %>
						<% elsif current_user.role_id == 3 %>	
							<% if deal.trooplinks.where(:user_id => current_user.id).count > 0 %>
								<% if deal.status == '1' %>
									<%= link_to deal, :class=> "join_troop_btn deal_btn frnzyHeadBtn right" do %>
										<%= deal.trooplinks.count %>/<%= deal.troop_limit.round() %>
										<div class="product_want_smltxt">joined</div>
									<% end %>
								<% end %>
							<% else %>
								<% if deal.status == '1' %>
									<%= link_to deal, :class=> "join_troop_btn deal_btn frnzyHeadBtn right" do %>
										JOIN
										<div class="product_want_smltxt"><%= deal.trooplinks.count %>/<%= deal.troop_limit.round() %></div>
									<% end %>
								<% end %>
							<% end %>
						<% end %>
					<% else %>
						<%= link_to deal, :class=> "join_troop_btn deal_btn frnzyHeadBtn right" do %>
							<%= deal.troopcompletes.count %>
							<div class="product_want_smltxt">joined</div>
						<% end %>
					<% end %>
				<% else %>
					<% if deal.status == '1' %>
						<%= link_to deal, :class=> "join_troop_btn deal_btn frnzyHeadBtn right" do %>
							JOIN
							<div class="product_want_smltxt"><%= deal.trooplinks.count %>/<%= deal.troop_limit.round() %></div>
						<% end %>
					<% end %>
					<% if deal.status != '2' %>
							<%= link_to share_deal_path(deal), :class => "product_share_btn frnzyHeadBtn deal_btn left", :remote => true do %>
						SHARE
							<div class="product_want_smltxt">deal</div>
						<% end %>

					<% end %>
				<% end %>
				<%= link_to deal, :class=> "product_view_btn deal_btn frnzyHeadBtn center" do %>
					VIEW
					<div class="product_want_smltxt">deal</div>
				<% end %>
				<%= link_to deal, :class=> "product_offer frnzyHeadBtn_saving superleft" do %>
					<%= deal.percentsaving %>%
					<div class="product_offer_smltxt">OFF</div>
				<% end %>
			<% else %>
				<%= link_to "", :class=> "product_offer frnzyHeadBtn_saving superleft" do %>
					<%= deal.percentsaving %>%
					<div class="product_offer_smltxt">OFF</div>
				<% end %>

			<% end %>
		</div>
	</div>				
</div>