
  <!--0. Product title-->

  <div class="shopSaveShareMsg2">
      <div class="shopSaveShareTxt2">
          <ul>
              <li class="selected">
                  <%= raw @product.name %>
                   <% unless @product.price == nil %>
                    <br><span style = "font-size:20px !important;color:#00b3f7 !important;">RRP <%= number_to_currency(@product.price, { :unit => '£', :precision => 2 }) %></span>
                   <% end %>
              </li>
          </ul>
      </div>
  </div>


  <!--1. Product image-->

  <div class="column_responsive">
    <div class = "product_top_left">
      <%= image_tag @product.product_image.url(:medium) %>
    </div>
  </div>


  <!--2. Product content-->

  <div class="column_responsive" style = "float:right;margin-bottom:30px;">
    <div class = "product_top_middle minheightdesktop">
      <%= form_for @deal do |f| %>
        <h1>What's the deal?</h1>
        <% if @deal.errors.any? %>
          <div id="error_explanation">
             <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this product from being saved:</h2>
             <ul>
                <% @deal.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
             </ul>
          </div>
        <% else %>  
          <div class="" id = "replacetextadd">
            <h4>Current RRP: <%= number_to_currency(@product.price, :unit => "£") %></h3>
             <div class="">
                Simply name your price, minimum amount of members needed for the group to become a Done Deal and when you want the deal to end. Submit your offer, and once it's been verified by a member of our team, we will inform the relevant members by email and post the deal on FRNZY.
             </div>
          </div>
        <% end %>
        <div class = "edit_product_form">
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :product_id, :value => @product.id %>
          
          <label for="product_price">Deal Price (£)</label>
          <%= f.text_field :price, :value => number_to_currency(@deal.price, { :unit => '', :precision => 2 }).to_s %>

          <%= f.label :troop_limit, "Group Limit" %>
          <%= f.text_field :troop_limit, :value => number_to_currency(@deal.troop_limit, { :unit => '', :precision => 0 }).to_s %>
          
          <label for="product_price">Your RRP (£)</label>
          <%= f.text_field :troop_rrp, :value => number_to_currency(@deal.troop_rrp, { :unit => '', :precision => 2 }).to_s %>

          <%= f.label :auction_end, "Deal Ends" %>
          <%= f.text_field :auction_end, :class=>"frnzyEndDateTime" %>
          
          <%= f.hidden_field :slug, :value => (@product.slug + "-" + SecureRandom.hex(2)) %>
          <div class="actions" style = "margin-top:20px;">
               <%= f.submit "Submit", :class => "fa-button", :style=> "" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <script>
    $('.frnzyEndDateTime').datetimepicker({
       addSliderAccess: true,
       sliderAccessArgs: { touchonly: false },
       stepHour: 1,
       stepMinute: 10,
       minDate: 0,
       maxDate: 14,
       timeFormat: 'HH:mm',
       dateFormat: 'dd-mm-yy'
    });
  </script>

     


