<% if @dealsaved == true %>
$('#replacetextadd').html('<h1>Thank you</h1> Thank you for submitting this offer for <%= raw @deal.product.name %>. Once it’s been confirmed we’ll post it on FRNZY. <br><br><%= link_to "Return to product page.", @deal.product %><br><br> ');
$('.ajaxerrors').html('');

$('#hidetextadd').remove();

<% else %>
$('.ajaxerrors').html('<br><%= @deal.errors.full_messages.first %>');
<% end %>



