<h2>Listing live groups</h2>
<br>
<table class="table">
  <tr>
    <th>Image</th>
    <th>Merchant</th>
    <th>Product</th>
    <th>Category</th>
    <th>Location</th>
    <th>Unit price</th>
    <th>Saving</th>
    <th>Troopers</th>
    <th>Troop limit</th>
    <th>Troop ends</th>
    <th>View troop</th>
  </tr>

<% @deals.each do |deal| %>
  <tr>
  <td><%= image_tag deal.product.product_image.url(:extrasmall) %></td>
    <td><%= link_to deal.user.username, deal.user %></td>
    <td><%= link_to deal.product.name, deal.product %></td>
    <td><%= link_to deal.product.category.name, deal.product.category %></td>
    
    
    
    
    <td><%= link_to deal.location.region, deal.location %></td>
    <td><%= deal.price %></td>
    	<td><%= ((1-(deal.price/deal.product.price))*100).round() %>%</td>

    <td><%= deal.trooplinks.count %></td>
    <td><%= deal.troop_limit.round() %></td>
   <td style = "width:150px">
    <% if deal.status == '1' %>
<div class = "troop_status_1<%= deal.id %>	">
<p>
  
  <div id = "defaultCountdown<%= deal.id %>"></div>
</p>
<script>
$(document).ready(function(){
troop_end = new Date(<%= deal.auction_end.to_i %> * 1000); 
$('#defaultCountdown<%= deal.id %>	').countdown({until: troop_end,  onExpiry: troop_end_action}); 	
function troop_end_action() { 
$('.troop_status_1<%= deal.id %>').hide();
}
	
});
</script>
<br>
</div>
<% end %>

</td>

   <td><%= link_to 'View group', deal, :class => "btn btn-success" %></td>

  </tr>
<% end %>
</table>

<br />
<h2>Listing successful groups</h2>
<br>
<table class="table">
  <tr>
  <th>Image</th>
    <th>Merchant</th>
    <th>Product</th>
    <th>Category</th>
    <th>Location</th>
    <th>Unit price</th>
    <th>Saving</th>
    <th>Troopers</th>
    <th>Troop limit</th>
    <th>Troop ended</th>
    <th>View group</th>
  </tr>

<% @dealscompleted.each do |deal| %>
  <tr>
    <td><%= image_tag deal.product.product_image.url(:extrasmall) %></td>

    <td><%= link_to deal.user.username, deal.user %></td>
    <td><%= link_to deal.product.name, deal %></td>
    <td><%= link_to deal.product.category.name, deal.product.category %></td>
    <td><%= link_to deal.location.region, deal.location %></td>
    <td><%= deal.price %></td>
    	<td><%= ((1-(deal.price/deal.product.price))*100).round() %>%</td>

     <td><%= deal.end_count %></td>

    <td><%= deal.troop_limit.round() %></td>
    
     <td><%= deal.auction_end %></td>






    <td><%= link_to 'View group', deal, :class => "btn" %></td>
  </tr>
<% end %>
</table>


<br />
<h2>Listing unsuccessful groups</h2>
<br>
<table class="table">
  <tr>
  <th>Image</th>
    <th>Merchant</th>
    <th>Product</th>
    <th>Category</th>
    <th>Location</th>
    <th>Unit price</th>
    <th>Saving</th>
    <th>Troopers</th>
    <th>Troop limit</th>
    <th>Troop ended</th>
    <th>View group</th>
  </tr>

<% @dealsexpired.each do |deal| %>
  <tr>
    <td><%= image_tag deal.product.product_image.url(:extrasmall) %></td>

    <td><%= link_to deal.user.username, deal.user %></td>
	<td><%= link_to deal.product.name, deal %></td>
    <td><%= link_to deal.product.category.name, deal.product.category %></td>
    <td><%= link_to deal.location.region, deal.location %></td>
    <td><%= deal.price %></td>
    	<td><%= ((1-(deal.price/deal.product.price))*100).round() %>%</td>

      <td><%= deal.end_count %></td>
    <td><%= deal.troop_limit.round() %></td>
    <td><%= deal.auction_end %></td>
    <td><%= link_to 'View group', deal, :class => "btn" %></td>
  </tr>
<% end %>
</table>

<br />