<h2>Troop : <%= raw @deal.product.name %>&nbsp;<% if current_user %>
<% if current_user.role_id == 3 %>
<% end %>
<% end %></h2>


<p>
  <b>Merchant:</b>
   <%= link_to @deal.user.username, @deal.user, :class => "" %>
</p>

<p>
  <b>Product:</b>
  <%= link_to @deal.product.name, @deal.product, :class => "" %>
</p>

<p>
  <b>Unit price:</b>
  <%= @deal.price %>
</p>

<p>
  <b>Troop limit:</b>
  <%= @deal.troop_limit %>
</p>


<p>
  <b>Auction end date:</b>
  <%= @deal.auction_end %>
</p>




<% if current_user %>
<% if current_user.role_id == 3 %>
			
<div id="trooplink_<%= @deal.id %>">
	<%= render 'trooplinks/trooplink_button', :deal => @deal %> 
</div>

<% end %>
	<% else %>
			
			<%= link_to 'Login to access deal', login_path, :class => "btn" %></td>
		
		<% end %>