<div class = "page_wrapper">


	<% title ('FRNZY / Add new troop') %>	
	<% set_meta(:title => ('FRNZY / Add new deal'), :description => ('FRNZY / Add new deal')) %>


	<% if current_user %>
	<% if current_user.role_id == 2 %>

	<%= render 'form' %>

	<% end %>
	<% end %>


</div>


