
<%
meta og: {
  title: ('FRNZY / ' + @deal.product.name),
  description: ("Check out this exclusive group deal for " + @deal.product.name + " on FRNZY. But hurry, it’s only available for a limited time!"),
  image: @deal.product.product_image.url(:square)
}
%>



<div class = "page_wrapper">

	<% title ('FRNZY / ' + @deal.product.name) %>	
	<% set_meta(:title => ('FRNZY / ' + @deal.product.name), :description => (@deal.product.description)) %>

	<!--0. Lorem ipsum-->
	<% showtroop = false %>
	<% if @deal.isenabled == 1 %>
	<% showtroop = true %>
	<% end %>
	<% if current_user %>
		<% if current_user.role_id == 1 %>
		<% showtroop = true %>
		<% end %>
	<% end %>

	<% if showtroop == true %>


		<!--0. Deal title-->
		<div class="shopSaveShareMsg2">
		    <div class="shopSaveShareTxt2">
		        <ul>
					<li class="selected profileheader">
		                <%= raw @deal.product.name %>
		                 <span class = "hosted_by_text" style = "color:#777777;font-size:15px">&nbsp;hosted by&nbsp;</span>
		                 <%= render @deal.user %>
		            </li>
		        </ul>
		    </div>
		</div>


		<!--1. Deal image-->
		<div class="column_responsive">
			<div class = "product_top_left" style = "position:relative;">
				<%= image_tag @deal.product.product_image.url(:medium) %>
				<%= link_to @deal, :class=> "product_offer frnzyHeadBtn_saving large_deal" do %>
					<%= @deal.percentsaving %>%
					<div class="product_offer_smltxt">OFF</div>
				<% end %>
			</div>
		</div>


		<!--2. Deal content-->
		<div class="column_responsive" style = "float:right;">
			<div class = "product_top_middle minheightdesktop">

				<% if @deal.isenabled == 1 %>
					<div style="float:right;">
						<% if current_user %>
							<% if trooplink = current_user.trooplinks.find_by_deal_id(@deal.id) %>
								<a href="#" style = "margin-left:0px !important;" class="join_troop_btn frnzyHeadBtn right static">
									<%= @deal.trooplinks.count %>/<%= @deal.troop_limit.round() %>
									<div class="product_want_smltxt">joined</div>
								</a>
							<% else %>
								<% if @deal.status == '1' %>
									<% if (current_user.role_id == 3) %>
										<% if @deal.trooplinks.count >= @deal.troop_limit %>
											<%= link_to cart_path(:deal_id => @deal), :method => 'POST', :class=> "join_troop_btn frnzyHeadBtn right static noleftmartingplease"  do %>
												JOIN
												<div class="product_want_smltxt">deal</div>
											<% end %>
										<% else %>
											<%= link_to cart_path(:deal_id => @deal), :method => 'POST', :class=> "join_troop_btn frnzyHeadBtn right static noleftmartingplease"  do %>
												JOIN
												<div class="product_want_smltxt"><%= @deal.trooplinks.count %>/<%= @deal.troop_limit.round() %></div>
											<% end %>
										<% end %>
									<% else %>
										<a style = "margin-left:0px !important;" rel="nofollow" class="join_troop_btn frnzyHeadBtn right static">
										JOINED
											<div class="product_want_smltxt">
												<%= @deal.trooplinks.count %>/<%= @deal.troop_limit.round() %>
											</div>
										</a>
									<% end %>	
								<% else %>
									<a style = "margin-left:0px !important;" rel="nofollow" class="join_troop_btn frnzyHeadBtn right static">
										DONE
										<div class="product_want_smltxt">
											deal
										</div>
									</a>
								<% end %>
							<% end %>
						<% else %>
							<% if @deal.status == '1' %>
								<a style = "margin-left:0px !important;" href="#myModal" data-toggle="modal" class="join_troop_btn frnzyHeadBtn right static">
									JOIN
									<div class="product_want_smltxt"><%= @deal.trooplinks.count %>/<%= @deal.troop_limit.round() %></div>
								</a>
							<% end %>
						<% end %>

						<%= link_to share_deal_path(@deal), :class => "product_share_btn frnzyHeadBtn static", :remote => true do %>
							SHARE
							<div class="product_want_smltxt">deal</div>
						<% end %>

						<!-- <a class="product_deal_btn frnzyHeadBtn superleft largerMainFont static" style="display: block">
							<%= @deal.percentsaving %>%
							<div class="product_want_smltxt">off</div>
						</a> -->

					</div>
				<% else %>
					Group disabled <%= link_to 'click here',  deal_path(@deal, :deal => { :isenabled => 1,  :status => 1}), :method => :put, :class => "btn btn-mini", :confirm => "Are you sure?" %> to enable this deal.<br><br>	
				<% end %>

				<div class = "frenzyprice">
					<p style = "margin-top:0px;">RRP: <%= number_to_currency(@deal.troop_rrp, :unit => "£") %>
						<br>
						<span style = "margin-top:5px;display:block;font-size:20px;margin-bottom:20px;line-height:25px;">FRNZY Deal price: <span style="font-size: 1em; color: #EF0000;"><%= number_to_currency(@deal.price, :unit => "£") %></span></span>
					</p>
				</div>		

				<!-- <p><strong>Product:</strong> <%# link_to @deal.product.name, @deal.product, :class => "" %> -->
				<!-- <p><strong>Troop location:</strong> <%# link_to @deal.location.region, @deal.location, :class => "" %></p> -->
				<!-- <p><strong>Product description:</strong> <%# @deal.product.description %></p> -->

				<% if @deal.status == '1' ||  @deal.status == '2'  ||  @deal.status == '3' %>
					<div class = "troop_status_1" >
					 	<div style="margin-top: 60px;margin-bottom: 0px;" id="frnzy_timer" class = "frnzy_timer_deal">
							<div id="countdown_timer" class="countdown_timer"></div><!-- Countdown values -->
							          
							<div id="countdown_clock" class="countdown_clock">
							  <canvas class="circular_countdown_ends" width="60" height="60"></canvas>
							  <canvas class="circular_countdown_days" width="60" height="60"></canvas>
							  <canvas class="circular_countdown_hours" width="60" height="60"></canvas>
							  <canvas class="circular_countdown_minutes" width="60" height="60"></canvas>
							  <canvas class="circular_countdown_seconds" width="60" height="60"></canvas>
							</div>

							<script>
								$(document).ready(function($){
									var endDate = new Date(<%= @deal.auction_end.to_i * 1000%>);
									var settings = {};

									settings.until = endDate;

									if(endDate < new Date()){
										//This one has expired - set the rings to be gray...
										settings.strokeEndsColor = 'rgba(240,240,240,1.0)';
										settings.strokeDaysColor = 'rgba(240,240,240,1.0)';
										settings.strokeHoursColor = 'rgba(240,240,240,1.0)';
										settings.strokeMinutesColor = 'rgba(240,240,240,1.0)';
										settings.strokeSecondsColor = 'rgba(240,240,240,1.0)';
									}
									else{
										settings.strokeEndsBackgroundColor = 'rgba(0,0,0,0.06)';
										settings.strokeEndsColor = 'rgba(0,0,0,0.25)';//'rgba(255,199,0,1)';
										settings.strokeDaysBackgroundColor = 'rgba(0,0,0,0.06)';
										settings.strokeDaysColor = 'rgba(0,0,0,0.25)';//'rgba(3,164,0,1)';
										settings.strokeHoursBackgroundColor = 'rgba(0,0,0,0.06)';
										settings.strokeHoursColor = 'rgba(0,0,0,0.25)';//'rgba(255,31,136,1)';
										settings.strokeMinutesBackgroundColor = 'rgba(0,0,0,0.06)';
										settings.strokeMinutesColor = 'rgba(0,0,0,0.25)';//'rgba(0,179,247,1)';
										settings.strokeSecondsBackgroundColor = 'rgba(0,0,0,0.06)';
										settings.strokeSecondsColor = 'rgba(0,0,0,0.25)';//'rgba(244,0,0,1)';
									}

									$('#frnzy_timer').circularCountdown(settings);
									<% if @deal.status == '2' %>
										$('#frnzy_timer').find('.ends').html("<em>DONE</em> deal");
									<% end %>
								});
							</script>
						</div>
					</div>					
				<% end %>

				<!-- <p style="padding-right: 0px;margin-top:40px;"><%= @deal.product.description %></p> -->
				<% if @deal.status == '1' %>
					<!-- TODO: Change font below with JEZ. -->
					<div class = "currentroopersneeded">

	<% if current_user %>

				<div class="invite_container" style = "padding-top:20px;">
					<%= link_to invite_deal_path(@deal), :class => "fa-button", :remote => true do %>
						<i class="fa fa-user-plus"></i>Invite</a>
					<% end %>
				</div>
<% end %>

				<div style = "width:100%;float:left;padding-top:10px;">
						<% if @currenttroopers.empty?%>		
							 Only <%= @deal.troop_limit.round() %> more needed!
						<% else %>
							<% if @deal.troop_limit.round() > @deal.trooplinks.count %>
								Only <%= @deal.troop_limit.round() - @deal.trooplinks.count %> more needed!
							<% else %>
								<!-- Deal acitve!! -->
							<% end %>
						<% end %>

						</div>
					</div>
				<% end %>

				


				<% if @deal.status == '3' %>
					<%#Troop expired %>
				<% end %>	

			</div>
		</div>






		<!--4. Product wants-->
		<% if @deal.status != '3' %>
			<div class="column_responsive peoplewant" style = "margin-bottom: 20px;clear: left !important;">
				<div class = "currentroopers">
					<strong>
						<h2>People who have joined this deal</h2>
						<% unless @currenttroopers.empty?%>		

							<% @currenttroopers.each do |user| %>
								<% unless user == nil %>
									<%= render user %>
								<% end %>
							<% end %>
						<% end %>
					</strong>
				</div>
			</div>
		<% end %>





		<!--3. Deal discuss + comments-->
		<div class="column_responsive comments_here" style = "clear:right;margin-bottom:20px;">
			<div class="product_top_left" id="comments_box">

				<h2 style = "text-align:center;margin-top:5px;" ><% unless current_user %><a href = "#" style = "" class="open_login">Sign in to comment on this deal</a><% else %>Comment on this deal<% end %></h2>
				<% if current_user %>
					<div class = "postcomment">
						<%= form_tag "/deals/add_new_comment" do %>
					    	<%= hidden_field_tag "id", @deal.id %>
					    	<%= hidden_field_tag "comment[user_id]", current_user.id %>
							<textarea onkeyup="textLimit(this, 140);" name="comment[comment]" id="comment_comment" rows="2"></textarea>
							<a style = "float:right;width:21%;text-align:center;line-height: 45px;height: 45px;" href="#" class="fa-button add_post">						<i class="fa fa-pencil"></i>Post</a>
					    	<%= submit_tag "POST", :class  => "hide_post_button" %>
					  	<% end %>
				<% else %>
					<div class = "postcomment" style = "text-align:center;padding-bottom:10px;">
				<% end %>

				<% unless @comments.empty? %>
					<%= render @comments %>
				<% end %>
				
				</div>

				<!--Not seen yet-->
				<% if current_user %>
					<% if (current_user.id == @deal.user_id) || (current_user.role_id == 1) %>
						<% if @deal.status == '2' %>
							<div class = "product_bottom">
								<div class = "product_bottom_left2">
									<h3>Succesfull Members</h3>
									<table class = "table">
										<tr>
											<th>Image</th>
											<th>Username</th>
											<th>Email</th>
											<th>Firstname</th>
											<th>Lastname</th>
											<th>Postal Address</th>
										</tr>
										<% @successfulusers.each do |user| %>
										   <tr <%if (user.isenabled == 0) %>class = 'error'<% end %> >
												<td><%= link_to (image_tag user.photo.url(:extrasmall)), user, :class => "troop_successful_admin_list" %></td>
												<td><%= link_to user.username, user, :class => "" %></td>
												<td><%= user.email %></td>
												<td><%= user.first_name %></td>
												<td><%= user.last_name %></td>
												<td>
													<%= user.house_number %>,
													<%= user.address %>, 
													<% if user.address_2 != '' %><%= user.address_2 %>, <% end %>
													<%= user.city %>, 
													<%= user.postcode %>, 
													<%= user.country %>
												</td>
									      </tr>
										<% end %>
									</table>
								</div>
							</div>
						<% end %>
					<% end %>
				<% end %>
				<!--Not seen yet-->

			</div>
		</div>




	<% else %>
		

		<% if @product.isenabled == 0 %>
			<div style="width:100%;text-align:center;margin-top:20px;margin-bottom: -10px;">
				Deal not enabled.
			</div>
		<% end %>


	<% end %>

	<script type="text/javascript">

		function textLimit(field, maxlen) {
		if (field.value.length > maxlen + 1)
		alert('140 character limit reached.');
		if (field.value.length > maxlen)
		field.value = field.value.substring(0, maxlen);
		}

	</script>

</div>	