<link rel="stylesheet" href="/adminbootstrap/bootstrap.min.css" />


<div class = "boostrap_admin_menu">

<% title ('FRNZY / Groups') %>	
<% set_meta(:title => ('FRNZY / Groups'), :description => ('FRNZY / Groups')) %>


<% if current_user %>
<% if current_user.role_id == 1 %>






<div class="navbar admin_nav">
	<div class="navbar-inner">
	
	
  	<a class="subbrand" href="#">Deals</a>

    <%= render 'shared/admin_menu' %>
	</div>
</div>


<div style = "width:100%;float:left;margin-bottom:20px;text-align:center;">
<%= form_tag admin_deals_path, :class => 'navbar-form', :method => 'get' do %>
  
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= text_field_tag :search, params[:search] %>
  
  <%= submit_tag "Search by product", :class => "btn", :name => nil %>
  
  
  
  
  <% if params[:search].nil? %>
  <% else %>
  <a class = "btn" href = "/admin_deals">Clear</a>
  
  <% end %>
  
  

<% end %>
</div>


<% unless @dealswaiting.empty? %>
<h2>Groups awaiting approval (<%= @dealswaiting.count %>)</h2>


<table class="table" id="awaiting_approval">

  <tr>
    <th class = "">Image</th>
    <th class = "nomobile"><%= sortable "user_id", "Merchant" %></th>
	<th class = "">Product</th>

    <th class = "nomobile"><%= sortable "price", "Price" %></th>
    <th class = "nomobile">RRP</th>
    <th class = "nomobile">Required</th>
    <th class = "nomobile"><%= sortable "auction_end", "Group end date" %></th>

    <th class = "nomobile"></th>
    <th class = "nomobile"></th>
    <th class = ""></th>
    <th class = ""></th>
  </tr>


<% @dealswaiting.each do |deal| %>
  <tr
<%if (deal.isenabled == 0) %>
class = 'error'
<% end %>
>
	<td class = ''><%= image_tag deal.product.product_image.url(:extrasmall) %></td>
    <td class = "nomobile"><%= deal.user.username %></td>
    <td class = ""><%= raw deal.product.name %></td>

    
    <td class = "nomobile"><%= number_to_currency(deal.price, :unit => "£") %></td>
    <td class = "nomobile"><%= number_to_currency(deal.troop_rrp, :unit => "£") %></td>

    <td class = "nomobile"><%= deal.trooplinks.count %> / <%= deal.troop_limit.round() %></td>
    <td class = "nomobile"><%= deal.auction_end %></td>
    
    <td class = "nomobile"><%= link_to 'View', deal, :class => "btn btn-mini" %></td>
    <td class = ""><%= link_to 'Edit', ( '/deals/' + deal.slug + '/edit' ), :class => "btn btn-mini" %></td>
    
       
       <td class = ""><%= link_to 'Authorize',  deal_path(deal, :deal => { :isenabled => 1,  :status => 1}), :method => :put, :class => "btn btn-mini", :confirm => "Are you sure?" %></td>
       
       
       
    <td class = "nomobile"><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
 
       
  </tr>
<% end %>


</table>

<%= will_paginate @dealswaiting, :param_name => 'page_waiting', previous_label: h("<"), next_label: h(">") %>

<br />




<% end %>



<% unless @deals.empty? %>


<h2>Active groups (<%= @deals.count %>)</h2>


<table class="table" id="live_troops">

  <tr>
  <th class = "">Image</th>
   <th class = "nomobile"><%= sortable "user_id", "Merchant" %></th>
	<th class = "">Product</th>
    <th class = "nomobile"><%= sortable "price", "Price" %></th>
    <th class = "nomobile">Saving</th>
    <th class = "nomobile">Members</th>
    <th class = "nomobile">Required</th>
    <th class = "nomobile"><%= sortable "auction_end", "Group ends in" %></th>

    <th class = "nomobile"></th>
    <th class = ""></th>
    <th class = ""></th>
  </tr>


<% @deals.each do |deal| %>
  <tr
<%if (deal.isenabled == 0) %>
class = 'error'
<% end %>
>
  <td class = 'roundmesmall'><%= image_tag deal.product.product_image.url(:extrasmall) %></td>

   <td class = "nomobile"><%= deal.user.username %></td>
    <td class = ""><%= raw deal.product.name %></td>
    
    <td class = "nomobile"><%= number_to_currency(deal.price, :unit => "£") %></td>
    	<td class = "nomobile"><%= deal.percentsaving %>%</td>

    <td class = "nomobile"><%= deal.trooplinks.count %></td>
    <td class = "nomobile"><%= deal.troop_limit.round() %></td>
   <td class = "nomobile">
    <% if deal.status == '1' %>
<div class = "troop_status_1<%= deal.id %>	">
<p>
  
  <div id = "defaultCountdown<%= deal.id %>"></div>
</p>
<script>
$(document).ready(function(){
troop_end = new Date(<%= deal.auction_end.to_i %> * 1000); 

$('#defaultCountdown<%= deal.id %>	').countdown({until: troop_end, serverSync: function() { return new Date('<%=DateTime.now.to_s("dddd, dd MMMM yyyy HH:mm:ss")%>'); }, onExpiry: troop_end_action}); 	

function troop_end_action() { 

$('.troop_status_1<%= deal.id %>').hide();
// put js here that hides the finished and shows the rest….
// first need to output them all...
}
	
});
</script>
<br>
</div>
<% end %>

</td>

    <td class = ""><%= link_to 'View', deal, :class => "btn btn-mini" %></td>
    <td class = ""><%= link_to 'Edit', edit_deal_path(deal), :class => "btn btn-mini" %></td>
    <td class = "nomobile"><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
  </tr>
<% end %>

</table>

<%= will_paginate @deals, :param_name => 'page_live', previous_label: h("<"), next_label: h(">") %>
<br />



<% end %>





<% unless @dealscompleted.empty? %>


<h2>Done deals (<%= @dealscompleted.count %>)</h2>


<table class="table" id="successful_troops">

  <tr>
  <th class = "">Image</th>
   <th class = "nomobile"><%= sortable "user_id", "Merchant" %></th>
	<th class = "">Product</th>
    <th class = "nomobile"><%= sortable "price", "Price" %></th>
    <th class = "nomobile">Saving</th>
    <th class = "nomobile">Members</th>
    <th class = "nomobile"><%= sortable "auction_end", "Group end date" %></th>
    <th class = "nomobile"></th>
    <th class = ""></th>
    <th class = ""></th>
  </tr>
 

<% @dealscompleted.each do |deal| %>
  <tr
<%if (deal.isenabled == 0) %>
class = 'error'
<% end %>
>
  <td class = 'roundmesmall'><%= image_tag deal.product.product_image.url(:extrasmall) %></td>

<td class = "nomobile"><%= deal.user.username %></td>
    <td class = ""><%= raw deal.product.name %></td>
    
    <td class = "nomobile"><%= number_to_currency(deal.price, :unit => "£") %></td>
   	<td class = "nomobile"><%= deal.percentsaving %>%</td>

    <td class = "nomobile"><%= deal.end_count %></td>
    <td class = "nomobile"><%= deal.auction_end %></td>
    <td class = ""><%= link_to 'View', deal, :class => "btn btn-mini" %></td>
    <td class = ""><%= link_to 'Edit', edit_deal_path(deal.id), :class => "btn btn-mini" %></td>
    <td class = "nomobile"><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
  </tr>
<% end %>

</table>

<%= will_paginate @dealscompleted, :param_name => 'page_completed', previous_label: h("<"), next_label: h(">") %>
<br />



<% end %>






<% unless @dealsexpired.empty? %>




<h2>Unsuccessful groups (<%= @dealsexpired.count %>)</h2>


<table class="table" id="unsuccessful_troops">
 
 <tr>
  <th class = "">Image</th>
  <th class = "nomobile"><%= sortable "user_id", "Merchant" %></th>
	<th class = "">Product</th>
    
    <th class = "nomobile"><%= sortable "price", "Price" %></th>
    <th class = "nomobile">Saving</th>
    <th class = "nomobile">Members</th>
    <th class = "nomobile">Required</th>
    <th class = "nomobile"><%= sortable "auction_end", "Group end date" %></th>

    <th class = ""></th>
    <th class = ""></th>
    <th class = "nomobile"></th>
  </tr>
 

<% @dealsexpired.each do |deal| %>
  <tr
<%if (deal.isenabled == 0) %>
class = 'error'
<% end %>
>
    <td class = 'roundmesmall'><%= image_tag deal.product.product_image.url(:extrasmall) %></td>
    <td class = "nomobile"><%= deal.user.username %></td>
    <td class = ""><%= raw deal.product.name %></td>
    <td class = "nomobile"><%= number_to_currency(deal.price, :unit => "£") %></td>
    <td class = "nomobile"><%= deal.percentsaving %>%</td>
    <td class = "nomobile"><%= deal.end_count %></td>
    <td class = "nomobile"><%= deal.troop_limit.round() %></td>
    <td class = "nomobile"><%= deal.auction_end %></td>
    <td class = ""><%= link_to 'View', deal, :class => "btn btn-mini" %></td>
    <td class = ""><%= link_to 'Edit', edit_deal_path(deal.id), :class => "btn btn-mini" %></td>
    <td class = "nomobile"><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
  </tr>
<% end %>

</table>

<%= will_paginate @dealsexpired, :param_name => 'page_expired', previous_label: h("<"), next_label: h(">") %>

<br />

<% end %>







<% end %>
<% end %>
</div>