<% if trooplink = current_user.trooplinks.find_by_deal_id(@deal.id) %>

 	<%= link_to 'You are a member of this troop', "/dashboard" %>
	
<% else %>

	<%= link_to number_to_currency(@deal.price, { :unit => "£"}), cart_path(:deal_id => @deal), :method => 'POST', :class => 'btn btn-danger addtrooplarge' %>
									
		
<% end %>

