<div class = "page_wrapper">
  
<div class="shopSaveShareMsg2">
    <div class="shopSaveShareTxt2">
        <ul>
            <li class="selected" style = "margin-bottom: -20px;">
                Please confirm your payment
            </li>
        </ul>
    </div>
</div>



<div class="contentpanepage cart">







<div class="product_cart">


<div class="shopping_cart">

<div class="shopping_cart_header" style="text-align:center;">


Click the button below to confirm your payment.

</div>



</div>



<!-- TODO: Make the button below streched blue! -->
		<%= link_to 'Complete Purchase', paypal_express_purchase_path(:token => @order_info[:gateway_details][:token], :paypal_email => @order_info[:email], :paypal_name => @order_info[:name], :payer_id => @order_info[:gateway_details][:payer_id], :total => @order_info[:total]), :class => 'fa-button complete_button' %>




	



</div>





</div>


</div>

