<% if current_user %>

	<% if Follow.where( :follower_id => current_user.id, :user_id => User.find(@follow.user_id).id ).count == 0 %>

		<div style="float: right;">
			<% if current_user.id == User.find(@follow.user_id).id %>
			<% else %>
			<%= link_to 'FOLLOW', followuser_path(User.find(@follow.user_id).id), :method => :get, :remote => true, :class =>'product_followme_btn frnzyHeadBtn left static singleLineSml' %>
			<% end %>
		</div>

	<% else %>

		<div style="float: right;">
			<% if current_user.id == User.find(@follow.user_id).id %>
			<% else %>
			<%= link_to 'FOLLOWING', unfollowuser_path(User.find(@follow.user_id).id), :method => :get, :remote => true, :class =>'product_followingme_btn frnzyHeadBtn left static singleLineSml followingblue'%>
			<% end %>
		</div>

	<% end %>

<% else %>

	<div style="float: right;">
		
			<a data-toggle="modal" role="button" href="#myModal" class="product_followme_btn frnzyHeadBtn link_toeft static singleLineSml profile_circle" style = "margin-top:0px !important;" >FOLLOW</a>
		</div>

<% end %>

<script>
   $('.followingblue').hover(
   function() {
   $( this ).html('UNFOLLOW');
   }, function() {
   $( this ).html('FOLLOWING');
   }
   );
 </script>