<% title ('FRNZY / ' + @user.username) %>	
<% set_meta(:title => ('FRNZY'), :description => ('FRNZY')) %>
<div class = "page_wrapper">
	<% if @user.isenabled == 1 %>
		<% unless @follows.empty? %>
			<div class = "follower_header">

				<div class = "profile_image">
					<% if @user.provider == 'facebook' %>
					<% theproductimageurl = 'https://graph.facebook.com/'+@user.uid.to_s+'/picture?type=large' %>
		         	<%= image_tag theproductimageurl %>
		      	<% else %>
		         	<%= image_tag @user.photo.url(:small) %>
		      	<% end %>
				</div>

				<h1 class = "followheader" style="margin-top:10px;margin-bottom:25px;font-weight: 300 !important;">

				<% if @user.role_id == 2 %>	
					<%= @user.company %>
				<% elsif @user.role_id == 3 %> 
					<%= @user.first_name %> <%= @user.last_name %>
				<% elsif @user.role_id == 1 %> 
					<%= @user.first_name %> <%= @user.last_name %>
		      	<% end %> has <%= @follows.count %> follower<%if @follows.count != 1 %>s<% end %></h1>

			</div>

				<% @follows.each do |follow| %>
					<% @follow = follow %>
						<div class = "follower_box <%= cycle("followereven", "followerodd") %>">				
							<div class = "follower_header_box">
								<div class = "follower_header_image">
							     	<% @followuser = User.find(follow.follower_id) %>
							      	<% if @followuser.provider == 'facebook' %>
							         	<% theproductimageurl = 'https://graph.facebook.com/'+@followuser.uid.to_s+'/picture?type=large' %>
										<%= link_to ( image_tag theproductimageurl ), @followuser %>
									<% else %>
										<%= link_to ( image_tag @followuser.photo.url(:small) ), @followuser %>
									<% end %>
								</div>	

								<%if User.find(follow.follower_id).role_id == 2 %>	
						         	<% thename = (User.find(follow.follower_id).company) %>
								<% elsif User.find(follow.follower_id).role_id == 3 %> 
									<% thename = User.find(follow.follower_id).first_name + ' ' + User.find(follow.follower_id).last_name %>
								<% elsif User.find(follow.follower_id).role_id == 1 %> 
									<% thename = User.find(follow.follower_id).first_name + ' ' + User.find(follow.follower_id).last_name %>
								<% end %>

								<div class = "follower_header_info">
									<%= link_to thename, User.find(follow.follower_id) %><br>
									<%= Follow.where( :user_id => follow.follower_id ).count %> followers
								</div>					
					
								<div class = "follower_header_follow" id ="followersrefresh_<%= User.find(follow.follower_id).id %>">					
									<%= render 'followersjoin' %>	
								</div>

							</div>
							
							<div class = "follower_images">

								<%
								@products = Product.joins(:likes).where('likes.user_id' =>  follow.follower_id)
			         			#@deals = Deal.joins(:trooplinks).where('trooplinks.user_id' =>  follow.user_id)
			         			@combinedproductsandtroops = @products# + @deals
			         			%>
								
								<div class = "follower_image_one follower_image_box">
									<div>
					         			<% if @combinedproductsandtroops.count > 0 %>	
					         				<%= link_to (image_tag @combinedproductsandtroops.first.product_image.url(:follow)), @combinedproductsandtroops.first %> 
										<% else %>
											<img alt="10225?1399017207" src="/grey.png">
										<% end %>
									</div>
								</div>
								<div class = "follower_image_two follower_image_box">
									<div>
										<% if @combinedproductsandtroops.count > 1 %>
					         				<%= link_to (image_tag @combinedproductsandtroops.second.product_image.url(:follow)), @combinedproductsandtroops.second %> 
										<% else %>
											<img alt="10225?1399017207" src="/grey.png">
										<% end %>
									</div>
								</div>
								<div class = "follower_image_three follower_image_box">
									<div>
										<% if @combinedproductsandtroops.count > 2 %>
					         				<%= link_to (image_tag @combinedproductsandtroops.third.product_image.url(:follow)), @combinedproductsandtroops.third %> 
										<% else %>
											<img alt="10225?1399017207" src="/grey.png">
										<% end %>
									</div>
								</div>
								<div class = "follower_image_four follower_image_box">
									<div>
										<% if @combinedproductsandtroops.count > 3 %>
					         				<%= link_to (image_tag @combinedproductsandtroops.fourth.product_image.url(:follow)), @combinedproductsandtroops.fourth %> 
										<% else %>
											<img alt="10225?1399017207" src="/grey.png">
										<% end %>
									</div>
								</div>

							</div>
						</div>
					<% end %>
				<% else %>
					<div style="text-align:center;">
						This user is not following anyone
					</div>
				<% end %>
			<% else %>
			   <div style="text-align:center;">Sorry this user following list is not currently available</div>
			<% end %>
		</div>

