<% if @followsubmitted == true %>
	$('.user_top').html("<%= escape_javascript(render 'users/userheader') %>");
	$('#followersrefresh_<%= @user.id %>').html("<%= escape_javascript(render 'follows/followersjoin') %>");
	$('#followingrefresh_<%= @user.id %>').html("<%= escape_javascript(render 'follows/followingjoin') %>");

<% else %>
	alert('Error following, have you already followed this user?')
<% end %>

	

