	
	$('.user_top').html("<%= escape_javascript(render 'users/userheader') %>");

	$('#followersrefresh_<%= @user.id %>').html("<%= escape_javascript(render 'follows/followersjoin') %>");
	$('#followingrefresh_<%= @user.id %>').html("<%= escape_javascript(render 'follows/followingjoin') %>");

