html, body {  margin:0px; padding:0px; border:0px; font: inherit; vertical-align:baseline; font-weight:normal; font-size:12px; line-height:18px; min-width:320px; -webkit-font-smoothing:subpixel-antialiased; font-smoothing:antialiased; font-smooth:antialiased; -webkit-text-size-adjust:100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing:subpixel-antialiased !important; font-smoothing:subpixel-antialiased !important; font-smooth:subpixel-antialiased; }
 
/* ---- isotope ---- */

.isotope-filters {
    display: table;
    margin: 20px  auto;
    text-align:center;
}
.isotope-filters  button {
    border:none;
    margin: 2px; 
    line-height: 30px;
    padding: 0 20px;
    cursor: pointer;
}
.isotope-filters  button:focus {
    outline: none;
    outline-style: none;
    outline-offset:0; 
}
.isotope-filters  button.active {
    background: #0D8;
}

/* clear fix */
.isotope:after {
    content: '';
    display: block;
    clear: both;
}

/* clear fix */
.isotope {
}

/* ---- .frnzy_item ---- */

.frnzy_item {
    float: left;
    width: 200px;
    height: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    position: relative;
    background:white;
    overflow:hidden;
    border: 0px solid #eeeeee;
    border-radius:2px;
}

.frnzy_item.width2 { width: 400px; }
.frnzy_item.height2 { height: 400px; }
.frnzy_item .product_image img {width:100%;max-width:86%;padding:7%;padding-bottom:0px !important;}
.width2 .product_image img {width:100%;max-width:96%;padding:2%;padding-bottom:0px !important;padding-top:20px !important;}

.width2 .frnzyTimer {bottom:3.5% !important;}

.frnzyTimer{
    position:absolute;
    bottom:20% !important;
    width:316px !important;
    left:50% !important;
    margin-left:-158px !important;
}

@media (max-width: 568px)
{
    .frnzy_timer_deal,
    .frnzyTimer
    {
        -ms-transform: scale(0.9); /* IE 9 */
        -webkit-transform: scale(0.9); /* Safari */
        transform: scale(0.9);
    }
}

.product_footer2 {
    float: left;
    padding: 0px;
    width: 100%;
    padding:0px !important;
    padding-left:0px !important;
    color:#555555;
    padding-top:0px !important;
    position:absolute;
    bottom:10px;
}

.product_footer {
    width: 100% !important;
}

.product_footer2_name{
    width: 67% !important;
    margin-right: 5% !important;
    margin-left: 3% !important;
    float: right !important;
}

.product_footer2_first{
    width: 90% !important;
    margin-right: 5% !important;
    float: right !important;
    line-height: 1.25em;
}

.product_want_this .image_seperator .frnzy_want_heads{
    width: 100% !important;
    height: 100% !important;
}

.product_likes{
    width: 90% !important;
    margin-right: 5% !important;
    float: right !important;
}

.product_likes .frnzy_want_heads{
  width:17% !important;
  height:17% !important;
  width:2.5em !important;
  height:2.5em !important;
  margin:0px !important;
}

.frnzyHeadBtn_saving{
    position: absolute;
    left:0px;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}

.page_wrapper{
    margin:0pt auto;
    width:100%;
    max-width:1000px;
}

.page_wrapper_text{
    padding:20px;
    padding-top:0px;
    box-sizing:border-box;
}


.page_wrapper_text .product_bottom_left{
    margin-top:0px !important;
    padding-top:0px !important;
}

.fa-button{
  padding: 0 14px;
  line-height: 39px;
  color:#555555 !important;
  display: block;
  vertical-align: top;
  float: left;
  height: 39px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background:#eeeeee;
}

.fa-button .fa{
    font-size: 12pt;
    letter-spacing: 13px;
    line-height: inherit;
}

.fa-button.add_popup_close
{
  background-color: rgba(238,238,238,0.7);
}

#invite_popup, #register_popup{
    padding:10px;
    background-color: white;
    border-radius:3px !important;
}

#invite_popup, #register_popup {
  /*transform: scale(0.8);*/
}
.popup_visible #invite_popup, .popup_visible #register_popup {
  /*transform: scale(1);*/
}

#register_popup input {
  width: 100%;
  margin-top: 10px;
  font: inherit;
  resize: none;
  padding: 12px;
  background-color: #eeeeee;
  color: #555555;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 0px solid #ccc !important;
}

#invite_popup input {
  width: 100%;
  margin-top: 10px;
  font: inherit;
  resize: none;
  padding: 12px;
  background-color: #eeeeee;
  color: #555555;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 0px solid #ccc !important;
}

.field {
    position: relative;
}


#banner_ad{
    display:none;
    width:100%;background-color: #eeeeee;height:400px;
    position: relative;
    height:300px;
    background: url("/images/home/background.jpg") no-repeat 50% top;
    background-size: cover;
 }

.menu_show{
    visibility: visible !important;
    opacity: 1 !important;
}


.menu_half{
  width: 50% !important;
}


.menu_half a{
    line-height: 18px !important;
    padding:10px !important;
}

.zetta-menu ul > li.menu_footer
{
    border-top: 1px solid black;
    padding-top: 6px; 
    border-radius: 0;
    text-align: center;
    margin-top: 10px;
    color: #999;
    font-size: 0.8em;
   
}
.zetta-menu ul > li.menu_footer:hover{background-color: transparent;}

.zetta-menu ul > li.menu_footer a{
        padding: 0;
        display: inline-block;
    }

 
.zetta-menu ul > li.menu_footer a:hover{
      color: #00b3f7 !important;
    }



.facebookbutton_dropdown a{
  margin: 0pt auto !important;
  margin-top: 14px !important;
  display: block !important;
}

.share_step{
  text-align: center;
  margin-bottom: 0px;
  background-color: #ffffff;
  padding: 10px;
}
.share_step h2{
    margin-top:0px;
}


.share_step_1{ padding-top:30px;  padding-bottom: 0px;}
.share_step_2{  padding-bottom: 0px;}
.share_step_3{ padding-bottom:20px;padding-top:60px;}


.hide_post_button{
    display: none;
}

.responsive_dre{
    width:33.3%;float: left;
}

.win_ur_beats{
    background: url('/images/red_bubble.png'); 
    width:366px; 
    height:318px; 
    float:left;
}

.win_ur_beats h1{
    color: white; font-size: 58px; line-height: 0.9em; text-align: right; margin-right: 40px; padding-top: 10px;margin-bottom: 0px;
}

.win_ur_beats p{
    color: white; margin-left: 30px; font-size: 20px; line-height: 1.2em; 
}

.dre_section1{
    width:39% !important;
}

.dre_section2{
    width:31% !important;  
    color: #585858;
    margin-top: 45px;
    font-size: 18px;
    line-height: 1.4em;
}

.dre_section3{
    width:30% !important;
}


@media only screen and (max-width: 1000px) {

    .win_ur_beats{
        padding-top: 20px;
        height: 230px;
        background-position: -8px bottom;
        width: 320px;
    }

    .win_ur_beats h1 {
      color: white;
      font-size: 50px;
      line-height: 0.9em;
      text-align: center;
      margin-right: 40px;
      padding-top: 10px;
      margin: 0px;
      padding:10px;
    }

    .win_ur_beats p {
        padding-top: 10px;
        margin: 0px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .dre_section3{
        padding-top:30px;
    }

    .responsive_dre{
        width:100% !important;float: left;
    }

    .dre_section2{
        text-align:center;
        margin-top:0px !important;
        margin-bottom:0px !important;
        padding: 20px;
        box-sizing: border-box;
    }

    .dre_section2 div div {
        margin:0px auto !important;
    }

    .responsive_dre_wrapper{width:320px !important;margin:0px auto;}
    .inviter{margin-top:20px !important;}

}

.invite_holder .field input {
    margin-bottom:10px !important;
    border-bottom:0px solid white !important;
}

#invite_popup{
    background-color: #ffffff;
}

.add_popup_open{
    cursor:pointer;
}

.wrapper{
	max-width:1200px;
	margin:0 auto;
	padding:0px;
	min-width:320px;
}

#comments_box{
    position:relative;padding:0px;background:0px;border-top:1px solid #e3e3e3 !important;padding:10px;float:left !important;
    width:100%;
    -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
    -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
    box-sizing: border-box;  
    padding-bottom:5px !important;
}

.white-wp{
	margin:0px auto 0px auto ;
	padding-top:15px;
	box-sizing: border-box;
	display: block;
	height: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*cursor: pointer;*/
	font-weight: 400;
	-webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
	background-color: #FFF;
	position:relative;
	z-index:100;
	width:100%;
	padding-bottom: 50px;
}

#navToggle{
  color: #000000 !important;
  z-index: 2000;
  display: block;
}

.header{
    width:100%;
    display:block;
    background-color:transparent;
    padding-top:0px;
    z-index:1;
}
	
.headerwp{
    position:relative;
}
	
.logo{
	padding:45px 0px 10px 0px;
	margin:0 auto;
	text-align:center;
}

.homerow01{ width:100%; display:block; padding:0px 0px 62px 0px; background-color:#f1f1f1;} 
.sectionhead{width:100%; font-size:22px; display:block; letter-spacing:1px; color:#666; padding-top:40px; padding-bottom:30px; text-align:center;  line-height: 30px;}

.buttoncolor{
	color: #fff;
    display: block;
    font-size:14px;
    padding: 10px;
    text-decoration: none;
    transition: background 0.3s linear 0s;
    width:100%;
	float:left;
	text-align:center;
	font-family: 'robotomedium';
	margin:0% 0%;
}

.column_responsive{width:100%;float:left;}
.wants_profile{width:100%;float:left;margin-top:20px;margin-bottom:20px;}
.responsive_image img{width:100%;height:100%;max-width:100%;}
.responsive_image {padding:0px;}
.comments_here{
  float: right !important;
}


/* MAJORITY OF MEDIA QUERIES, NEEDS TIDYING AND CONSOLIDATING  */

@media only screen and (min-width: 00px) and (max-width:500px) {
    .shopSaveShareMsg2{margin-bottom:0px;}
    .product_top_middle {
        padding: 20px 20px 100px !important;
    }
    .product_top_middle, #comments_box{border:0px solid #ffffff !important;}
    #comments_box{border:0px solid white !important;}
    .color-block{ width:100% !important; margin-left:0% !important; margin-right:0% !important;  margin-top:0% !important; }
    .white-wp{ width:100% !important; margin-left:0% !important; margin-right:0% !important; margin-top:0% !important; margin-bottom:0% !important; z-index:auto !important;}
    .pop-up{ right:7% !important; z-index:1 !important;}
    .headerwp{ min-height:0px !important; }
    .header{ min-height:0px !important; }
    .logo {
    padding:0px !important;padding-top:7px !important;width:200px !important;margin:0pt auto !important;
    }
    .sectionhead{ font-size:24px !important; }
    .color-block i{ font-size:66px !important; }
    .color-block span{ font-size:17px !important; }
    .color-block{ min-height:inherit !important; padding-top:25px !important; }
    .loaderbox, .home_step_container_temp{ display:none !important;}
    .hide_on_menu{display:none;}
    .megamenu{
        width:100% !important;
    }
    .sectionhead{
        padding-bottom: 20px;
        font-size: 18px !important;
        padding-top:30px;
        line-height: 40px;
    }
    #isotope_products{
        margin-top: 0px !important;
    }
    .left_column_responsive{width:100%;}
    .right_column_responsive{width:100%;}
    .shopSaveShareMsg2{margin-bottom:0px;padding-bottom:15px;}
}


@media only screen and (min-width:501px) and (max-width:767px) {
    .shopSaveShareMsg2{margin-bottom:0px;padding-bottom:15px;}
    .product_top_middle {
        padding: 20px 20px 100px !important;
    }
    #comments_box{border:0px solid white !important;}
    .color-block{ width:100% !important; margin-left:0% !important; margin-right:0% !important;  margin-top:0% !important; }
    .white-wp{ width:100% !important; margin-left:0% !important; margin-right:0% !important; margin-top:0% !important;margin-bottom:0px !important; z-index:auto !important;}
    .pop-up{ right:3% !important; z-index:1 !important; bottom: -45px !important;}
    .headerwp{ min-height:0px !important; }
    .header{ min-height:0px !important; }
    .sectionhead{ font-size:2px !important; }
    .color-block i{ font-size:66px !important; }
    .color-block span{ font-size:18px !important; }
    .color-block{ min-height:inherit !important; padding-top:25px !important; }
    .loaderbox, .home_step_container_temp{ display:none !important;}
    .logo{ width:70% !important; margin-left:15% !important; margin-right:15% !important;padding-top:0px !important; }
    .logo {
    padding:0px !important;padding-top:7px !important;width:200px !important;margin:0pt auto !important;
    }
    .hide_on_menu{display:none;}
    .megamenu{
        width:100% !important;
    }
    .shopSaveShareMsg2{margin-bottom:0px;padding-bottom:15px;}
    .sectionhead{
        padding-bottom: 20px;
        font-size: 18px !important;
        padding-top:30px;
    }
     #isotope_products{
        margin-top: 0px !important;
    }
    .left_column_responsive{width:100%;}
    .right_column_responsive{width:100%;}
    .product_top_middle, #comments_box{border:0px solid #ffffff !important;}
}


@media only screen and (min-width:768px) and (max-width:900px) {
    #comments_box{border:0px solid white !important;}
    .product_top_middle, #comments_box{border:0px solid #ffffff !important;}
    .shopSaveShareMsg2{margin-bottom:0px;padding-bottom:15px;}
    .product_top_middle {
        padding: 20px 20px 100px !important;
    }
    .left_column_responsive{width:100%;}
    .right_column_responsive{width:100%;}
    .color-block{ width:50% !important; margin-left:0% !important; margin-right:0% !important;  margin-top:0% !important; }
    .white-wp{ width:100% !important; margin-left:0% !important; margin-right:0% !important; margin-top:0% !important; margin-bottom:0% !important; z-index:auto !important;}
    .pop-up{ right:3% !important; z-index:1 !important; bottom: -45px !important;}
    .loaderbox, .home_step_container_temp{ display:none !important;}
    .header{ min-height:0px !important; }
     #isotope_products{
        margin-top: 0px !important;
    }
    .logo {
    padding:0px !important;padding-top:7px !important;width:200px !important;margin:0pt auto !important;
    }
    .hide_on_menu{display:none;}
    .sectionhead{
        padding-bottom: 20px;
        font-size: 18px !important;
        padding-top:30px;
    }
}

@media only screen and (min-width:901px) and (max-width:1023px) {
    .column_responsive{width:49% !important;padding:.5% !important;float:left;}
    .color-block{ width:50% !important; margin-left:0% !important; margin-right:0% !important;  margin-top:0% !important; }
    .white-wp{ width:100% !important; margin-left:0% !important; margin-right:0% !important; margin-top:0% !important; margin-bottom:0% !important; z-index:auto !important;}
    .pop-up{ right:3% !important;}
    .logo{ width:70% !important; margin-left:15% !important; margin-right:15% !important;padding-top:20px; }
    .headerwp{ min-height:0px !important; }
    .hideondesktop{display:none;}
    .megamenu ul li a, .megamenu ul li.title{text-align: center !important;}
    .hideondesktop{display:none;}
}

.webapplinks {
    padding-bottom:10px;
}

@media only screen and (min-width:1024px) and (max-width:1365px) {
    .color-block{ width:50% !important; margin-left:0% !important; margin-right:0% !important;  margin-top:0% !important; }
    .white-wp{ width:100% !important; margin-left:0% !important; margin-right:0% !important; margin-top:0% !important; margin-bottom:0% !important; z-index:auto !important;}
    .pop-up{ right:3% !important;}    .column_responsive{width:49% !important;padding:.5% !important;float:left;}
    .megamenu ul li a, .megamenu ul li.title{
        text-align: center !important;
    }
    .logo{ padding-top:20px; }
    .hideondesktop{display:none;}
}

@media only screen and (min-width:1366px) and (max-width:1499px) {
    .white-wp{ width:100% !important; margin-left:0% !important; margin-right:0% !important; margin-top:0% !important; margin-bottom:0% !important; z-index:auto !important;}
    .pop-up{ right:3% !important;}    .column_responsive{width:49% !important;padding:.5% !important;float:left;}
    .megamenu ul li a, .megamenu ul li.title{
        text-align: center !important;
    }
    .logo{ 
        padding-top:20px; 
    }
    .hideondesktop{
        display:none;
    }
}

@media only screen and (min-width:1500px) and (max-width:1699px) {
    .pop-up{ right:4% !important;}    .column_responsive{width:49% !important;padding:.5% !important;float:left;}
    .white-wp{ margin-bottom:0px !important;}
    .hideondesktop{display:none;}
    .megamenu ul li a, .megamenu ul li.title{
        text-align: center !important;
    }
    .logo{
        padding-top:20px;
    }
}

@media only screen and (min-width:1700px) {
    .pop-up{ right:7% !important;}    .column_responsive{width:49% !important;padding:.5% !important;float:left;}
    .white-wp{ margin-bottom:0px !important;}
    .hideondesktop{display:none;}
    .megamenu ul li a, .megamenu ul li.title{
        text-align: center !important;
    }
    .logo{ 
        padding-top:20px;
    }
}

/* POP UP STYLES */

.pop-up {
	position:absolute;
	z-index:101;
	bottom:-25px;
	right:3%;
	overflow: hidden;
	width: 387px;
	height: 380px;
	text-align:right;
	background:#fff;
	-webkit-transition: all 300ms cubic-bezier(.6, -0.3, .3, 1.3);
	transition: all 300ms cubic-bezier(.6, -0.3, .3, 1.3);
	-moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
}
.pop-up:hover{
	-moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,.16);
	-webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.16);
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.16);
	}

.pop-up.inactive {
	width: 0;
	height: 0;
	padding:26px;
	border-radius: 50%;
}
.pop-up a {
	display: inline-block;
	color: #fff;
}
.pop-up > a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.pop-up .toggle {
	position: absolute;
	bottom: 3px;
	right: 0;
	font-size:33px;
	font-weight: 300;
	text-align: center;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 50%;
	-ms-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition: all 300ms;
	transition: all 300ms;
	color:rgba(0,0,0,0.8);
	padding:11px;
	opacity:0.6;
}
.inactive .toggle{padding:17px !important;}
.pop-up .toggle:hover{ opacity:0.75;}
.pop-up.inactive .toggle {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
.pop-up ul {
	position: absolute;
	 width:100%;
	opacity: 1;
	list-style: none;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
.pop-up.inactive ul {
	opacity: 0;
}
.pop-up li {
	 
	margin-bottom: 0;
	-webkit-transition: all 600ms;
	transition: all 600ms;
	width:50%;
	float:left;
}
.pop-up.inactive li {
	 
}
.main-content {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

 
 