


<div class = "page_wrapper" style = "max-width:500px;padding:20px;padding-top:0px; box-sizing: border-box;">

<% if current_user %>
<% if current_user.role_id == 1 %>

<% title ('FRNZY / New category') %>	
<% set_meta(:title => ('FRNZY / New category'), :description => ('FRNZY / New category')) %>
	
       <%= form_for(@category) do |f| %>
         
         <div class="shopSaveShareMsg2">
          <div class="shopSaveShareTxt2">
              <ul>
                  <li class="selected">
                     Add new category     
                  </li>
              </ul>
          </div>
         </div>

         <% if @category.errors.any? %>
            <div id="error_explanation">
               <h2><%= pluralize(@category.errors.count, "error") %> prohibited this user from being saved:</h2>
               <ul>
                  <% @category.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
               </ul>
            </div>
         <% else %>           
         <% end %>

         <div class="frnzyFrmGrp_res">
            <div class="frnzyFrmRight">
               <div class="field">
                  <%#= f.label :last_name %>
                  <%= f.text_field :slug,{placeholder: "slug"} %>
               </div>
               <div class="field">
                  <%#= f.label :username %>
                  <%= f.text_field :name,{placeholder: "name"} %>
               </div>
               <div class="field">
                  <%#= f.label :company %>
                  <%= f.text_field :description,{placeholder: "description"} %>
               </div>
            </div>
         </div>
        
         <div class="frnzyFrmGrp_res">     
            <div class="form_heading">
            </div>
            <div class="frnzyFrmRight">
               <div class="actions">
                  <%= f.submit 'Submit', {:style => 'margin-top:20px;', :class => 'fa-button'} %>  
               </div>
            </div>
         </div>

      <% end %> 

<% end %>
<% end %>
 
</div>



















