<% title ('FRNZY / ' + @category.name) %> 
<% set_meta(:title => ('FRNZY / ' + @category.name), :description => ('FRNZY / ' + @category.name)) %>
  
<% if cookies[:wanted_filter].present? %>
<% else 
  cookies[:wanted_filter] = {
  :value => '1',
  :expires => 1.year.from_now,
  :path => '/'
}
%>
<% end %>

<% if cookies[:active_filter].present? %>
<% else 
  cookies[:active_filter] = {
  :value => '1',
  :expires => 1.year.from_now,
  :path => '/'
}
%>
<% end %>

<% if cookies[:done_filter].present? %>
<% else 
  cookies[:done_filter] = {
  :value => '1',
  :expires => 1.year.from_now,
  :path => '/'
}
%>
<% end %>

<div class="shopSaveShareMsg2">
    <div class="shopSaveShareTxt2">
        <ul>
            <li class="selected">
                <%= @category.name %>
            </li>
        </ul>
    </div>
</div>

<div class = 'isotope' id = "fade_on_load" style = "opacity:0;">
  <%= render @combinedproductsandtroops %>  
</div>
     
<div class="clearfix">
  <div id = "endlesspagination">
    <%= will_paginate @combinedproductsandtroops, previous_label: h("<"), next_label: h(">") %>
  </div>    
</div>

