<link rel="stylesheet" href="/adminbootstrap/bootstrap.min.css" />

<div class = "boostrap_admin_menu">

<% title ('FRNZY / Categories') %>	
<% set_meta(:title => ('FRNZY / Categories'), :description => ('FRNZY / Categories')) %>

<% if current_user %>
<% if current_user.role_id == 1 %>

<div class="navbar admin_nav">
	<div class="navbar-inner">
		<a href="#" class="subbrand">Listing all categories</a>

<%= link_to 'New Category', new_category_path, :class => "btn btn-danger" %>
<%= link_to 'New Subcategory', new_group_path, :class => "btn btn-danger" %><br>
<%= render 'shared/admin_menu' %>    
    
	</div>
</div>


<table class = "table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th class = "nomobile"></th>
    <th class = "nomobile"></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.description %></td>
    <td class = "nomobile"><%= link_to 'View', category, :class => "btn btn-mini" %></td>
    <td class = "nomobile"><%= link_to 'Edit', edit_category_path(category), :class => "btn btn-mini" %></td>
    <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
  </tr>

  <% category.groups.each do |group| %>
    <tr>
      <td>&nbsp</td>
      <td><%= group.name %></td>
      <td class = "nomobile"><%= link_to 'View', group, :class => "btn btn-mini" %></td>
      <td class = "nomobile"><%= link_to 'Edit', edit_group_path(group), :class => "btn btn-mini" %></td>
      <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
    </tr>
  <% end %>

<% end %>


</table>



<% end %>
<% end %>
</div>