<%= form_for(@dealfail) do |f| %>
  <% if @dealfail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dealfail.errors.count, "error") %> prohibited this troopfail from being saved:</h2>

      <ul>
      <% @dealfail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :deal_id %><br />
    <%= f.number_field :deal_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
