<h1>Listing troopfails</h1>

<table>
  <tr>
    <th>User</th>
    <th>Troop</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dealfails.each do |troopfail| %>
  <tr>
    <td><%= troopfail.user_id %></td>
    <td><%= troopfail.deal_id %></td>
    <td><%= link_to 'Show', troopfail %></td>
    <td><%= link_to 'Edit', edit_troopfail_path(troopfail) %></td>
    <td><%= link_to 'Destroy', troopfail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Troopfail', new_troopfail_path %>
