<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @dealfail.user_id %>
</p>

<p>
  <b>Troop:</b>
  <%= @dealfail.deal_id %>
</p>


<%= link_to 'Edit', edit_troopfail_path(@dealfail) %> |
<%= link_to 'Back', troopfails_path %>
