<%= form_for(@product, :html => { :multipart => true }) do |f| %>
   <% if @product.errors.any? %>
      <div id="error_explanation">
         <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
         <ul>
            <% @product.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
            <% end %>
         </ul>
      </div>
   <% end %>
  
   <div style="float: left; margin-top: 10px;">
      <div class="field">
         <%= f.text_field :name, :placeholder => "What product do you want to add?" %>
      </div>

      <%= f.submit "Add to\nFRNZY", :class => "frnzyHeadBtn product_add_btn static", :style => "padding: 15px 8px 45px; margin: 38px 0 0 0; line-height: 1.1em;  float: right;"  %>

      <div class="field frnzyAddImage" style="margin: 10px 0; float: left; width: 75%">
         <%= f.file_field :product_image %>
      </div>  

      <% f.hidden_field :slug, :value => SecureRandom.hex(10) %>
      <div class="field" style="float: left;">
         <%= f.collection_select :category_id, @categories, :id, :name, include_blank: true  %>
      </div>

      <%= f.hidden_field :user_id, :value => current_user.id %>
   </div>

<% end %>
