

  <!--0. Product title-->
  <div class="shopSaveShareMsg2">
      <div class="shopSaveShareTxt2">
          <ul>
              <li class="selected">
                  Editing <%= raw @product.name %>
                   <% unless @product.price == nil %>
                    <br><span style = "font-size:20px !important;color:#00b3f7 !important;">RRP <%= number_to_currency(@product.price, { :unit => '£', :precision => 2 }) %></span>
                   <% end %>
              </li>
          </ul>
      </div>
  </div>


  <!--1. Product image-->

  <div class="column_responsive">
    <div class = "product_top_left">
      <%= image_tag @product.product_image.url(:medium) %>
    </div>
  </div>


  <!--2. Product content-->
  <div class="column_responsive" style = "float:right;margin-bottom:30px;">
    <div class = "product_top_middle minheightdesktop">
      
      <%= form_for(@product, :html => { :multipart => true }) do |f| %>
         <% if @product.errors.any? %>
            <div id="error_explanation">
               <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
               <ul>
                  <% @product.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
               </ul>
            </div>
         <% else %>  
         <% end %>

          <div class = "edit_product_form">

              <% if @product.user.nil? %>
              <% else %>
              <span style = "display:none">
               Product added by <%= @product.user.first_name %> <%= @product.user.last_name %> (<%= link_to @product.user.role.role_type, @product.user  %>) <br><br>
              </span>
              <% end %>
                   
              <%= f.label :name %>
              <%= f.text_field :name %>
              <%= f.label :description %>
              <%= f.text_area :description %>
           
              <label for="product_image" style = "padding-bottom:10px;margin-top:10px;">Update image</label>
              <%= f.file_field :product_image %><br />

              <div style = "display:none">
                <%= f.label :slug %>
                <%= f.text_field :slug %>
              </div>

              <%= f.label :barcode %>
              <%= f.text_field :barcode %>

              <label for="product_price">RRP</label>
              <%= f.text_field :price, :value => number_to_currency(@product.price, { :unit => '', :precision => 2 }).to_s %>
            
              <%= f.label :category_id %>
              <%= f.collection_select :category_id, @categories, :id, :name, include_blank: true  %><br>
            
              <%= f.label :group_id %>
              <%= f.grouped_collection_select :group_id, Category.order(:name), :groups, :name, :id, :name %><br>
            
              <%= f.label :featured %>
              <%= f.check_box :featured %>

              <%= f.label :isenabled %>
              <%= f.select :isenabled, [ ["Yes",1], ["No",0]] %>
           
              <br/>

              <div class="actions" style = "margin-top:20px;">
                 <%= f.submit "Submit", :class => "fa-button", :style=> "" %>
              </div>

          </div>

      <% end %>

  </div>
</div>


   