<%
	boxsize = 'small'
	showRemove = showRemove || false
%>
<div class = "frnzy_item cat-2" >

	<%= 
		render :partial =>'products/product_inner', :object => product, as: :product, locals: {showRemove: showRemove}
	%>
</div>
