<% if product.likes.count > 1 
		boxsize = 'large'
	elsif product.likes.count > 0 
		boxsize = 'medium'
	elsif product.likes.count == 0 
		boxsize = 'small'
	end %>
			
			<div class = "product_box product boxsize_<%= boxsize %>">
			
				<div class = "product_image">
				
					
					<% if boxsize == 'large' %>
					<%= link_to (image_tag product.product_image.url(:largebox)), product %>
					<% elsif boxsize  == 'medium' %>
					<%= link_to (image_tag product.product_image.url(:small)), product %>
					<% elsif boxsize  == 'small' %>
					<%= link_to (image_tag product.product_image.url(:small)), product %>
					<% end %>
					
					
				</div>
				
				<div class = "product_footer">
					<div class = "product_wants"></div>
					<div class = "product_want_this">		
					<% if current_user %>
						<% if current_user.role_id == 3 %>
							<div id="like_<%= product.id %>">
								<% @product = product %>
								<%= render 'likes/like_button', :product => @product %> 
							</div>
						<% end %>
						<% if current_user.role_id == 2 %>
							<% @product = product %>
							<div class = "want_update_left isowant_<%= @product.id %>"><%= "#{@product.likes.count}" %></div>
							<div class = "want_update_right">
								<%= link_to "Offer troop", product, :class => "btn " %>
							</div>
						<% end %>
						<% if current_user.role_id == 1 %>
							<% @product = product %>
							<div class = "want_update_left isowant_<%= @product.id %>"><%= "#{@product.likes.count}" %></div>
							<div class = "want_update_right">
								<%= link_to "View product", product, :class => "btn " %>
							</div>
						<% end %>
					<% else %>			
						<div>
							<div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"></div>
							<div class = "want_update_left isowant_<%= product.id %>"><%= "#{product.likes.count}" %></div>		
							<div class="want_update_right">
								<a href="#myModal" role="button" class="btn " data-toggle="modal">Want</a>
							</div>
						</div>
					<% end %>
					</div>
				</div>
				
			</div>