<%# product.popularity = (product.likes.count) %>
<%# product.save %>

<%# if product.likes.count > 2 
		boxsize = 'small'
	elsif product.likes.count > 0 
		boxsize = 'small'
	else
%>
<%
		boxsize = 'small'
		showRemove = showRemove || false
#end %>

			
<% #if boxsize == 'large' %>
<% #theproductimageurl = product.product_image.url(:largebox) %>
<% #elsif boxsize  == 'medium' %>
<% #theproductimageurl = product.product_image.url(:small) %>
<% #else %>
<% theproductimageurl = product.product_image.url(:small) %>
<% #end %>
					
	<div class = "product_image" style = "opacity:1 !important;">

		<% if product.isenabled != 0 %>
			<%= link_to (image_tag theproductimageurl), product %>	
		<% else %>
			<%= image_tag theproductimageurl %>
		<% end %>
	</div>
				
	<div class = "product_footer2">
		<div class = "product_want_this">
			<% if product.likes.count > 2 %>
				<% unless product.likes.empty? %>
				<div class = "product_likes">	
					<% product.likes.take(3).each do |like| %>
						<% unless like.user == nil %>
							<%= render like.user %>
						<% end %>
					<% end %>
					<% if product.likes.count > 3 %>
						<% if product.likes.count > 4 %>
							+ <%= product.likes.count - 3%> others 
						<% else %>
							+ 1 other
						<% end %>
					<% end %>
					</div>
				<% end %>
			<% elsif product.likes.count > 0 %>
				<% if product.likes.first.user.provider == 'facebook' %>
					<% theproductimageurl = 'https://graph.facebook.com/'+product.likes.first.user.uid.to_s+'/picture' %>
				<% else %>
					<% theproductimageurl = product.likes.first.user.photo.url(:extrasmall) %>
				<% end %>

				<div class = "image_seperator" style = "margin-left:5%;width: 2.5em; height: 2.5em; float:left;text-align:right;">
					<%= link_to product.likes.first.user do %>
						<%= image_tag theproductimageurl, :class=>"frnzy_want_heads"  %>
					<% end %>
				</div>
			
				<div class="product_footer2_name">
					<%= link_to (product.likes.first.user.first_name + ' ' + product.likes.first.user.last_name), product.likes.first.user %> wants <br/><%= raw product.name %>
				</div>
			<% else %>
				<div class="product_footer2_first">
					<% if product.isenabled != 0 %>
						Be the first to want <%= raw product.name %>
					<% else %>
						<%= raw product.name %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	
	<div class = "product_footer">
		<div class = "product_want_this three_buttons">

			<% if product.isenabled != 0 %>		
				<% if current_user %>
					<% if current_user.role_id == 3 %>
						<div id="like_<%= product.id %>">
							<% @product = product %>
							<%= render 'likes/like_button', :product => product %> 
						</div>
						<% if showRemove == false %>
							<%= link_to product, :class=> "product_view_btn frnzyHeadBtn center" do %>
								VIEW
								<div class="product_want_smltxt">group</div>
							<% end %>
						<% else %>
							<% @like = @likes.where('product_id' =>  product.id) %>
							<%= link_to "REMOVE", {:controller => "likes", :action => 'destroy', :id => @like.first.id}, :method => :delete, :class => 'product_remove_btn frnzyHeadBtn center singleLine', :style=>"font-size: 1.1em !important", :remote => true %>
						<% end %>

						<%= link_to share_product_path(product), :class => "product_share_btn frnzyHeadBtn left", :remote => true do %>
						SHARE
							<div class="product_want_smltxt">product</div>
						<% end %>

						
					<% end %>
					
					<% if current_user.role_id == 2 %>
						<% session[:product_deal_id] = product.id %>
						<%= link_to newdealwithproduct_path(product), :class => "frnzyHeadBtn product_offer_deal_btn left", :style => "font-size: 14px !important" do %>
							OFFER
							<div class="product_want_smltxt">deal</div>
						<% end %>	
						<% if showRemove == false %>
							<%= link_to product, :class=> "product_view_btn frnzyHeadBtn center" do %>
								VIEW
								<div class="product_want_smltxt">group</div>
							<% end %>
						<% else %>
							<% @like = @likes.where('product_id' =>  product.id) %>
							<%= link_to "REMOVE", {:controller => "likes", :action => 'destroy', :id => @like.first.id}, :method => :delete, :class => 'product_remove_btn frnzyHeadBtn center singleLine', :style=>"font-size: 1.1em !important", :remote => true %>
						<% end %>
						<div style = "cursor:pointer;" class = "product_want_btn frnzyHeadBtn right">
							<a>
								<%= product.likes.count %> 
								<div class="product_want_smltxt">wants</div>
							</a>
						</div>
					<% end %>
					
					<% if current_user.role_id == 1 %>					
						<% if showRemove == false %>
							<%= link_to product, :class=> "product_view_btn frnzyHeadBtn center" do %>
								VIEW
								<div class="product_want_smltxt">group</div>
							<% end %>
						<% else %>
							<% @like = @likes.where('product_id' =>  product.id) %>
							<%= link_to "REMOVE", {:controller => "likes", :action => 'destroy', :id => @like.first.id}, :method => :delete, :class => 'product_remove_btn frnzyHeadBtn center singleLine', :style=>"font-size: 1.1em !important", :remote => true %>
						<% end %>
						<div style = "cursor:pointer;" class = "product_want_btn frnzyHeadBtn right">
							<a>
								<%= product.likes.count %> 
								<div class="product_want_smltxt">wants</div>
							</a>
						</div>
					<% end %>
				
				<% else %>			
					
					<div>
						<div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"></div>
							<%= link_to product, :class=> "product_view_btn frnzyHeadBtn center" do %>
								VIEW
								<div class="product_want_smltxt">group</div>
							<% end %>
							<div style = "cursor:pointer;" class = "product_want_btn frnzyHeadBtn right">
								<a href="#myModal" role="button" data-toggle="modal">
									WANT
									<div class="product_want_smltxt">
										<%= product.likes.count %>
										<% if(product.likes.count <= 99)%>
											wants 
										<%	end %> 
									</div>
								</a>
							</div>
							<%= link_to share_product_path(product), :class => "product_share_btn frnzyHeadBtn left", :remote => true do %>
						SHARE
							<div class="product_want_smltxt">product</div>
						<% end %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>	