		
<% theproductimageurl = product.product_image.url(:small) %>
					
<div class = "product_box product boxsize_small productnumber_<%= product.id %> popularity_<%= product.howmanylikes %>" data-id="<%= product.id %>" >
	<div class = "product_image" style = "opacity:1 !important;">
		<!-- <%= link_to (image_tag theproductimageurl), product %>	 -->
		<%= image_tag theproductimageurl%>	
	</div>

	<div class = "product_header<%= product.id %>">
		<h2><%= raw product.name %></h2>
	</div>
</div>