
(function(){

	$('.add_product_product_title').text("<%= @product_name %>");
	$('.add_product_name').hide();
	$('.add_product_confirm').find('#product_name').val('<%= @product_name %>');
	var $list = $('.similar_products_list');
	$list.html('');
	<% if @results != [] then %>

		$('.add_holder').addClass('allowbig');

		var products = [];
		<% @results.each do |prod| %>
			products.push("<%= escape_javascript(render 'products/simple_product', :product => prod)%>");
		<% end %>
		$list.append(products);

		//TODO:  Add Logic to allow user to click one and perform a post to redirect and like product.
		$list.find('.product_box').on('click', function(){
			window.location = '/like_and_view/' + $(this).data('id') + '/';
		});
		$('.add_product_similar').show();
		
		$('.product_not_similar_clicker').on('click', function(){
			$('.add_product_similar').hide();
			$('.add_product_url').show();
			// $('.add_holder').removeClass('allowbig');
		});
	<% else %>
		$('.add_product_url').show();
	<% end %>
})()