<div class = "page_wrapper">

	<% title ('FRNZY / Edit ' + @product.name) %>	
	<% set_meta(:title => ('FRNZY'), :description => ('FRNZY')) %>


	<% if current_user %>
		<% if current_user.role_id == 1 %>
						
		<%= render 'formedit' %>

		<% end %>
	<% end %>

</div>