<% title ('FRNZY') %>	
<% set_meta(:title => ('FRNZY'), :description => ('FRNZY')) %>

<% unless current_user %>

   <div class="home_step_container">
      <h1>Better deals on products you <u>want</u></h1>
      <h2>Buy together for exclusive group discounts</h2> 
      <div class="home_how_it_works"><a href = "/how_it_works">How it works</a></div>
      <div class="home_elipses" style = "display:none;">
         <div class="home_lrg_text" style="margin-top:0px">18</div>
         <div class="home_sml_text">people want this</div>
         <div class="home_lrg_text">23<span style="font-size: 24px; margin-left: 2px; line-height: 24px;">%</span></div>
         <div class="home_sml_text">group saving</div>
      </div>
   </div>

<% end %>

<div class = 'isotope' id = "fade_on_load" style = "opacity:0;">
	<%= render @combinedproductsandtroops %>	
</div>
     
<div class="clearfix">
	<div id = "endlesspagination">
		<%= will_paginate @combinedproductsandtroops, previous_label: h("<"), next_label: h(">") %>
	</div>    
</div>

