
<h2>Listing products&nbsp;<% if current_user %>
<%= link_to 'Add new Product', new_product_path, :class => "btn"  %>
<% end %>
</h2>
<br>

<table class="table">
  <tr>
  	<th>Image</th>
    <th>Name</th>
    <th>Description</th>
    <th>RRP</th>
    <th>Category</th>
    
    <% if current_user %>
    
    <% if current_user.role_id == 3 %>
    <th>Want product for deals</th>
    <% end %>
    
    <% if current_user.role_id == 2 %>
    <th>Offer troop</th>
    <% end %>
    
    <% else %>
    <th>Want product for deals</th>
    <% end %>
    <th>Live groups</th>

  </tr>

<% @products.each do |product| %>
  <tr>
  <td><%= link_to (image_tag product.product_image.url(:extrasmall)), product %></td>
    <td><%= link_to product.name, product %></td>
    <td><%= product.description %></td>
    <td>£<%= product.price %></td>

    <td><%= link_to product.category.name, product.category %></td>

<% if current_user %>


<% if current_user.role_id == 3 %>
<td>
<div id="like_<%= product.id %>">
<% @product = product %>
<%= render 'likes/like_button', :product => @product %> 
</div>
</td> 
<% end %>




<% if current_user.role_id == 2 %>
<td>
<% @product = product %>
<%= link_to "Offer troop", product, :class => "btn btn-success" %>
</td> 
<% end %>


<% else %>
<td><a data-toggle="modal" class="btn" role="button" href="#myModal">Sign in to save</a></td>
<% end %>



<td>
<% product.deals.each do |deal| %>


<% if deal.isenabled == 1 %>
<% if deal.status == '1'  %>
<%= link_to 'View live deal', deal_path(deal), :class => "btn btn-success" %>

<div class = "want_update"><%= "#{deal.trooplinks.count}" %> / <%= deal.troop_limit.round() %> required.</div>

<div id="trooplink_<%= deal.id %>">
<%# @deal = deal %>
<%# render 'trooplinks/trooplink_button', :deal => @deal %> 
</div>
<% end %>
<% end %>
<% end %>
</td>









<% end %>

</tr>
</table>

<br><br>


