//alert('product_invite');

$('.invite_holder').html("<%= escape_javascript(render 'shared/invite_product') %>");
$('#invite_popup').popup('show');

$('#profile_menu').removeClass('menu_open');
$('#profile_menu_close_button').hide();
$('#profile_menu_open_button').show();
$('#products_menu').removeClass('menu_open');
$('#menu_close_button').hide();
$('#menu_open_button').show();