
<%
meta og: {
  title: ('FRNZY / ' + @product.name),
  description: ('Check out this ' + @product.name + ' on FRNZY. If you want too, we could all get an exclusive group discount!'),
  image: @product.product_image.url(:square)
}
%>

<div class = "page_wrapper">

	<% title ('FRNZY / ' + @product.name) %>	
	<% set_meta(:title => ('FRNZY / ' + @product.name), :description => (@product.description)) %>
			
	<% if @product.isenabled == 0 %>
		<div style="width:100%;text-align:center;margin-top:20px;margin-bottom: -10px;">
			Product awaiting approval
		</div>
	<% end %>


	<!--0. Product title-->

	<div class="shopSaveShareMsg2">
	    <div class="shopSaveShareTxt2">
	        <ul>
				<li class="selected">
	                <%= raw @product.name %>
	                 <% unless @product.price == nil %>
		                <br><span style = "font-size:20px !important;color:#00b3f7 !important;">RRP <%= number_to_currency(@product.price, { :unit => '£', :precision => 2 }) %></span>
	                 <% end %>
	            </li>
	            <% checker = 0;
				@product.deals.each do |deal|
					if deal.isenabled == 1
						if deal.status == '1' %>
							<%= link_to ( 'Click here to view deal for ' + number_to_currency(deal.price, :unit => "£") ), deal_path(deal) %>
							<% checker = 1;
						end 
				   	end
				end
				 %>
	        </ul>
	    </div>
	</div>


	<!--1. Product image-->

	<div class="column_responsive">
		<div class = "product_top_left">
			<%= image_tag @product.product_image.url(:medium) %>
		</div>
	</div>


	<!--2. Product content-->

	<div class="column_responsive" style = "float:right;">
		<div class = "product_top_middle minheightdesktop">
			<div style="float: right; margin-bottom: 10px;">
				<% if @product.isenabled == 1 %>
					<%# Not Logged in use this button %>
					<% if current_user %>
						<% if current_user.role_id == 2 %>
							<% session[:product_deal_id] = @product.id %>
							<%= link_to newdealwithproduct_path(@product.id), :class => "frnzyHeadBtn product_deal_btn right static" do %>
									OFFER
									<div class="product_want_smltxt">deal</div>
							<% end %>	
						<% else %>		

							<div id="like_p_<%= @product.id %>" style = "cursor:pointer;" class = "product_want_btn frnzyHeadBtn right static">
								<%= render('likes/like_button_product') %>
							</div>

						<% end %>
					<% else %>
						<div style = "cursor:pointer;" class = "product_want_btn frnzyHeadBtn right static">
							<a href="#myModal" data-toggle="modal">
								WANT
								<div class="product_want_smltxt"><%= @product.likes.count %> wants</div>
							</a>
						</div>
					<% end %>

					<%= link_to share_product_path(@product), :class => "product_share_btn frnzyHeadBtn static", :remote => true do %>
					SHARE
						<div class="product_want_smltxt">product</div>
					<% end %>
				<% end %>
			</div>
			<% checker = 0;
			@product.deals.each do |deal|
				if deal.isenabled == 1
					if deal.status == '1' %>
						<p style="">RRP: <%= number_to_currency(deal.troop_rrp, :unit => "£") %>
						<span style = "display:block;font-size:20px;margin-bottom:10px;margin-top:5px;">FRNZY Deal price: <span style="font-size: 1em; color: #EF0000;"><%= number_to_currency(deal.price, :unit => "£") %></span></span>
						Saving: <%= ((1-(deal.price/deal.troop_rrp))*100).round() %>%
						</p>
						<% checker = 1;
					end 
			   end
			end%>
			<% if checker == 99; %>
				<% if current_user %>
					<% if current_user.role_id == 1 %>
						<div style = "padding-bottom: 15px;padding-top: 0px;">
							<a class = "btn btn-danger"role="button" href="/products/<%= @product.slug %>/edit">Edit product</a>
						</div>
					<% end %>
				<% end %>
			<% end %>			
			<% if @product.category.nil? %>
			<% else %>
				<p style="padding-bottom: 20px;font-size: 16px;font-style:normal;color: #333333;margin-bottom:5px;min-height:35px;">Featured in <%= link_to @product.category.name, @product.category, :class => "bold_blue" %> 
					<% if @product.group.nil? %>
					<% else %> 
						<!-- &amp; <%= link_to @product.group.name, @product.group, :class => "" %> -->
					<% end %>
				</p>
			<% end %>
			<p style="margin-top: 0px;">
		
				<%= @product.description %>
				<!-- Invite Button -->
			
					<div class="product_url">

						<% if @product.isenabled == 1 %>
					<% if current_user %>
						<div class="invite_container" style = "padding-top:20px;">
							<%= link_to invite_product_path(@product), :class => "fa-button", :remote => true do %>
								<i class="fa fa-user-plus"></i>Invite</a>
							<% end %>
						</div>
						<div class="invite_container" style = "padding-top:20px;display:none;">
							<%= link_to invite_product_path(@product), :class => "product_invite_btn", :remote => true do %>
								Invite
							<% end %>			
						</div>
					<% end %>
				<% end %>

					<% if @product.product_url != nil %>
					<div style = "width:100%;float:left;padding-top:10px;">
						Added from 
						<a href="<%= @product.product_url %>" class = "bold_blue" target="_blank"><%= URI.parse(@product.product_url).host %></a>
						<% end %>
					</div>
					</div>



				
				
			</p>
		</div>
	</div>




	<% if @product.isenabled == 1 %>




		<!--4. Product wants-->

		<% unless @product.likes.empty? %>
			<div class="column_responsive peoplewant" style = "margin-bottom: 20px;clear: left !important;">
				<div class = "currentroopers" id=''>
					<% product = @product %>
					<h2>People who want this item</h2>
					<% if product.likes.count > 0 %>
						<% unless product.likes.empty? %>
							<% product.likes.each do |like| %>
								<% unless like.user == nil %>
									<%= render like.user %>
								<% end %>
							<% end %>
						<% end %>
					<% elsif product.likes.count > 0 %>
						<% if product.likes.first.user.provider == 'facebook' %>
							<% theproductimageurl = 'https://graph.facebook.com/'+product.likes.first.user.uid.to_s+'/picture?type=small' %>
						<% else %>
							<% theproductimageurl = product.likes.first.user.photo.url(:extrasmall) %>
						<% end %>

						<div class = "lessthanthree">
							<div style = "width:40px;height:40px;margin-right:10px;float:left;">
								<%= link_to product.likes.first.user do %>
									<%= image_tag theproductimageurl, :class=>"frnzy_want_heads"  %>
								<% end %>
							</div>
							<div class = "nonitalicplease" style = "float: left;font-size: 12px;line-height: 16px;margin-top:3px;padding-right: 0;width: 220px; overflow: hidden;">
								<%= link_to (product.likes.first.user.first_name + ' ' + product.likes.first.user.last_name), product.likes.first.user %> wants <%= raw product.name %>.
							</div>
						</div>
					<% else %>
						<div style = "line-height:16px;margin-top:3px;">Be the first to want <%= raw product.name %>.</div>
					<% end %>
				</div>
			</div>
		<% end %>
	<% end %>



		<!--3. Product discuss + comments-->

		<div class="column_responsive comments_here" style = "clear:right;margin-bottom:20px;">
			<div class="product_top_left" id="comments_box">
				<h2 style = "text-align:center;margin-top:5px;"><% unless current_user %><a href = "#" style = "" class="open_login">Sign in to comment on this product</a><% else %>Comment on this product<% end %></h2>
				
				<% if current_user %>
					<div class = "postcomment">
						<%= form_tag "/products/add_new_comment" do %>
					    	<%= hidden_field_tag "id", @product.id %>
					    	<%= hidden_field_tag "comment[user_id]", current_user.id %>
							<textarea onkeyup="textLimit(this, 140);" name="comment[comment]" id="comment_comment" rows="2"></textarea>
							<a style = "float:right;width:21%;text-align:center;line-height: 45px;height: 45px;" href="#" class="fa-button add_post">						<i class="fa fa-pencil"></i>Post</a>
					    	<%= submit_tag "POST", :class  => "hide_post_button" %>
					  	<% end %>
				<% else %>
					<div class = "postcomment" style = "text-align:center;padding-bottom:10px;">
						
				<% end %>

				<% unless @comments.empty? %>
					<%= render @comments %>
				<% end %>

				</div>
			</div>
		</div>



	<!-- <%# if @product.isenabled == 1 %>
		<%# unless @product.deals.where(:status => ['2']).empty? %>
			<div class = "product_bottom product_bottom_right_column">
				<div class = "contenttop">Recent savings</div>
				<div class = "product_bottom_left">	
					<%# @product.deals.each do |deal| %>
						<%# if deal.isenabled == 1 %>
							<%# if deal.status == '2' %>
								<%# deal %>
							<%# end %>
						<%# end %>
					<%# end %>
				</div>
			</div>
		<%# end %>
	<%# end %> -->

	<script type="text/javascript">
		function textLimit(field, maxlen) {
		if (field.value.length > maxlen + 1)
		alert('140 character limit reached.');
		if (field.value.length > maxlen)
		field.value = field.value.substring(0, maxlen);
		}
	</script>

</div>