<link rel="stylesheet" href="/adminbootstrap/bootstrap.min.css" />

<div class = "boostrap_admin_menu">

<% title ('FRNZY / Products') %>	
<% set_meta(:title => ('FRNZY / Products'), :description => ('FRNZY / Products')) %>


<div class="navbar admin_nav">
	<div class="navbar-inner">
		<a href="#" class="subbrand">Products</a>
		
        <%= render 'shared/admin_menu' %>

	</div>
</div>

<%= form_tag admin_products_path, :class => 'navbar-form', :method => 'get' do %>
  <p style = "text-align:center;">
    <%= hidden_field_tag :direction, params[:direction] %>
	<%= hidden_field_tag :sort, params[:sort] %>
    <%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search products", :class => "btn", :name => nil %> 

<% if params[:search].nil? %>
	<% else %>
	<a class = "btn" href = "/admin_products">Clear</a>
	
	<% end %>


 </p>
<% end %>




<table class="table">
  <tr>
    <th>Image</th>
    <th><%= sortable "name", "Name" %></th>
    <th class = "nomobile">Barcode</th>
    <th class = "nomobile"><%= sortable "category_id", "Category" %></th>
    <th class = "nomobile"><%= sortable "group_id", "Subcategory" %></th>
    <th class = "nomobile"></th>
    <th></th>
    <th class = "nomobile"></th>
    <th></th>
    <th class = "nomobile"></th>
  </tr>

<% @products.each do |product| %>
<tr
<%if (product.isenabled == 0) %>
class = 'error'
<% end %>
>
	<td class = ''><%= image_tag product.product_image.url(:extrasmall) %></td>
    <td><%= raw product.name %></td>
    <td class = "nomobile"><%= product.barcode %></td>
    <td class = "nomobile"><%= if product.category != nil then product.category.name else "Unknown" end %></td>
    <td class = "nomobile"><% if product.group.nil? %><% else %><%= product.group.name %><% end %></td>
    <td class = "nomobile"><%= link_to 'View', product, :class => "btn btn-mini" %></td>
    <td><%= link_to 'Edit', edit_product_path(product), :class => "btn btn-mini" %></td>
    <td class = "nomobile"><a href="/admin_referrals?product=<%=product.id%>" class="btn btn-mini">Referrals</a></td>
    <td>
      <% if product.isenabled != 1 %>
        <%= link_to 'Authorize',  product_path(product, :product => { :isenabled => 1}), :method => :put, :class => "btn btn-mini", :confirm => "Are you sure?" %>
      <% end %>
    </td>
    <td class = "nomobile"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>
    
    
   
      
      
  </tr>
<% end %>
</table>

<%= will_paginate @products, previous_label: h("<"), next_label: h(">") %>
</div>

