emailsent = '<%= session[:emailstatus] %>';

if (emailsent == '1') {

	$('.contacterrors').html('');
	$('input#contactmessage_name').val('');
	$('input#contactmessage_email').val('');
	$('input#contactmessage_subject').val('');
	$('textarea#contactmessage_body').val('');
	$('.dialog-content').remove()
	$('.contacterrors').html('Thank you, we will be in touch soon.');
	$('.contacterrors').slideDown();

} else {
	
	$('.contacterrors').hide();
	$('.contacterrors').html('');
	$('.contacterrors').append('<%= @contactmessage.errors.full_messages.first %> ');
    $('.contacterrors').slideDown();

}





