<div class = "contentpane">

<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :region %>
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
    <div class="field">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div><br>
  
    <div class="field">
    <%= f.label :gps_lat %>
    <%= f.text_field :gps_lat %>
  </div><br>
  
    <div class="field">
    <%= f.label :gps_long %>
    <%= f.text_field :gps_long %>
  </div><br>
  
  
    <div class="field">
    <%= f.label :radius %>
    <%= f.text_field :radius %>
  </div><br>
  
  
  <div class="actions">
    <%= f.submit "Submit location", :class => "btn btn-danger"  %>
  </div>
<% end %>
</div>