<% title ('FRNZY / Edit ' + @location.region) %>	
<% set_meta(:title => ('FRNZY / Edit ' + @location.region), :description => ('FRNZY / Edit ' + @location.region)) %>




<% if current_user %>
<% if current_user.role_id == 1 %>

<div class="navbar">
	<div class="navbar-inner">
		<a href="#" class="subbrand">Edit location</a>
	</div>
</div>


<%= render 'form' %>




<% end %>
<% end %>
