<h1>Listing locations</h1>

<table class="table">
  <tr>
    <th>Region</th>
    <th>Description</th>
    <th></th>

  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.region %></td>
    <td><%= location.description %></td>
    <td><%= link_to 'Show', location %></td>

  </tr>
<% end %>
</table>

