<% if current_user %>
<% if current_user.role_id == 1 %>

<div class="navbar">
	<div class="navbar-inner">
		<a href="#" class="subbrand">Add new location</a>
	</div>
</div>

<%= render 'form' %>


<% end %>
<% end %>