
var $newItems = $('<%= j render(@combinedproductsandtroops) %>');
$('#content').isotope( 'insert', $newItems );

<% if @combinedproductsandtroops.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate(@combinedproductsandtroops) %>');
<% else %>
  $('.pagination').remove();
<% end %>



