<% title ('FRNZY / ' + @location.region) %>	
<% set_meta(:title => ('FRNZY / ' + @location.region), :description => ('FRNZY / ' + @location.region)) %>
    

    
<% unless @combinedproductsandtroops.empty? %>
<div id="content" class = 'isotopeholder isotopeholderblank'>
<%= render @combinedproductsandtroops %>	
	</div>
	<% else %>
	<div class="contentpane nopaddingplease">
<span style="font-size: 1.1em">Oops! We don't seem to have what you want, <a href = "/products/new"> click here to add the product you were looking for</a>.</span>
	</div>
	<% end %>
     
     <div id = "endlesspagination">
<%= will_paginate @combinedproductsandtroops, previous_label: h("<"), next_label: h(">") %>
</div>




