<link rel="stylesheet" href="/adminbootstrap/bootstrap.min.css" />

<div class = "boostrap_admin_menu">

<% title ('FRNZY / Locations') %>	
<% set_meta(:title => ('FRNZY / Locations'), :description => ('FRNZY / Locations')) %>


<% if current_user %>
<% if current_user.role_id == 1 %>

<div class="navbar admin_nav">
	<div class="navbar-inner">
		<a href="#" class="subbrand">Listing all locations</a>

<%= link_to 'New Troop Location', new_location_path, :class => "btn btn-danger" %>

<%= render 'shared/admin_menu' %>
    
    
	</div>
</div>
<table class = "table">
  <tr>
    <th>Region</th>
    <th>Description</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Radius</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.region %></td>
    <td><%= location.description %></td>
    <td><%= location.gps_lat %></td>
    <td><%= location.gps_long %></td>
    <td><%= location.radius %></td>
    
         <td><%= link_to 'Show groups in this location', location, :class => "btn btn-mini" %></td>
    <td><%= link_to 'Edit', edit_location_path(location), :class => "btn btn-mini" %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger" %></td>




  </tr>
<% end %>
</table>

<br />


<% end %>
<% end %>
</div>