<!DOCTYPE html>
<html lang="en">
  <head>

    <title><%= yield(:title) %></title>
     <%= display_meta(:keywords => "default,keywords", :description => "default description") %>
     <%= stylesheet_link_tag    "application", :media => "all" %>
     <%= javascript_include_tag "application" %>

    <meta charset="utf-8">
    <!--Meta Tag-->
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <%= metamagic %>
    
    <!--Meta Tag-->
    <script type="text/javascript" src="/Modernizr.js" ></script>
    <!--CSS Files-->
    <link rel="stylesheet" href="/webapplinks/css/font-awesome.min.css" />
    <!--CSS Files-->
  </head>

  <body>

    <%= render 'shared/zette_menu' %>

    <% if current_page?(root_path) %>
      <div id = "banner_ad">&nbsp;</div>
    <% end %>

    <div class="white-wp" style = "padding-top:60px !important;">
      
      <div id = "isotope_products" class = "container-fluid container-fluid2">
          <div class="sectionhead clearfix" style = "display:none;">Showing all products + offers
              <select name="test" >
                 <option value="">Filter by:</option>
                 <option value="">Most recent</option>
                 <option value="">Most popular</option>
                 <option value="">Feed FRZY</option>
                 <option value="">Deals ending soon</option>
                 <option value="">We need you</option>
              </select>
          </div>
          <div class = "row">
            <div style="margin-left: 0% !important;margin-right: 0% !important;width: 100% !important">
              <% flash.each do |name, message| %>
                 <div class="alert alert-info flash_<%= name %>">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <%= message%>
                 </div>
              <% end %>
              <%= yield %>
           </div>
          </div>
      </div>
    </div>

    <%= render "shared/modals" %> 
    
    <%= yield :script %>


  <!--   <div class="footer_links_wrapper">
       <div class="footer_links_wrapper_inner">
        <a href="/how_it_works">How it works</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
        <a href="/pages/contact-us/">Contact Us</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="/pages/terms-and-conditions">Terms and Conditions</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a href="/pages/privacy-and-cookies">Privacy and Cookies Policies</a>
        
       </div>
    </div> -->


  </body>
</html>

